[2017-05-02 13:13] alexflav23 commented on #674
Hi @wi101 Why not just remove the `fromRow`?

[2017-05-02 14:22] alexflav23 commented on #674
You can also do:

[code]

[2017-05-02 14:22] #674 closed

[2017-05-02 15:32] wi101 commented on #674
@alexflav23 you're right! thank you :)

[2017-05-02 16:25] wi101 commented on #674
I try this but I got: com.datastax.driver.core.exceptions.InvalidQueryException: Non-frozen UDTs are not allowed inside collections: set<tuple<int, text>>

[2017-05-05 08:47] AnatoliiStepaniuk opened #675 "How do remove a key-value pair from Map column?"
As I can see from the code https://github.com/outworkers/phantom/blob/37eccb3f9e1a2f5ed44f20020bffa6bcc8179f68/phantom-dsl/src/main/scala/com/outworkers/phantom/builder/ops/Modify.scala#L171-L192

Map Column supports `set`, `put` and `putAll` operations. But how can remove the key-value pair completely?
Thank you for your help!

[2017-05-05 09:58] alexflav23 commented on #675
Hi,

Sorry, this should really be in the docs, I'm going to add a ticket for us to fix that.

[code]

Regards,
Flavian

[2017-05-05 09:58] #675 closed

[2017-05-05 10:00] AnatoliiStepaniuk commented on #675
Flavian, thank you for such a quick response!
It's nice to see the project so alive!

[2017-05-05 10:24] AnatoliiStepaniuk opened #676 "Modeling table with frozen collections columns in Scala"
How can I model a table like this in Scala?
[code]
A line like this (without `frozen` keyword):
`object items extends MapColumn[Int, List[Double]](this)`
results in obvious error `Non-frozen collections are not allowed inside collections: map<int, list<double>>`.
Unfortunately could not find example of using frozen collections in documentation. Is it available in opensource version of Phantom?

[2017-05-05 10:26] alexflav23 commented on #676
Hi Anatolii,

Thank you for reporting this!

I see, yes it should be OSS And everything, and it should be automated. Would you mind sharing the schema DSL with me? I will have a look, there are a few bugs around this apparently and I'll capture them in one ticket and do a fix today.

Regards,
Flavian

[2017-05-05 10:36] AnatoliiStepaniuk commented on #676
Thank you, Flavian!

Hope this is helpful:
I would like to model a table like this:
[code]
And I've tried this code (I should have used **frozen** somewhere here, but not sure how to do that - please advice me on this):
[code]

[2017-05-05 11:37] AnatoliiStepaniuk commented on #676
@alexflav23 Do you mean, that after the fix I should be able to just use ` object items extends MapColumn[Int, List[Double]](this)` without need to put a **frozen** keyword?
Or should I manually describe what exactly I want to be frozen? (in this case, can you please give an example on how it can be used?)

[2017-05-05 15:53] alexflav23 commented on #676
Hi @AnatoliiStepaniuk Fixed in 2.7.6, should be on Maven Central within 1 hour or so.

[2017-05-05 15:53] #676 closed

[2017-05-09 17:22] AnatoliiStepaniuk opened #678 "A complete example for nested collections?"
Hello! Could you please suggest adding a complete example of nested collections into Phantom documentation and/or source code? I run into several issues trying to model Map[Int, List[Double]] with `Phantom 2.7.6`, as described bellow.
When I try a straight-forward model like this:
[code]
It compiles fine, but calling the `getItemNotRatedByUser` method results in error
`CodecNotFoundException: Code

[2017-05-09 17:23] alexflav23 commented on #678
Hi @AnatoliiStepaniuk Wait for #668, which should land very shortly, we will no longer use `CodecRegistry` at all,`TypeCodec` is an abomination.

[2017-05-10 14:25] melodious commented on #644
@alexflav23 Is this change in the latest release?

[2017-05-10 14:27] alexflav23 commented on #644
Still blocked on #668, last few days of waiting!

[2017-05-16 16:28] alexflav23 commented on #644
@melodious Fixed in 2.8.0, on Maven Central in the next 2 hours! Finally here, query throughput should go significantly up as well!

[2017-05-16 16:28] #644 closed

[2017-05-16 16:29] alexflav23 commented on #678
Hi @AnatoliiStepaniuk Fixed in 2.8.0, going live in the next few hours!!

[2017-05-16 16:29] #678 closed

[2017-05-16 16:52] GRpro opened #681 "Update record that matches multiple where clauses"
Hi,

I am trying to update records that matches multiple conditions but run into issues.
Have the following table definitions:

[code]
The compiler argues

[code]

What I am doing wrong here?
Thanks.

[2017-05-16 16:53] alexflav23 commented on #681
@GRpro What version of phantom are you using?

[2017-05-16 16:54] GRpro commented on #681
The version is 2.7.5

[2017-05-16 17:00] alexflav23 commented on #681
@GRpro You are not paying attention to your code `item.weight` is a `Double` in your case class and a `String` in your phantom DSL schema.

[2017-05-16 17:00] #681 closed

[2017-05-16 17:03] alexflav23 commented on #652
Hi @ksilin Let's give it another try on 2.8.0, you should see huge performance improvements in throughput. I'll update the necessary things in the example you linked to with a PR shortly.

[2017-05-16 19:16] GRpro commented on #681
@alexflav23 , it was a typo here in description, that is because I didn't post the whole piece of code because of complexity and made some changer right here.
I've just updated the description.

Could you please check this again?
Thanks a lot!

[2017-05-17 18:20] GRpro opened #683 "Update record that matches multiple conditions causes a compilation error."
This issue is actually a duplicate of https://github.com/outworkers/phantom/issues/681
It was closed due to my mistake in code but the problem still exists for me.

Could you please help with it?

Thanks!

[2017-05-17 19:08] alexflav23 commented on #683
Hi @GRpro Can you paste your code properly then?

[2017-05-17 19:22] haggy commented on #600
@alexflav23 what's the status on the next release? We are currently blocked because we cannot figure out a way to perform a sum using Phantom. Do you have an available workaround while we wait for the next release?

[2017-05-17 19:22] GRpro commented on #683
Please, find below
[code]
The error is
[code]

[2017-05-18 10:48] alexflav23 commented on #600
Hi @haggy,

Apologies about this, everything is done, 2.9.0 is going live in 2 hours. `sum`, `min`, `max` and `avg` all available by default.

[code]

Regards,

[2017-05-18 16:56] desertigloo commented on #600
Thanks for getting this out -- this is a huge bonus for me using phantom, very excited to implement.

[2017-05-19 22:21] leoromanovsky opened #687 "queryString producing an empty statement for Batch"
Version: 2.9.0

Calling `queryString` on a batch produces `;`

Sample code:

[code]

Result:

[code]

I upgraded to 2.9.0 after seeing a related issue (https://github.com/outworkers/phantom/issues/647) - do you think something else is needed to fix this?

[2017-05-19 22:25] alexflav23 commented on #687
Hi @leoromanovsky,

We have an internal ticket to add this, however I feel obliged to tell you it does require extra work to produce this. Please accept my apologies if I am in any way stating the obvious, but a `BoundStatement` will have an `id` that makes the cluster aware what the query to execute is.

When you call `bind`, a macro is invoked, to automatically generate the necessary code to des

[2017-05-20 00:28] alexflav23 commented on #687
Hi @leoromanovsky,

Ok this will be fixed in the next release, but with a catch. To trigger automated creation of queryStrings for batch statements, you need to:

[code]

This will internally change the behaviour of the macros that generate the serializers, so when you want performance or in the default case, we do not alter the behaviour users rely on. The macros are summoned at the point where y

[2017-05-20 00:53] alexflav23 commented on #687
Hi @leoromanovsky, just waiting on CI now, 2.9.1 will be auto-published shortly. Hope it works for you!

[2017-05-20 01:02] alexflav23 commented on #683
Hi @GRpro,

I finally realised what's wrong here, I think it's worth you reading more about how Cassandra keys work.. Because they are in effect map keys, they can never be updated, so you are "stuck". Upserts to primary keys means you have to re-insert records.

Clustering order keys become part of the primary, because that's how Cassandra orders data inside a partition. Some useful reading may b

[2017-05-20 01:02] #683 closed

[2017-05-20 06:41] leoromanovsky commented on #687
Thanks Flavian!

[2017-05-21 09:58] GRpro opened #688 "Does phantom support counter double columns?"
Hi,

I have a usecase where the floating point value should be continuously updated.
I see there is a support for counter columns https://github.com/outworkers/phantom/wiki/Counter-columns but from the tutorial it is not clear whether we can increment or decrement it by a double value.

Thanks.

[2017-05-21 10:11] alexflav23 commented on #688
Hi @GRpro Counters are of type `Long` or `bigint` and as far as I know Cassandra only allows integer increments and decrements. Link [here](http://docs.datastax.com/en/cql/3.1/cql/cql_using/use_counter_t.html). You can try to increment by another type in `cqlsh` see what happens.

[2017-05-21 10:29] GRpro commented on #688
It seems cassandra really does not support double  float counters:
![image](https://cloud.githubusercontent.com/assets/10188125/26283083/7fb5a458-3e29-11e7-840c-062b4f7f28fa.png)

[2017-05-21 18:49] alexflav23 commented on #688
@GRpro Yep, you should really rely on counters anyway, they don't have a good reputation when it comes to really high scale. People generally prefer aggregation. It would take me far too long to get into all the details, but I will close this issue in the interim.

[2017-05-21 18:49] #688 closed

[2017-05-24 15:06] alexflav23 commented on #687
Hi @leoromanovsky I think I may have confused tickets when reporting progress here, please re-confirm if I have, you were talking about `Batch` I solved the problem for `BoundStatement` :). Apologies, let us know and it will be picked up again!

[2017-05-24 15:09] alexflav23 commented on #647
Hi @dmoston,

We have added an optional debug flag for batch statements. This import has to be available in scope wherever you are calling `bind`, and it will cause the macro generating the parser bindings for prepared statements to produce a debug query.

[code]

As I previously stated in #687:

When you call bind, a macro is invoked, to automatically generate the necessary code to deserialize co

[2017-05-24 15:09] #647 closed

[2017-05-24 15:13] alexflav23 commented on #501
Hi @richbolen Not sure if you've seen this: https://github.com/outworkers/phantom/blob/develop/docs/basics/tables.md#the-name-of-the-table-can-be-controlled-using-namingstrategy

[2017-05-24 15:20] alexflav23 commented on #652
Hi @ksilin Even more performance improvements of huge significance on 2.9.0, we have removed all runtime logic for low level Byte I/O, which should give a huge boost to anything of decent size. Any time/luck trying it out?

[2017-05-25 00:37] alexflav23 commented on #588
Hi @daveinglis,

I can now suggest that you try one of the more recent versions of phantom, 2.9.x respectively. We have implemented huge performance critical features that will massively improve things on a linear basis at client level.

In the interim, I will close this ticket because we have no further details to help us pursue this further and it's been quite a while, but do feel free to re-ope

[2017-05-25 00:37] #588 closed

[2017-05-25 15:39] ksilin commented on #652
Hi @alexflav23, have tried 2.8.1 and can confirm, it works beautifully. Thank you! Will try 2.9 soon, the API changes were in the way of a drop-in replacement.

Do you happen to have an ETA for a 2.12 release of phantom-streams? Our projects are all on 2.12 now, so currently I have to use [alpakka](https://github.com/akka/alpakka) to stream out query results.

[2017-05-26 19:05] alexflav23 commented on #652
H @ksilin, stand by for #693, it should go in today/tomorrow, the build is already passing, I'm just working to re-enable some more sizeable performance tests.

[2017-05-26 22:18] alexflav23 commented on #652
Hi @ksilin Scala 2.12 support now available in 2.9.2. I'm going to close this PR as everything is hopefully fixed!

[2017-05-26 22:18] #652 closed

[2017-05-27 05:26] ksilin commented on #652
Hi @alexflav23, have tried 2.9.1 and 2.9.2. Excited about the perf gains and 2.12 compat. You guys rock!

A micro migration guide for table classes:

[code]

turns to

[code]

the model class does not have to be abstract if you provide `keyspace` & `session`

java 8 time classes (from `phantom-jdk8`) still need to be parametrized by the table.

[2017-05-27 05:39] yleun commented on #579
I also noticed this. Implementing a simple get on a single table while load testing 5 request per a second over a duration of 500 s lead to about 1300 new cluster threads created. Even after completion of the test the play application running phantom to Cassandra, threads were held and not released. Repeated load testing lead to more active threads until out-of-memory exceptions are thrown. Hardco

[2017-05-28 18:50] alexflav23 commented on #579
Hi @yleun,

We won't dismiss this right off the bat especially since there are two people using this already, but I will say I would be extremely surprised if that was the case. Phantom goes through great lengths to encapsulate things like session creation and so on, which aside from a misusage of the DSL should strongly prevent things like that from happening.

The only thing that could make this

[2017-05-29 13:09] yleun commented on #579
Hi Flavian,

Thanks for your prompt response. I really liked Phantom but because I have a hard deadline coming up, we had to move to Quill.
I was in the process of building out a simple sample project that does a simple get and a post with the CassandraConnector over the weekend.
Basically following the example SimpleRecipes, outlined in the project.

I will post a sample project tonite on github

[2017-05-29 13:24] alexflav23 commented on #579
Hi @yleun,

Thank you for that, it's a disappointing reply for us of course, given quill is a vastly inferior tool in so many ways, but it sounds like there is a problem to fix and if indeed there is such a big one internally, we'll be more than happy to release a fix overnight.

I keep wondering if this is to the very basic nature of:

[code]

This is what phantom would give you by default, but I

[2017-05-29 14:24] yleun commented on #579
Hi Alex,

I can totally help with testing if outworkers can provide a fix.

Cheers,
YP

From: Flavian Alexandru [mailto:notifications@github.com]
Sent: May 29, 2017 9:25 AM
To: outworkers/phantom <phantom@noreply.github.com>
Cc: Yuen-Ping Leung <YLeung@loyalty.com>; Mention <mention@noreply.github.com>
Subject: Re: [outworkers/phantom] Very high cpu usage after running tests (#579)

Hi @yleun<http

[2017-05-30 00:27] yleun commented on #579
Sample project is here:

https://github.com/yleun/cassandra-loadtest

See README for details.

[2017-05-30 02:47] yleun commented on #579
The latest commit has a side by side comparison of performance between Quill and Phantom. At about 40 request phantom requests dies because my cpu has run out of threads.

https://github.com/yleun/cassandra-loadtest/blob/master/loadtest/phantom/results/groupbygroupid-1496110540024/index.html

https://github.com/yleun/cassandra-loadtest/blob/master/loadtest/quill/results/groupbygroupid-149611027044

[2017-06-07 16:10] manumena opened #696 "Deleting all rows that match one of many primary keys, using ifExists"
Hi, I want to do a delete query where I know one of the primary keys and then return true if the deletion was successful or false if not. To do so I'm trying this

    def delete(userId: String): Future[Boolean] = {
        val result = delete().
            where(_.userId eqs userId)
            .ifExists
            .future()

        result.transform(_.wasApplied(), ex => throw DatabaseQueryExc

[2017-06-07 16:12] alexflav23 commented on #696
`select.count` before the delete query? The performance penalty is minimal since you delete a partition at a time anyway.

[2017-06-07 16:17] alexflav23 commented on #696
I'm going to close this ticket as it's not related to phantom, but to your very particular schema and the fact that it sounds like it doesn't match requirements just yet. In the way it's currently designed, you need to batch deletes for every row inside the user partition.

[2017-06-07 16:17] #696 closed

[2017-06-08 00:24] alexflav23 commented on #687
Hi @leoromanovsky,

Fixed for the next release, batches now automatically print their query strings. Blocked on #695, but we'll do a separate release if that drags beyond Friday.

Regards.

[2017-06-08 00:26] alexflav23 commented on #614
Hi @PatrickRoumanoff @ggcampinho We are working hard on a far more powerful SBT module that allows you to choose a testing backend between CCM and Embedded Cassandra, and that will also streamline the entire logging mechanism, specify a Cassandra version, a cluster size, and more, all from within SBT config.

It will also give you the ability to initialise schemas using SBT, as well as dump the en

[2017-06-08 09:22] klpx opened #697 "Optional counter"
Counter column in cassandra by default contains nothing (`null` for selecting).
So if value is not initialized i've got:
[code]

[2017-06-08 14:14] alexflav23 commented on #697
Hi @klpx Just want to confirm which version of phantom you are using.

[2017-06-09 13:43] klpx commented on #697
Hi! I use 2.9.1

[2017-06-11 20:58] alexflav23 commented on #687
Hi @leoromanovsky Fixed in 2.10.0, which also fixes runtime errors calling the `store` method through some implicit macro machinery.

[2017-06-11 20:58] #687 closed

[2017-06-12 00:40] alexflav23 commented on #608
Hi @git4sun,

We have reached the point where implementing this is very feasible, as we now have implicit machinery that's capable of generating extractor types from a table and typechecking them in advanced scenarios.

But before going further here, there are a few interesting scenarios to account for:

- What should the input type of an update method be?
- If let's say your table has multiple st

[2017-06-14 06:31] anchakrab opened #699 "Update Query having Using Clause with custom Timestamp"
Is there a way to use USING TIMESTAMP for an UPDATE query in phantom? I have an update query as --
[code]
I am trying to see if I can update records only for cases where cell timestamp is latest (to avoid race condition issues), with something similar to what we have for INSERT queries --
```.using(new UsingClause.Condition(CQLQuery(s"TIMESTAMP ${dto.someAttribute.getMillis * 1000}")))```

[2017-06-14 12:24] alexflav23 commented on #699
What's wrong with using `timestamp` method on `UpdateQuery` ? You can either pass the timestamp as a long or as an `org.joda.time.DateTime`.

[code]

[2017-06-14 12:27] alexflav23 commented on #473
@mmatloka @husam-otri @git4sun SASI support finalising on #698, should be live this week in phantom 2.11.0.

[2017-06-14 12:47] alexflav23 commented on #699
@anchakrab This is already available in phantom, the only thing I can think of is that your version of phantom may be too old. I'm going to close this ticket as it would appear it's a solved problem.

[2017-06-14 12:47] #699 closed

[2017-06-14 18:42] anchakrab commented on #699
I am using latest phantom 2.10.0 version. With this approach I am getting following exception --
[code]
So the question is, how to use `IF EXISTS` and `Custom TIMESTAMP` in the same `UPDATE` query?

[2017-06-14 18:44] alexflav23 commented on #699
@anchakrab You obviously can't it seems, cause that's a Cassandra error. Are you saying the same query works if you execute it as a string?

[2017-06-14 18:47] anchakrab commented on #699
My query looks like --
[code]

[2017-06-14 18:49] anchakrab commented on #699
Cassandra query doesn't work as well. So wanted to know if Phantom has a work around for this.

[2017-06-14 18:49] alexflav23 commented on #699
@anchakrab Why are you multiplying milliseconds by 1000 if Cassandra expects UTC timestamp in millseconds? Nope, Phantom has no workaround unfortunately.

[2017-06-14 18:56] anchakrab commented on #699
We can ignore the multiplication in the example (was doing for a different reason), not multiplying doesn't resolve the problem though. So if there is no workaround for this, what would be the ideal way to update data into cassandra when I don't want an UPSERT behavior (i.e. I want to use IF EXIST) as well as I want to ensure updates don't happen with older data coming in at a later time (CUSTOM T

[2017-06-14 20:55] alexflav23 commented on #473
Fixed in 2.11.0, live on Maven Central shortly.

[2017-06-14 20:55] #473 closed

[2017-06-14 23:03] prettynatty opened #700 "Unable to use ADT tables"
After upgrading from 2.1.1 to 2.10.0 we've got the following warning from the compiler:
[code]

that happens because we have a `sealed trait AccessInterval`, two case classes extending it and a `AccessIntervalTable extends Table[AccessIntervalTable, AccessInterval]` with a custom `fromRow` which returns one of the two children of AccessInterval.

Is it possible to implement such pattern in 2.10.0?

[2017-06-15 01:46] git4sun commented on #473
This is great. We've been waiting for this. Thanks @alexflav23

[2017-06-15 09:58] prettynatty commented on #700
Right now class fiends are detected by macros for case classes and tuples.
I could contribute a fix if we agree on API. For example, we could annotate fields applicable to a cassandra schema.

[2017-06-15 10:43] alexflav23 commented on #700
Hi @prettynatty,

You can still use ADT tables, someone asked us for them before, but you will have to manually define `fromRow` and `store` method. The macro doesn't traverse the ADT hierarchy. We are considering to add support for feeding in `HLists` and `Coproducts` from Shapeless to `Table`, so in the future it may be possible to do this natively, though currently it isn't possible to derive a

[2017-06-16 11:33] alexflav23 commented on #579
Hi @aludwiko,

After a lot of further investigation, including running the above loadtest in depth, this issue is related to Embedded Cassandra rather than to phantom. We are working on completely replacing that part of the testkit with a for more advanced alternative that no longer uses embedded Cassandra, and instead relies on other tools to achieve the same purpose and much more.

With regards

[2017-06-16 11:33] #579 closed

[2017-06-16 15:24] oschrenk commented on #649
Did somebody find a way to silence the log?

I put a `log4j.properties`, `log4j2.xml` and a `logback-test.xml` in `src/test/resources` and none of them is picked up.

@alexflav23 Can you be more specific what you mean with "expects a Log4J configuration in scope"?

[2017-06-16 17:33] alexflav23 commented on #649
Hi @oschrenk The one we used in the past was `log4.properties` with the old school DSL, and that seemed to do the job, it needs to be in `src/test/resources` for every module that's running embedded Cassandra tests, if I remember that correctly.

We have dropped this plugin entirely, as Embedded Cassandra isn't very reliable or interesting, and we are working on a replacement tool for it. I've out

[2017-06-18 12:15] husam-otri commented on #473
Great thanks @alexflav23

[2017-06-19 17:11] yleun commented on #579
Hi Alex,

Thanks for working into this. I can test it tonite.
FYI all my load testing was done on one of a localhost 3.10 version of Cassandra and AMI EC2 instance on Amazon in a Docker container with Cassandra 3.7.

I did NOT do any load testing on the embedded Cassandra instances.

Thx,
YP

From: Flavian Alexandru [mailto:notifications@github.com]
Sent: June 16, 2017 7:33 AM
To: outworkers/phant

[2017-06-20 01:13] yleun commented on #579
Hi Alex,

I am running against my local host:

OS X El Capitan, Version 10.11.1, MacBook Pro, Processor 2 GHz, Memory 8 GB

with the following software version:

apache-cassandra 3.10

phantom 2.9.2

scala 2.11.8

sbt 0.13.13

I am NOT running the embedded cassandra. I don't think the problem is fixed. Below I enumerate many repeatable and observable ways for anyone to recreate the errors I am exp

[2017-06-20 02:15] yleun commented on #579
[outworkers/phantom] Very high cpu usage after running tests (#579)

[Draft]
This message hasn't been sent.Saved on: Mon 6/19/2017 10:07 PM
Also I changed my load test to only do POST that is only inserts without any finds as not to create this invalid query error and still I ran into the same problems.

I get the connection error, can post before load test but cannot post after load test and memo

[2017-06-20 08:54] alexflav23 commented on #579
@yleun Have you merged my updated code?

[2017-06-20 13:22] yleun commented on #579
Hi Alex,

Also I changed my load test to only do POST that is only inserts without any finds (selects) as not to create this invalid query error and still I ran into the same problems.

I get the following symptoms

-        connection error in load test

-        can post before load test but CANNOT post after load test

-        memory is not released through 'ps aux' command

thx,
YP

From: Yue

[2017-06-20 16:10] wi101 opened #703 "insert JsonColumn using preparated statement"
using 2.11.1, the JsonColumn does not work with preparated statement. This is an Example:
[code]
[code]
[code]
 I get this compile error:
[code]

[2017-06-20 19:05] drewrobb commented on #622
Hi @alexflav23, I don't think this issue should actually be closed-- the feature you mentioned `NamingStrategy` is for table naming, whereas the issue here is about column naming. As far as I can tell there still isn't a great way to handle cased column names?

[2017-06-20 19:06] alexflav23 commented on #622
Hi @drewrobb That's a great point, an oversight on my part. That will land shortly.

[2017-06-23 11:33] alexflav23 commented on #703
Hi @wi101,

This is now fixed in 2.12.0, which will be published today. Json columns are changing, you will no longer provide a `fromJson` and `toJson` method, instead that will be defined in a derived json Primitive.
[code]

`JsonColumn` and the whole lot are now nothing more than type aliases, and the actual implementation has been completely removed from the framework. This was done because the

[2017-06-23 12:29] wi101 opened #706 "Preparated statement doesn't work with Primitives"
using 2.11.1, This is an Example:
[code]
[code]
[code]
 I get this compile error:
[code]

[2017-06-23 12:30] alexflav23 commented on #706
#705 Isn't merged yet..

[2017-06-23 12:30] #706 closed

[2017-06-23 14:37] alexflav23 commented on #703
Fixed in `2.12.0`, live in 2 hours on Maven Central.

[2017-06-23 14:37] #703 closed

[2017-06-27 22:43] inbanerj opened #708 "Unable to connect to Cassandra over SSL/TLS"
Our application is build in scala2.12 and Akka, it is connecting to Cassandra using Phantom Adapter it is working fine without SSL. once the SSL is enabled in the Cassandra database, we tried to connect using the trust-store it is not accessible. we are using the java options to pass the trustStore getting a error as follows:
======================================================
sbt -Djavax.net.d

[2017-06-27 23:03] alexflav23 commented on #708
There is very little we can do to help externally with this issue, I think the error has nothing to do with phantom but to do with a potentially misconfigured trust store.

I'd start here:

[code]
In the future please note it's difficult to give help on issues where we do not have the code and means to reproduce and as a result in spite of best attentions we generally cannot be helpful and do not

[2017-06-27 23:03] #708 closed

[2017-07-04 14:51] ManiacViper opened #710 "option to force an individual query to be idempotent (for retries)"
The idempotent flag right now can be set on the cluster but not on the statement level via Phantom.

This is allowed by the Datastax Cassandra driver but seems to be difficult to pass down via the Phantom driver.

This is needed to enable retries for idempotent write queries and some exceptions that are not retried by default for a read query.

[2017-07-04 16:10] alexflav23 commented on #710
@ManiacViper All the query methods on the underlying driver are exposed through the following syntax. I'll add a ticket to improve documentation on this, we know it's not as good as it should be, thank you for reporting this.

[code]

[2017-07-04 16:40] ManiacViper commented on #710
Oh okay, can I pass in the flag via the streaming module too? is there a
mechanism to do that?

On Tue, 4 Jul 2017 at 17:10 Flavian Alexandru <notifications@github.com>
wrote:

[2017-07-05 10:22] alexflav23 commented on #710
Hi @ManiacViper, I don't think there is off the top of my head, would you like to post the example query you are after and we'll add the missing functionality. I closed the ticket as you didn't specify streaming, but happy to re-open if you can post a code example of what you expect to see.

[2017-07-05 10:24] alexflav23 commented on #700
Hi @prettynatty, going to close this and open a new ticket, since what you are seeing are just compiler warnings if that's ok. We have added internal tickets to track and implement coproduct support for both shapeless and iota libraries through separate modules, but that doesn't sound like something that's absolutely required for you to progress right now.

[2017-07-05 10:24] #700 closed

[2017-07-05 13:54] ManiacViper commented on #710
Hi @alexflav23, I'm using streams.publisher().
[code]

 is there a way of setting it on the implicit Session maybe? if not I can look into it myself and have a PR soon for this if you want. Looked quickly into it and it looks like QueryOptions is the appropriate place maybe and could use that type as another implicit parameter in publisher method.

[2017-07-05 13:56] alexflav23 commented on #710
HI @ManiacViper,

You seem to be using it wrong, you should not have to provide any of those references explicitly, instead opt for using a `Database` wrapper class. That aside it's fine, we can definitely add the requested method signature. In the interim have a look [Database](https://github.com/outworkers/phantom/blob/develop/docs/basics/database.md).

Regards,

[2017-07-06 00:05] rtatavarty commented on #697
I am using 2.12.1, facing the same issue. Any workaround (like substituting OptionalLongColumn) available for this?

[2017-07-06 00:06] alexflav23 commented on #697
Hi @klpx @rtatavarty ,

We are patching this up tomorrow, apologies for the delay!

Regards,

[2017-07-06 19:21] rtatavarty commented on #697
Thanks @alexflav23 for the info!

[2017-07-07 21:41] hottelet opened #711 "cassandra port number"
Please provide the port number for the cassandra instance that runs when using SBT, and then Run.  I am using DevCenter, and need the login credentials, and port number, for localhost.  I tried port 9042, however, DevCenter can not connect:
The specified host(s) could not be reached.
All host(s) tried for query failed (tried: localhost/127.0.0.1:9042 (com.datastax.driver.core.TransportException: [

[2017-07-08 11:31] alexflav23 commented on #711
9142

[2017-07-08 11:31] #711 closed

[2017-07-10 07:06] alexflav23 commented on #614
Hi @PatrickRoumanoff Fixed as of 2.12.2 that should be live shortly, the SBT plugin is now auto-published. It still has all the common pitfalls as we are investing heavy development effort into the more advanced Cassandra integration setup inside pro, but at least it will get the job done.

[2017-07-10 07:06] #614 closed

[2017-07-10 11:45] 123avi opened #713 "Removing "this" on dao fails to compile"
Hi,
I am using phantom `2.1.3` , IDE intellij
this how my mapping looks like:

[code]
however when I remove `(this)` (as shown in the doc) it fails to compile, and weirdly it also mark the `(this)` on the `MapColumn` as "Not applicable"

[2017-07-10 11:50] 123avi opened #714 "broken links on home page"
["A series on Cassandra: ..."](http://outworkers.com/blog/post/a-series-on-cassandra-part-1-getting-rid-of-the-sql-mentality) links are broken and yield `The Requested URL /blog/post/... was not found on this server`

[2017-07-10 13:00] alexflav23 commented on #713
Hi @123avi You are not following the doc properly, your version of phantom is too old and you need to mix in `Table` instead of `CassandraTable` to benefit from this new compact DSL. Try using `2.12.3` instead.

[2017-07-10 13:00] #713 closed

[2017-07-11 07:29] 123avi commented on #713
Thanks !

[2017-07-17 12:52] alexflav23 commented on #714
Hi @123avi this has now been fixed.

[2017-07-17 12:52] #714 closed

[2017-07-17 14:03] alexflav23 opened #716 "Introduce `groupBy` support in SELECT queries."
Cassandra 3.0.x introduces support for `GROUP BY` clauses as part of CQL statements. Add support for such queries in phantom. The details of its usage are found [here](https://howtoprogram.xyz/2017/02/18/using-group-apache-cassandara/).

[2017-07-17 14:35] Rajitha15 commented on #716
Could you please give some guidelines how to user group by using phantom. i am waiting for this from last week.

[2017-07-17 14:46] alexflav23 commented on #716
Hi @Rajitha15 this is currently not supported in phantom and we are working to implement it as part of the next release which should happen shortly. Watch this space for updates.

[2017-07-18 16:35] 123avi opened #717 "Using f"

[2017-07-18 16:36] #717 closed

[2017-07-18 16:39] 123avi opened #718 "Using user defined functions"
Hi I want to use user defined function in order to update two tables in the same round trip. is creating UDF or calling existing UDF supported in Phantom ? I couldn't find it in the documentation

[2017-07-19 09:01] alexflav23 commented on #718
Hi @123avi Phantom does support UDF, however not as part of the open source version of phantom. You will need to purchase a subscription for phantom-pro and that will include native UDT/UDF/UDA support.

[2017-07-19 09:01] #718 closed

[2017-07-21 15:58] NicolaeNMV opened #724 "Understanding "Found multiple possible matches for" log message"
Hello there,

I was wondering what's the meaning of "Found multiple possible matches for" that appears during the compilation time.

Here I am running phantom-example tests, and got this output:
[code]
Link to the referenced code: [SimpleRecipes.scala:50](https://github.com/outworkers/phantom/blob/develop/phantom-example/src/main/scala/com/outworkers/phantom/example/basics/SimpleRecipes.scala#L50)

[2017-07-21 16:07] alexflav23 commented on #724
Hi @NicolaeNMV, we are working on an implicit mechanism that will turn off all debug output by default, so in the next versions you will only see error logs. This is an unfortunate quirk of the Scala compiler, which is not meant to display `INFO` level logs by default during macro expansion, unless you explicitly enable them with a compiler flag.

However, the compiler itself does not respect the

[2017-07-21 16:31] NicolaeNMV commented on #724
Sounds like a good idea, thanks for a prompt answer !

[2017-07-21 16:31] #724 closed

[2017-07-24 07:28] EddyP23 opened #726 "How to import Phantom in IntelliJ"
I cloned the whole project and I am trying to import it in IntelliJ, but I get the following error:
[code]

Any ideas how I should fix this?

Some details:
IntelliJ v2017.1.5
JDK 1.8.0_131

[2017-07-24 07:29] alexflav23 commented on #726
Hi @EddyP23 Please phrase your question better, I don't really know what you want based on the title of this.

[2017-07-24 07:30] EddyP23 commented on #726
Yes, sorry, I misclicked and posted the question without the body :(

[2017-07-25 06:11] EddyP23 commented on #726
It seems like it is not IntelliJ problem. I guess, it's more of a windows compatibility issue. When I try to run `sbt compile` I get a very similar exception:

[code]

I am on Windows 10.

[2017-07-25 06:23] EddyP23 commented on #726
OK, it turns out it is a windows issue. Colon is not allowed in file names in windows, but it is allowed in Linux/Unix systems (simplest source: https://stackoverflow.com/a/31976060/5018962).

It would be much appreciated, if this could be solved at some point.

[2017-07-25 08:48] alexflav23 commented on #726
Hi @EddyP23,

We didn't realise that would be a problem, but that's something we control and that's invisible to the user so we can certainly rename that operator. Thank you for the bug report, it will be fixed as part of the next release.

Regards,
Flavian

[2017-07-27 09:13] alexflav23 commented on #726
Hi @EddyP23 This is being fixed in the next release, it will be on Maven Central shortly.

[2017-07-27 09:13] #726 closed

[2017-07-27 09:23] alexflav23 commented on #697
@rtatavarty @klpx Fixed in 2.13.1, it will be live today on Maven Central.

[2017-07-27 09:23] #697 closed

[2017-07-28 15:16] Rajitha15 commented on #716
Could you please update me on this?

[2017-08-02 14:24] manypozo opened #730 "Struggling with ExecutionContextExecutor over the DSL model."
Hi guys,

I am trying out Phantom for a simple project but I am continuously having issues with the implicit ExecutionContextExecutor. I am trying to follow the guides from the GitHub basics, but it seems I am missing some points.

My code is shared in this [GistHub](https://gist.github.com/manypozo/42b23ee005c756843178171da607e64b)

Somehow it seems like my `abstract xxModel extends Table[] with

[2017-08-02 14:33] alexflav23 commented on #730
Hi,

`import com.outworkers.phantom.dsl._` will provide you with a default `ExecutionContextExecutor` so that's pretty trivial. `ExecutionContextExecutor` is just a bridge between Java and Scala execution contexts so we can use it interchangeably internally when converting Guava futures returned by Cassandra's Java Driver to Scala futures, nothing more, so you can even provide your own implicit, b

[2017-08-02 14:33] #730 closed

[2017-08-02 14:34] alexflav23 commented on #716
Hi @Rajitha15 this is being resolved as we speak, and the PR should be ready this weekend. It ended up requiring quite a lot of work and re-write to support properly, but it will be there very shortly, apologies for the delay, we will get you what you need.

[2017-08-02 14:35] alexflav23 commented on #710
Hi @ManiacViper We are fixing this in the new phantom by replacing the generation mechanism with a free monad like interface. In short, we are implementing consistent options across all execution backends, including Scala Futures, Streams, Twitter Futures, Twitter Spools, Akka Streams, Play iteratees and the newly implemented Monix support.

[2017-08-02 15:45] manypozo commented on #730
Hi,
I came up with the same conclusion right now actually.
I was wondering if the `ExecutionContextExecutor` was implicitly imported by one of these packages, so I started to verify all my imports one by one. It seems to work now =]

I am not sure if I read about the implicit import from `com.outworkers.phantom.dsl._` in the basics.md, section "Database is designed to be the final level of encapsu

[2017-08-09 20:21] fggarcia opened #732 "implicit binder in ttl prepare statement"
[code]

Output on compile:

could not find implicit value for parameter binder: com.outworkers.phantom.macros.BindHelper[(String, java.nio.ByteBuffer, scala.concurrent.duration.FiniteDuration)]
[error]       insertPreparedStatement.bind(id, jsonValue, ttl).future()
[error]                                   ^
[error] one error found
[error] (compile:compileIncremental) Compilation failed

if i remo

[2017-08-09 23:36] alexflav23 commented on #732
Hi @fggarcia Thank you for this bug report, we will take care of it as soon as possible.

[2017-08-10 02:20] fggarcia commented on #732
The last one. 2.13.4

[2017-08-12 03:29] wsargent opened #733 "Integrating Phantom with Opentracing"
I'm looking to see how to integrate the java-cassandra-driver for opentracing with Phantom.

The Java API expects to wrap Cluster, and takes an Initializer:

[code]

https://github.com/opentracing-contrib/java-cassandra-driver#usage

But there doesn't seem to be an accessible way to do this from Phantom -- the closest I've found is extend the SessionProvider:

[code]

But from there, it doesn't se

[2017-08-14 09:38] alexflav23 commented on #733
Hi @wsargent,

There's probably a far far easier way to expose this from within phantom, let us think of a way to include it in the next release,  sounds like all you need is access to that session initialiser, we can de-couple that implementation and allow you to deal with it from within the phantom builder itself.

Regards,

[2017-08-14 10:33] alexflav23 commented on #732
@fggarcia I'm unable to replicate this bug, is there any way you could provide the schema? In the tests we have mixing TTL with prepared statements and consistency levels works, which means you may have a type mismatch on your end possibly.

[2017-08-14 10:35] alexflav23 commented on #732
Also I hope this code isn't really in your application, you are calling two asynchronous actions and returning `Unit`???

[code]

Maybe it should be:

[code]

Triggering futures and returning unit is about as rookie as it gets otherwise..

[2017-08-14 13:35] fggarcia commented on #732
Hi @alexflav23, thanks for advise.

Attach more code. Maybe you see something wrong

[code]

[2017-08-15 14:30] alexflav23 commented on #732
Here's your problem:

[code]

Means you need to do:

[code]

Basically `jsonValue` is not of type `ByteBuffer`, `jsonValue.array()` is. You need those types to match to successfully bind.

[2017-08-15 16:00] fggarcia commented on #732
Hi @alexflav23 I change HotelRecord.jsonValue to ByteBuffer type and ttl from FiniteDuration to Int. Compile!!

Thank you so much.

Close the issue

[2017-08-15 16:00] #732 closed

[2017-08-15 17:41] wsargent commented on #733
Thanks!  I know that working with a type safe builder pattern can be involved -- what I've done in the past has been to use a trait with an abstract type member Self:

https://github.com/playframework/play-ws/blob/master/play-ws-standalone/src/main/scala/play/api/libs/ws/StandaloneWSRequest.scala#L14

so implementations can return the subtype:

https://github.com/playframework/play-ws/blob/master/

[2017-08-21 19:20] DrClick opened #738 "Cant create collection column of Tuples"
I am struggling to find a way to create a collection column with Tuples. This is supported natively in cassandra.

Here is my DSL code:

[code]

all works as long as I don't uncomment the line about points. When I do I cant compile. I seem to be at a loss here.

[code]

[2017-08-21 21:37] #738 closed

[2017-08-21 21:37] DrClick commented on #738
nevermind.... points.toList

[2017-08-21 21:51] alexflav23 commented on #738
@DrClick Why not just use `storeRecord` which is auto-generated? You don't need to write your own manual insert if you don't want to if your case class field types match the DSL ones. You would need to change points to `List` in your case class for that.

[2017-08-24 16:07] 123avi opened #740 "Request/Suggestion - make SelectQuery types covariant"
Does it make sense to make SelectQuery types covariant ?
This way we can extend the library like this :

[code]

[2017-08-24 16:11] alexflav23 commented on #740
You can already do that, you just need to materialize all the type arguments properly instead of using `_`. In this particular case it will however be impossible to provide a generic return based on an `if else`.

The type of the `LimitBound` argument is important to the other implicit conversions further down. These are called phantom types, and they need to be fully known at compile time, which

[2017-08-24 16:11] #740 closed

[2017-08-24 16:23] 123avi commented on #740
Got it. In the previous version it worked (the code above) and I could actually could do something like
[code]
in version 2.14.1
I had to do something like this to make it which is not very elegant (but does the work, is it have performance impact ?):
[code]

[2017-08-25 00:18] alexflav23 commented on #740
The performance impact should be negligible as long as you make that a value class. With respect to the implementation, I genuinely do not se how it's possible unless you stick to the format in your first example.

The only thing that changes is you now need to `import com.outworkers.phantom.dsl._` where you define your implicit, because the kind of `Future` returned by phantom queries is now tied

[2017-08-25 00:21] alexflav23 commented on #710
@ManiacViper This is now fixed, in the latest `2.14.2` you can augment every single `SelectQuery` to become a streams producer. You can also pass in a statement modifier, like `_.setIdempotent(true)`, when you do that.

Have a look [here](https://github.com/outworkers/phantom/blob/develop/phantom-streams/src/main/scala/com/outworkers/phantom/streams/package.scala#L244), I hope this is the streamin

[2017-08-25 06:46] ManiacViper commented on #710
Hey Flavian. Sorry for the delay in response.
Nice work, this is exactly what I meant,  this is pretty useful for
streaming apps.

Thanks

On Fri, Aug 25, 2017, 01:21 Flavian Alexandru <notifications@github.com>
wrote:

[2017-08-26 14:20] hsn10 opened #743 "Compile error after upgrade from 2.13 to 2.14"
Following code fails to compile after upgrade:
[code]

[code]

[2017-08-26 16:10] hsn10 commented on #743
I did search for first version which broke it, and it start failing in 2.13.5, 2.13.4 works okay. I am missing some import?

[2017-08-27 12:49] GRpro opened #744 "Phantom sometimes cannot connect to Cassandra with ConnectionException"
Sometimes phantom cannot connect to Cassandra host on start. I have a single Cassandra node running locally with default cassandra.yml properties.
[code]

phantom version:
[code]

Connector creation:
[code]
Find logs below.

[code]

[2017-08-27 16:58] alexflav23 commented on #743
Try `import com.outworkers.phantom.dsl._` at the top if you don't already have it. I would not expect the macro to fail based on the version though, so it may well be a bug of sorts. If you could create a gist of the code or maybe share it here, that will be helpful.

I would expectation normal compilation to fail without that import in more recent versions, but not the macro itself, that's odd.

[2017-08-27 20:56] hsn10 commented on #743
https://gist.github.com/hsn10/3ecdc2a59a79ce7df92461508c0824c9

[2017-08-27 22:19] hsn10 opened #745 "phantom-sbt plugin JAR is not at Maven central"
I tried to follow manual at http://outworkers.com/blog/post/phantom-tips-tip2-testing-with-phantom-sbt

After closer look, i discovered that on Maven central is only ivy metadata file - https://repo1.maven.org/maven2/com/outworkers/phantom-sbt_2.10_0.13/2.14.3/ no jar, so even if SBT is happy and does not complain about missing plugin, plugin itself is not working since no JAR was downloaded.

Cor

[2017-08-27 22:25] hsn10 commented on #744
I seen this message _Pool was closed during initialization_ too, but it did not had any negative effect. Application still works fine, no exception is seen from client code. So I assume, its not related  to later connection problem.

Your problem is in Cassandra Java driver itself, not Phantom. It needs to be reported to DataStax bug tracker.

[2017-08-27 22:33] alexflav23 commented on #744
Hi,

Might want to check networking and timeouts first, looks like a connection timeout explicitly happening for whatever reason:

`c.d.d.c.Connection - Connection[/172.25.0.2:9042-2, inFlight=0, closed=false] Error connecting to /172.25.0.2:9042 (connection timed out: /172.25.0.2:9042)`.

[2017-08-27 22:34] alexflav23 commented on #745
@hsn10 SBT jars cannot be published to Maven central since they follow Ivy style resolution. If you read the docs using Bintray is already there.

[2017-08-27 22:34] #745 closed

[2017-08-27 22:37] alexflav23 commented on #743
Is there a compilation log of some kind? If I were to guess it's because the macro is invoked at callsite, you need to move the implicit to the new extending class, it's failing because it's invoked on an empty database probably.

Macros are really bad and inconsistent at displaying compilation logs unfortunately and that's out of our hands, there are error messages that should be clearly visible,

[2017-08-28 10:49] hsn10 opened #746 "Missing cassandra-driver-core dependency for phantom-sbt"
phantom-sbt depends on cassandra unit, but _cassandraunit_ have _cassandra-driver-core_ listed as **optional** dependency so its not pulled automatically into phantom-sbt module. This leads to _ClassNotFoundException_ exception:

[code]

until **phantom-sbt** plugin is updated, workaround it to add dependency to yours _plugins.sbt_ file:

[code]

[2017-08-29 10:24] alexflav23 commented on #595
Hi @peter-empen At this stage the DSL you are after would be difficult to implement and it sounds like it's not longer required anyway. If you experience any problems with this in the future, please feel free to re-open this ticket or reach out via the known support channels.

[2017-08-29 10:24] #595 closed

[2017-08-29 10:27] alexflav23 commented on #710
HI @ManiacViper We've added tests and everything else across the board to check that it is possible to do this properly across the various streaming implementations including reactive streams via `.publisher`, spools, and play iteratees so you should be pretty well covered by now . I'm working on writing some proper docs for this as well so for future use you can something you can refer to .

[2017-08-29 10:27] #710 closed

[2017-08-29 10:28] alexflav23 commented on #746
Hi @hsn10,

Fixed for the next release, thank you for reporting the problem.

Regards,

[2017-08-29 10:28] #746 closed

[2017-08-29 10:35] #744 closed

[2017-08-29 10:35] alexflav23 commented on #743
Hi @hsn10 Has this worked? Just following up to see if the ticket can be closed.

[2017-08-29 10:36] alexflav23 commented on #649
@oschrenk Any luck with this? Just double checking to see if the ticket can now be closed.

[2017-08-29 10:38] GRpro commented on #744
Thank you!

[2017-08-29 14:13] kolemannix commented on #649
@alexflav23 I'll try this out today and let you know.

[2017-08-29 14:32] kolemannix commented on #649
Looks like it did not work - here is the `log4j-test.properties` file I added in `src/test/resources`:
[code]

But I still see debug logs, even from the `org.apache.cassandra.db.Memtable` that I set to `error`. Anything I missed?

[2017-08-29 16:45] oschrenk commented on #649
As far as I remember I didn't have any luck but unfortunately I'm no longer on the project, so I can't retry.

[2017-08-29 18:12] hsn10 commented on #743
this change works okay with manual import of _DatabaseHelper_

[2017-08-30 09:33] alexflav23 commented on #743
@hsn10 I'm not sure what that means exactly.

[2017-08-30 12:46] hsn10 commented on #743
you need to have explicit import statement:

_import com.outworkers.phantom.macros.DatabaseHelper_

[2017-09-10 03:53] git4sun opened #748 "Problem upgrade from 1.28 to 2.14"
My old project was built on 1.28. It doesn't seem to compile with play 2.6.x. So I am trying to upgrade to 2.14. But everything just breaks.

`not found: type UUIDColumn
[error]   object id extends UUIDColumn(this) with PartitionKey[UUID]
`

I have this allover the place. I did `import com.outworkers.phantom.dsl._`. The migration guide doesn't say much about how to do the upgrade. And there is no

[2017-09-10 09:37] alexflav23 commented on #748
Hi @git4sun,

Please refer to [the migration guide](https://github.com/outworkers/phantom/blob/develop/docs/migrate.md#200-migration-guide) for details on this.

Regards.

[2017-09-12 16:03] velotelo commented on #649
Same problem here. Any luck on fixing this anyone?

[2017-09-13 09:06] #748 closed

[2017-09-13 10:18] git4sun commented on #748
Where exactly is this addressed in the migration guide? I didn't find anything on specifics about what package I should import other than the dsl._. Would you mind point me to the lines?

[2017-09-13 15:48] fggarcia opened #750 "Support "in" in prepared statement"
I was looking to build a select query

select * from table_name where partitionId = ? and key In ?

But In operation is not supported for prepared statement in phantom.

Driver support this

https://stackoverflow.com/questions/35069238/how-to-bind-in-clause-values-in-a-cql-3-prepared-statement

[2017-09-13 17:27] loostro opened #751 "Cannot find primitive implementation for class A"
As a follow up on our chat with @alexflav23, it seems I've hit a corner case where implicit `Primitive[List[A]]` is not generated even though it should given an implicit `Primitive[A]` is in scope.

[code]

Tried with versions: `2.13.5` and `2.14.4`, both produced the same results. The code above is a trimmed version. When trying to compile the actual project I am getting error:

[code]

[2017-09-13 17:37] loostro commented on #751
Also tried removeing the `extends AnyVal`:

[code]

Also tried simple types:

[code]

They produced the same compilation error.

[2017-09-13 20:42] loostro commented on #751
As a workaround we've switched to `ListColum[String]` and we're mapping in `fromRow` and all `store/update` methods.

[2017-09-19 09:58] hsn10 opened #752 "phantom-sbt do not works with cassandra 3.10+"
I need higher cassandra version then 3.9 because of bug in cassandra (crash on query). Problem is that cassandra unit can not work out of box with higher cassandra versions then 3.9, so i cant just do _dependencyOverrides_

One line workaround needs to be added to sbt plugin:

https://github.com/jsevellec/cassandra-unit/issues/221

[2017-09-19 20:27] alexflav23 commented on #752
@hsn10 Thank you for the report, we will definitely look into it.

[2017-09-19 21:44] alexflav23 commented on #750
@fggarcia,

Thank you for the bug report, this is indeed not yet supported as it's a bit difficult to do prepared statements mixed with non prepared values in the same set at the type level, but we are working to include it in the next few releases.

Regards.

[2017-09-19 21:48] alexflav23 commented on #733
@wsargent Where is the actual line where the tracer gets used? This has now become top priority and we can deliver the functionality as part of phantom, but I can't really tell rom the above code where it's interplaying with Cassandra, I'm guessing that's inside `OpentracingCassandraConnection`, but that particular code is not found in the things you pasted above.

Please let me know if you can so

[2017-09-20 02:49] wsargent commented on #733
The TracingCluster is part of the opentracing-cassandra-driver, so I've been mapping everything out through there.  OpentracingCassandraConnection is my rendering of https://github.com/outworkers/phantom/blob/develop/phantom-connectors/src/main/scala/com/outworkers/phantom/connectors/CassandraConnection.scala

[2017-09-21 02:49] git4sun commented on #748
@alexflav23 the migration guide is not very helpful in this case. I finally figured out that CassandraTable should be Table. That's why all column types are not recognized.

[2017-09-21 02:50] git4sun opened #753 "Migration to 2.x, enumcolumns doesn't work on eqs and setto"
in UPDATE, SELECT queries, `eqs` and `setTo` doesn't work on EnumColumns. How to change that?

`delete
      .where(_.uid eqs uid)
      .and(_.accountType eqs accoutType)
`

The error message: Type mismatch, expected: TokenConstructor, actual: BindingType

BTW, since `fromRow()` is not there any more, is there a place to customize the frowRow behavior?

[2017-09-21 18:58] hsn10 commented on #752
I was not able to rebuild sbt plugin jar to test suggested workaround. Running publishLocal on sbt plugin created JAR just with manifest, so i updated to latest cassandra unit snapshot to fix problem.

[2017-09-24 20:12] hsn10 commented on #255
Can be this scaladoc updated?

[2017-09-24 20:56] hsn10 opened #754 "if ALLOW FILTERING used allow build query using not indexed columns"
If _ALLOW FILTERING_ CQL clause is used, _any_ not indexed column can be used in query. There are some restrictions depending on C* version for querying partial _PartitionKey_

 t      | email | expired
--------+-------+---------
 323232 |   a@a |       5

I did not found way how to do it in Phantom. Current implementation does not allow queries of not indexed column (which matches cassandra) but

[2017-09-25 00:00] alexflav23 commented on #753
@git4sun Please post the code for that enum problem, I have a suspicion. You can still `override def fromRow` and do whatever you want so yeah it's pretty straightforward to basically throw away what the macro does.

The macro does have a problem and it's not because of us but the Scala Macro lib, which doesn't let us read if the user already implemented this `fromRow` method, cause then we could

[2017-09-25 01:23] git4sun commented on #753
`

    import java.util.UUID
    import com.outworkers.phantom.column.MapColumn
    import com.outworkers.phantom.dsl._
    import play.api.libs.json.{Json, Writes}
    import scala.concurrent.Future
    object AdStatus extends Enumeration{
      type AdStatus=Value
      val Created = Value
      val Published = Value
      val Offline = Value
    }
    object AdModel extends Enumeration{
      t

[2017-09-26 01:38] wsargent commented on #649
It looks like the underlying PhantomSbtPlugin comes from Cassandra-Unit, which uses "/log4j-embedded-cassandra.properties"

https://github.com/jsevellec/cassandra-unit/blob/master/cassandra-unit/src/main/java/org/cassandraunit/utils/EmbeddedCassandraServerHelper.java#L48

https://github.com/jsevellec/cassandra-unit/blob/master/cassandra-unit/src/main/resources/log4j-embedded-cassandra.properties

[2017-09-26 01:55] alexflav23 commented on #754
HI @hsn10 This is an interesting edge case, you are right in saying this should work. If you have a little more time to invest, it would help to get an example Phantom schema with the exact queries you would expect to compile, and I will try to see this through asap for you in return.

Thank you!

[2017-09-26 05:20] git4sun commented on #753
I got it. The `EnumColumn[AdStatus.type]` should be `EnumColumn[AdStatus]`

[2017-09-26 05:20] #753 closed

[2017-09-27 20:31] hsn10 commented on #754
Here is testing case which should compile - https://github.com/hsn10/phantomtest

[2017-09-28 13:47] Vrolijkx opened #756 "TableHelper.inferPrimaryKey does not take into account all collumns"
If you have an abstract table with one or more implementations like below:
[code]

Then if you invoke ```someTable.tableKey``` it will only return ```(partitioningColl, timestamp)```
instead of the expected ```((partitioningColl, extraPartitioning), timestamp)```

This happens because ```com.outworkers.phantom.macrosTableHelper.inferPrimaryKey``` only takes into account the ```TimeseriesTable``` a

[2017-09-29 09:18] alexflav23 commented on #756
Hi @Vrolijkx this isn't really a bug, it's a feature :) We do not openly support inheritance between tables nor do we test for it as the advantage of enabling it in terms of reducing code at the application level is fairly minimal.

If you have a different view of that, it would be interesting to hear more, but for all intents and purposes we do not expect inheritance to work at this very moment,

[2017-09-29 11:34] Vrolijkx commented on #756
@alexflav23 Would be nice if it's documented somewhere that inheritance isn't supported. And I converted back to a flat structure because was bumping also against lot's of other problems with inheritance, especially with prepared statements.

I was hoping to be able to abstract away some date partitioning logic for time series in this parent class so you could query an interval over multiple days(

[2017-09-29 14:08] Vrolijkx opened #757 "Add phantom-streams supported to prepared select queries"
Steam methods like:
[code]
are at the moment not available on prepared queries for streaming.
This because the ```ExecutableQueryStreamsAugmenter``` converter only works on ```SelectQuery``` and not on ```ExecutablePreparedSelectQuery```.

[2017-09-29 15:14] alexflav23 commented on #757
@Vrolijkx You have a point I think, but that's something we can definitely fix quickly, thank you for the bug report. I'll aim to get a release out for Monday with all this.

[2017-09-29 15:17] alexflav23 commented on #756
@Vrolijkx You don't really do a lot of re-using at the moment, as tables don't really offer that in Cassandra it's not something we've considered a lot, and you are not the first to report bugs with it.

Is it such a compelling use case for you as a library user to have that? My thinking is this, inheritance in macros will be a headache to deal with, as it's the kind of low level weird problematic

[2017-10-02 10:32] alexflav23 commented on #757
@Vrolijkx Fixed in 2.15.1, it will be published by CI shortly.

[2017-10-02 10:32] #757 closed

[2017-10-10 18:23] hsn10 commented on #756
If you do not want to support inheritance, you should throw compiler error from macros. Its better then silently doing unexpected thing.

[2017-10-11 10:30] alexflav23 commented on #756
@hsn10 That's fair game, already working on that being done properly, you are absolutely correct this is far from ideal right now.

[2017-10-12 22:56] hsn10 opened #762 "Using tuple type as partition key fails"
If you want to use tuple type as partition key which is case supported by cassandra, it fails in phantom because invalid syntax CQL is generated for table creation. Using tuple in collection, indexed field or non primary key works without problem.

I created sample project https://github.com/hsn10/phantomtest/tree/tuplepkey to reproduce issue

[2017-10-13 00:11] alexflav23 commented on #762
Hi @hsn10 I have a gut feeling this is to do with you deriving tuple primitives which also works by default.

[2017-10-13 00:11] alexflav23 commented on #762
Thank you for taking the time to create this, I will have a look during the weekend and have this fixed.

[2017-10-13 09:29] alexflav23 commented on #751
@loostro The macro call site is compiled outside of the table. In plain English you need to go one scope up, meaning the table should already have those implicits defined. Try a `package object` in your `dao` package or whatever, or a companion object definition.

[2017-10-13 09:30] alexflav23 commented on #751
@loostro Sorry for the delay in getting back to you, I just mean this:

[code]

[2017-10-13 11:47] loostro commented on #751
@alexflav23 No problem, appreciate your work. I will try if this fixes the problem as soon as I'm done with my current priority task and get back to you. Thanks.

[2017-10-14 09:16] loostro commented on #751
@alexflav23 Indeed it compiles. Thank you!

[2017-10-14 09:16] #751 closed

[2017-10-19 23:34] rohinisb opened #763 "Latest phantom-sbt not on maven central"
Latest phantom-sbt is not available on maven central. The last version made available was version 1.26.1. It would be great if all phantom modules are available on central, mostly because central is widely used and mirrored which makes it easier. Was there any specific reason for not publishing just this module? Thanks

[2017-10-20 00:00] alexflav23 commented on #763
Hi @rohinisb SBT plugins can never be published to Central as they require Ivy paths not Maven ones sadly. Add `Resolver.bintrayRepo("outworkers", "oss-releases")` to your `plugins.sbt` and that should work.

[2017-10-20 00:00] #763 closed

[2017-10-23 08:32] phpboyscout commented on #743
Hi, I've just upgraded to 2.14 from 2.9 and i'm getting the error `could` not find implicit value for parameter helper: com.outworkers.phantom.macros.DatabaseHelper` even with the explicit import statement

can anyone point me in the right direction https://gist.github.com/phpboyscout/5c0b88d2aeb17a61e80a5db6e0766759

[2017-10-24 13:41] alexflav23 commented on #752
@hsn10 Fixed in 2.16.0, will be published shortly. Thank you for this and apologies for the long winded follow up.

[2017-10-24 13:41] #752 closed

[2017-10-30 11:49] anadoba commented on #622
👍  for this feature request.
I'm in the middle of writing some fancy test matchers in phantom-based project and it turned out we have no control over column names casing... Aaand we're using phantom-generated schema of course.

[2017-10-30 11:53] alexflav23 commented on #622
@anadoba Alright, we'll escalate support for this feature, that's not a problem.

[2017-11-04 22:23] jalaziz commented on #716
I'm also interested in support for this. It doesn't appear as if anything has landed yet, though.

[2017-11-04 22:32] jalaziz opened #766 "TableHelper macro seems to fail if table contains a method named `insert`"
I ran into an issue after upgrading from 1.24 to the latest 2.15.

We have two tables that define an `insert` method similar to: `def insert(se: SessionEvent): Future[ResultSet] = insertQuery(se).future()`

The definition doesn't appear to conflict with the Table's start `insert()` method. However, when compiling, we receive the `could not find implicit value for parameter helper: com.outworkers.p

[2017-11-05 00:08] jalaziz opened #767 "DSL implicits conflict with Scala Async"
`QueryContext` and `DbOps` both define an `await` method. However, this method seems to serve little purpose as it's just a call to `Async.result`.

When using the DSL implicits, I ran into conflicts with our usage of the scala Async. Effectively, `import scala.async.Async._` and `import com.outworkers.phantom.dsl._` conflict.

I'm currently working around it  by using `import com.outworkers.phant

[2017-11-05 03:24] jalaziz opened #768 "Mixins columns no longer work in 2.X"
We have a use case where we place shared columns in traits and then inherit them when creating the table.

The `TableHelper` macro currently looks for the first table with columns, but doesn't check for partition keys. I understand that this was done to support inheritance. However, mixing in columns can be very useful when multiple tables all share the same columns.

An example can be found here:

[2017-11-05 07:59] alexflav23 commented on #767
@jalaziz That method is not a convenience method so you wouldn't have to call `Await.result`, it's designed to abstract over various future backends. We can however rename the method to prevent such conflicts, as it's really intended for internal use.

Thank you for this, we never tried in conjunction with scala Async so we didn't know.

[2017-11-05 09:12] jalaziz commented on #767
Ahh, makes sense. I only saw it being defined as `Await.result`, so just made the assumption.

If it's indeed only for internal use, renaming would be great!

[2017-11-06 09:56] alexflav23 commented on #768
@jalaziz I think we need to work on formalising all the requirements for inheritance, and right now we are willing to champion those efforts. Before we explicitly marked this is a "not supported", and perhaps not make that explicit in the code, but I think right now there are quite a few people requesting this feature.

I'm going to open a separate issue with a proposal, it's reasonably straight f

[2017-11-06 10:04] alexflav23 commented on #767
@jalaziz Fixed in 2.16.0, will be released today. Thank you for the bug report once again.

[2017-11-06 10:04] #767 closed

[2017-11-06 10:07] alexflav23 commented on #766
@jalaziz It is clear to me however it's not a great error report you get out. `TableHelper` autogenerates the store method, which expands a macro in its own compilation unit, which generates code using that very `insert` method.

In short, that means inside the macro you now have code that doesn't compile, because the compiler is not smart enough to figure out the most suitable overloaded definiti

[2017-11-06 10:14] alexflav23 opened #770 "Support table inheritance natively in the DSL"
As requested by multiple users, we should natively support table inheritance as many applications seem to require it as a simplification of the DSL code, instead of trying to discourage it.

Draft proposal.

- Table inheritance should be natively possible in the DSL with no additional work.
- Inherited columns should have order precedence. Inherited columns will be inserted *before* the "current"

[2017-11-06 10:16] alexflav23 commented on #770
@hsn10 I know you had thoughts here, please feel free to add to the mix.

[2017-11-06 10:20] jalaziz commented on #766
The odd thing here is that the two `insert` methods have fundamentally different signatures. One takes an argument and the other doesn't. The conflict doesn't make much sense.

Even more odd is that it doesn't apply universally. I have another table with the same pattern and `insert(record)` method that works just fine.

[2017-11-07 11:05] alexflav23 commented on #756
@hsn10 @Vrolijkx We are officially going to support this for all of you requesting it, have a look at #770 to contribute to the list of requirements. We will make this happen asap.

[2017-11-07 11:05] #756 closed

[2017-11-07 11:42] alexflav23 commented on #768
I'm going to centralise this in #770, as there are many related tickets that have inheritance support as a root cause.

[2017-11-07 11:42] #768 closed

[2017-11-13 22:42] Rajitha15 opened #771 "UDTs need to create automatically before creating the table"
Hi team,

We are using UDTs in our project and now we are having an issue with auto table creations in test cases.  If you can give me the example of the creation of tables on fly in test cases it will be really great.

when i try this snippet

[code]

then i am calling create.ifNotExists().future() i am getting below error

Automatically initialising keyspace farallones with query:

[code]

[code

[2017-11-14 10:18] alexflav23 commented on #771
@Rajitha15 I think this is just the fact that you are using an older version of phantom/phantom-pro.

Can you try bumping to the latest phantom-pro 0.15.0 working against phantom 2.15.5? Somewhere along the line there have been some upgrades to the entire mechanism, and quote important ones too.

Feel free to reach out, I am investigating the specific error to make sure it's been fixed in 0.15.0 l

[2017-11-14 14:54] Rajitha15 commented on #771
i am not aware of the new release, where can i see new release details for phantom-pro

[2017-11-14 20:21] eugenemiretsky commented on #614
Hi @alexflav23,
There is still nothing in the outworkers mvn ( https://mvnrepository.com/artifact/com.outworkers). Generally, what is the latest version of phantom-sbt? I understand it is no longer supported.

[2017-11-15 11:07] alexflav23 commented on #614
@eugenemiretsky You need this in your `plugins.sbt`: `Resolver.bintrayIvyRepo("outworkers", "oss-releases")`

[2017-11-15 12:19] dhuadaar opened #772 "Driver times out unexpectedly"
I am executing a find query using the driver which times out event under light load of 300 requests. I have given sufficient head to  my 5 node cassandra cluster. Earlier I thought it could be due to GC pauses, but on analysing, this does not looks like an issue.

Cassandra version : 3.9
OS : Ubuntu 16.06
phantom : 2.12.1

[code]

Let me know what all details you would need to help out on this.

[2017-11-15 12:40] dhuadaar commented on #772
![screenshot from 2017-11-15 18-04-54](https://user-images.githubusercontent.com/14878279/32836542-28e82bb2-ca30-11e7-99b1-f81149a14a7e.png)

This is the latency as per node tool. My driver has a time out of 10s.

[2017-11-16 15:11] alexflav23 commented on #772
Hi @dhuadaar I am very happy to pursue this, but we will need a full scale measurable test that we can replicate, with the exact semantics of the table and everything else. I don't want to throw it out as it's very interesting.

The light load sounds like coming from the Cassandra end, as opposed to the driver side, so my bets currently are placed on optimising Cassandra further, because the probl

[2017-11-17 01:11] eugenemiretsky opened #773 "What to do with ResultSet in store/delete quries"
More of a best practices/what other people are doing question.
Delete and store return a Future[ResultSet] which is fairly meaningless. I don't want to propagate ResultSet outside of the Cassandra Database.
The options are to map ResultsSet to
1) Future[Entity]
2) Future[Unit]
What do you recommend?

[2017-11-17 04:55] eugenemiretsky opened #774 "Could not find implicit value for parameter sg"
Hello,
I'm getting the following error when trying to call the store() method.
`Could not find implicit value for parameter sg: com.outworkers.phantom.macros.SingleGeneric.Aux`.

We are using scala 2.11.8

[2017-11-17 06:20] dhuadaar commented on #772
Sure, let me know how can we go about it.

Also
`The light load sounds like coming from the Cassandra end, as opposed to the driver side,  ....`

I earlier had the same feeling. But the nodetool shows no significant latency on hosts and this problem replicates only on the scala driver of outworkers. I tried drives in python as well to check and things are preety fine in the driver under similar lo

[2017-11-17 14:49] alexflav23 commented on #774
@eugenemiretsky Without a schema in place, it's really hard to know what is wrong with this particular macro/implicit gone missing unfortunately. Any chance you could provide that?

[2017-11-17 14:51] alexflav23 commented on #773
Hi @eugenemiretsky, I guess it's up to the consumers. My advice is generally to preserve the `ResultSet` to as far as it makes sense, let's say a DatabaseController, and convert it to a `Future[Entity]` at the very end.

`ResultSet` much like its SQL counterpart, has a `wasApplied` method, which can tell you if an `update/delete` or whatever actually happened, and that can be neatly converted to e

[2017-11-17 15:30] eugenemiretsky commented on #773
@alexflav23 when can wasApplied be false? My understanding is that is applied only to conditional update.
I was the consumers of DatabaseProvider to not have to worry about the internal of Cassandra (Resultset), also, ideally, I don't want them to have to check both if the future failed, and the result of the future (in case it is Future[Boolean]). I suppose the only time it would make sense is fo

[2017-11-17 15:58] esenatak opened #775 "Update link in batches.md"
- Currently, link to IterateeBigTest.scala is broken

[2017-11-17 16:07] alexflav23 commented on #775
Apologies for that, you are correct, link is out of date. New one [here](https://github.com/outworkers/phantom/blob/develop/phantom-streams/src/test/scala/com/outworkers/phantom/streams/suites/iteratee/IterateeBigReadPerformanceTest.scala). We also fixed this in the docs, it will be rolled out shortly.

[2017-11-17 16:07] #775 closed

[2017-11-20 04:39] git4sun commented on #743
I have the same issue. But importing the DatabaseHelper doesn't really help. What else did you do to solve the problem?

[2017-11-20 15:48] Rajitha15 commented on #771
I am expecting an example to create UDTs  in my previous post i used the ExecutableStatementList to create UDTs using createAsync but in latest release i cannot see that class. which one is replaced with that class ?

[2017-11-21 10:16] alexflav23 commented on #377
Hi @evis, you can explicitly use `insert.value(bla).using(ignoreNulls)`.

[2017-11-21 10:17] alexflav23 commented on #773
Hi @eugenemiretsky `wasApplied` can indeed be misleading, so this is usually something people do via consensus. It's up to you to decide when you want to drop Cassandra specificity.

I recommend maping to `Unit` if you think the `ResultSet` can cause issues and confusion further downstream, however duly note how `map` works on a Scala Future, you do pay a small cost for that `map` method call ever

[2017-11-21 10:18] #773 closed

[2017-11-21 10:19] alexflav23 commented on #772
Hi @dhuadaar I don't want to disagree with that, if there are problems they need to be fixed. Can you please help with more details, either here or via email? I need some idea of the schema, queries, and load you are trying to perform, and we are more than happy to benchmark everything.

[2017-11-21 11:59] evis commented on #377
Thx for the tip @alexflav23, but I'm not sure if it will be helpful for me. I don't want to insert nulls/empty values at all, but due to some reasons (seems related to some node failures) on some reads I receive "Column my_column is null" exceptions.

[2017-11-21 12:04] alexflav23 commented on #377
Hi @evis That means something else, it means you have `null` values in places where you don't use Optional columns, so phantom expects them to be mandatory.

[2017-11-21 12:49] thiagoandrade6 commented on #377
@evis It's seems that you problem is different than the original issue I was talking related to updates. It's better to follow the @alexflav23 tip on changing the column to optional, so then you can analyze it further to understand what's happening.

[2017-11-25 12:10] alexflav23 commented on #774
@eugenemiretsky Just following up here, we are eager to help and fix all bugs, but please let me know if you could share a schema. If there's any sensitive information, I recommend that you replace any names or field names with random things, all we are interested in is the types and nesting structure of case classes if any.

[2017-11-27 15:03] alexflav23 commented on #772
@dhuadaar What is your replication factor?

[2017-11-27 16:40] dhuadaar commented on #772
Hi,
My replication factor is 3
On 27 Nov 2017 8:33 pm, "Flavian Alexandru" <notifications@github.com>
wrote:

[2017-12-03 04:40] git4sun opened #786 "adding condition to query doesn't work"
I am trying to add query conditions one by one according to input. Here's what I did:

    val condSeq: Seq[(String,String)] = ...
    val query = condSeq.head match {
        case ("ad", c:String) => select.where(_.ad eqs c)
        case ("status", c:String) => select.where(_.status eqs c)
      }
    condSeq.drop(1).foreach { r =>
       r._1 match {
          case "adType" => query.and(_.adType

[2017-12-03 16:26] tomerf commented on #786
The query object is immutable, and() creates a copy of the query object.
You need to change your code to the following:
[code]

[2017-12-03 17:20] tomerf opened #787 "Can't query datetime range on primary key"
Hello, I'm trying to create a table with a date time column and query for data in a certain time range, but I get a compilation error when the date time column is defined as a primary key.
[code]
and then do the following query:
[code]
However I get a compilation error:
[code]
If I define the time column without a primary key and order this code compiles without error:
[code]
I'm not sure if I def

[2017-12-03 18:30] alexflav23 commented on #787
Hi @tomerf Try using this:

[code]

There's no need to have both `ClusteringOrder` and `PrimaryKey` in there, and I think that's what's causing problems.

[2017-12-04 02:19] git4sun commented on #786
I see. Thanks.

[2017-12-04 04:02] #786 closed

[2017-12-04 07:46] tomerf commented on #787
Hi @alexflav23, I tried to remove it and still get the same error.

[2017-12-04 22:24] coreyauger commented on #743
+1

[2017-12-05 10:11] alexflav23 commented on #787
Hi @tomerf could you put the whole schema here? I think you are using the wrong operators, `isGte` operators are for conditional update clauses, not for where clauses, so I think you need to simply use:

[code]

[2017-12-05 10:12] alexflav23 commented on #743
@coreyauger What were the exact version changes? We are going to use the to diff everything and see what may have introduced the error, as it's a pretty strange one that somehow didn't get caught as part of CI.

[2017-12-05 14:47] tomerf commented on #787
Yes that was the problem.
Thanks!

[2017-12-05 14:47] #787 closed

[2017-12-05 16:27] coreyauger commented on #743
Hi @alexflav23 .  In this case it was my fault.  I was updating from a old version "1.25.4" to the latest.

In my case the problem was solved by changing:
`class MlDataBase(override val connector: CassandraConnection) extends Database(connector) { ...`
to
`class MlDataBase(override val connector: CassandraConnection) extends Database[MlDataBase](connector) { ...`

Thanks :)

[2017-12-05 17:21] hsn10 commented on #770
I need ability to override column type including column used for primary key

[2017-12-05 21:21] hsn10 commented on #762
I checked against 2.16.4 / 2.11 version and it is still not fixed. Can you look at it? It breaks my unit tests.

[2017-12-07 15:20] Rajitha15 opened #789 "PrepareStatement issues with PhantomDSL for SELECT and UPDATE"
Hi Alexandru,

We have few questions related to “prepare” feature in Phantom DSL.

Is there any detailed document and set of examples explaining “prepare” for all CRUD operations?
We referred to the examples on your GitHub [https://github.com/outworkers/phantom/] and the examples are limited and do not address all the cases. We are facing following issues

2.  We tried using “prepare” for select a

[2017-12-07 15:43] alexflav23 commented on #789
Hi @Rajitha15,

Query 1: You are misunderstanding what `is` does, it's not a way to prepare statements, it's a way to check that a condition is met before executing an update, so it only works with conditional update queries, or Compare and Set clauses as they are called in Cassandra.

Query 2:

[code]
I'd imagine you are missing an index of any kind on `orgId`. Otherwise please post the schema he

[2017-12-13 00:11] rohinisb opened #790 "Configure DEFAULT_STARTUP_TIMEOUT through Phantom CassandraConnection"
Is there a way to set the DEFAULT_STARTUP_TIMEOUT used by EmbeddedCassandraServerHelper through CassandraConnection by passing a parameter or something? This is currently set to 10000 and I want to be able to increase it since it is too less for our ci machines and it almost always times out. Thanks.

[2017-12-13 15:11] alexflav23 commented on #790
You can already do this, in your `build.sbt`:

[code]

[2017-12-18 19:48] rohinisb commented on #790
Hi @alexflav23 ,

I have added
`phantomCassandraTimeout in Test := Some(20000) `
in my build.sbt and for some reason it is not being overridden. I get the following error

`ERROR org.cassandraunit.utils.EmbeddedCassandraServerHelper - Cassandra daemon did not start after 10000 ms. Consider increasing the timeout`

Complete error
`11:45:27 java.lang.AssertionError: Cassandra daemon did not start wi

[2017-12-21 16:18] fuzzy-id opened #792 "Missing Bijection between `Option[FullName]` and `Option[String]`"
You can find a test scenario at https://github.com/fuzzy-id/cassandra-tests

I guess it boils down to having some `case class`:
[code]
Now, doing  `gen[SimpleFoo]` results to an error at compile-time:
[code]

[2017-12-21 16:52] alexflav23 commented on #790
Hi @rohinisb The interesting thing is that the default is 20 seconds. Are you sure there is nothing interfering with your setting?

[2017-12-21 16:53] alexflav23 commented on #792
Hi @fuzzy-id, this is not related to phantom, this is an issue for outworkers/util. Would you mind moving the issue over there, and we can look at it separately?

[2017-12-21 16:54] #792 closed

[2017-12-21 20:07] rohinisb commented on #790
Hi @alexflav23, let me debug this issue more and get back to you. In the meantime, I will reopen if I find an issue. Thank you.

[2017-12-21 23:16] rohinisb commented on #790
Hi @alexflav23, so as I see from my project we have version 2.1.9.2 of CassandraUnit and I can see that the value is `public static final long DEFAULT_STARTUP_TIMEOUT = 10000;`
We use version 2.14.5 of the phantom-sbt plugin.

[2017-12-22 17:02] stephenpauldasari opened #793 "Support for Speculative query execution"
Hi Flavian

Can we incorporate Datastax's Speculative Query Execution via Phantom DSL driver?
http://docs.datastax.com/en/developer/java-driver/3.1/manual/speculative_execution/

[2017-12-22 23:44] alexflav23 commented on #793
@stephenpauldasari Phantom supports all options from the underlying driver. One example below.

[code]

[2017-12-22 23:44] #793 closed

[2017-12-27 12:30] #789 closed

[2018-01-05 11:54] fuzzy-id commented on #792
So I opened https://github.com/outworkers/util/issues/64 but nothing's happening over there. :(

[2018-01-08 14:20] Vrolijkx opened #798 "Map primitives with custom types for (Key/Value) don't get generated automatically"
When you try to use a map column in a table but the key or value is also a custom type. Then the PrimitiveMacro won't generate the correct Primitive. This can be worked around like in the snippet below. But this should be fixed in the PrimitiveMacro.

[code]

While debugging the PrimitiveMacro I noticed that the context has no implicit scope variable which I think is the cause of the problem.
com.

[2018-01-08 14:22] alexflav23 commented on #798
Hi @Vrolijkx Thank you for providing this information, it may be entirely possible you are right. If you can please also provide a DSL schema of the case class and table, so we have something to copy paste and replicate the problem.

Remove any sensitive information, we only care about types. Thank you for taking the time to report this problem. Also, what do you mean when you say the primitive is

[2018-01-08 14:37] Vrolijkx commented on #798
Hi @alexflav23, I updated the description with the extra needed information. When you remove map Primitive you get next compile error:
[code]

Which is confusing because you added that one right above.

[2018-01-12 10:01] alexflav23 commented on #798
@Vrolijkx So what you really want here is not a map primitive really, it's a co-product primitive. If we implemented a native one for Coproduct, would you be happy to use the Shapeless API?

`type Availability = Available +: Pending +: Unavailable +: CNil`

At that point I think we can do something about making a generic co-product primitive.

[2018-01-12 16:33] Vrolijkx commented on #798
@alexflav23 How do you mean coproduct.
I just want to be able to create a map of a custom key object(sealed trait) and a custom value object(JodaTime duration).
For me, the actual type of the key and the value that will be used for the map should not matter.
Phantom should be able to generate the Primitive needed for this map if:
- The primitive for the key can be found in implicit scope.
- The pr

[2018-01-12 16:45] alexflav23 commented on #750
@fggarcia This works as of 2.18.0. You have to bind using `ListValue(args)` instead of just `List(a, b, c, ..)`

[2018-01-12 16:45] #750 closed

[2018-01-12 18:23] fggarcia commented on #750
Thanks @alexflav23 !!! it works perfectly.

[2018-01-16 15:34] alexflav23 commented on #798
@Vrolijkx I see what you mean, sorry I think I mis-understood the original requirement, I see what you need now, going to follow up later today and get a fix done for you.

[2018-01-17 18:22] eugenemiretsky commented on #462
@alexflav23 We have the same use case too. Has there been any updates on this. Some examples of why we want to create several key keyspaces
1) Multi-tenancy
2) Events with different ttl go to keyspaces with different settings

[2018-01-20 19:05] alexflav23 commented on #772
Hi @dhuadaar Long time to follow up, but I'd like us to work against the same benchmark, phantom versions etc, to get comparable results and expected them not to be too divergent.

Any chance you have a reference schema you would like benchmarked, just so we can work against the same goal?

[2018-01-22 09:08] alexflav23 commented on #798
@Vrolijkx We've found the problem and the bug here, it's not that the implicit is not visible, it's that for some bizarre reason the pass through implicit context is dropped for local scope, e.g whatever implicits are visible through inheritance end up being masked/dropped or ignored, because the resulting `Tree` is evaluated in a completely different scope. When `Primitives.map` finally ends up b

[2018-01-22 09:31] alexflav23 commented on #774
Hi @eugenemiretsky We've found the problem here presumably, and it's compiler type ambiguity at various phases of the typechecker. The `SingleGeneric.Aux` part uses macros, and the problem is when you need to summon it inside a `CassandraTable`, for some reason the input type to `SingleGeneric`, which is the result of  `TableHelper.Aux`, is not known. Somehow there's a "blank", buggy type, being p

[2018-01-22 09:38] alexflav23 commented on #743
This has been fixed in a recent release, thank you for all the help!

[2018-01-24 07:13] Vrolijkx commented on #798
@alexflav23 Thanks for the workaround and good explanation.

[2018-01-24 12:50] alexflav23 commented on #798
Hi @Vrolijkx Yes, I've followed up with the macro team, pretty much all I am hearing is that no bugs will be fixed and that the full focus is on the long term scalacenter/macros replacement, so I imagine this is here to stay until the underlying macro lib completely changes.

Apologies for the inconvenience, trying to think of more workarounds but I'm not sure there's much we can do.

[2018-01-25 18:40] abhsrivastava commented on #603
@alexflav23 the link above is dead. any idea where I can find it? on maven central is only having scala 2.11  https://mvnrepository.com/artifact/com.websudos/phantom-dsl

[2018-01-25 18:43] abhsrivastava commented on #603
Wait found it. I think the company is now called "outworkers"

https://mvnrepository.com/artifact/com.outworkers/phantom-dsl_2.12/2.20.0

[2018-01-25 18:44] dhuadaar commented on #772
Hello

We have been trying out various things and were able to solve the issue. I must say that the SQL mindset was the biggest blocker.

We re-designed the schema and were able to handle load which was almost 30 times more than what was causing the issue with charm.

Thanks for taking this up. I would soon share details of old and new schema as it might be useful for people who could stuck in thi

[2018-01-25 18:44] #772 closed

[2018-01-25 19:02] alexflav23 commented on #603
@abhsrivastava There has been massive upgrade work to phantom since the name change, so there's 1.5 - 2 years of development basically since then. You need to have a look at the migration guide for more details, there will be code change required, but you will get a lot of cool new stuff.

[2018-01-28 10:15] jalaziz opened #805 "Table auto-creation logic appears to be broken in 2.20"
With the introduction of https://github.com/outworkers/phantom/commit/3de2569986335898f1f152e26d1b7e36f5b8b44f#diff-5d9200ac927eda8a988de85095358f1eR65, the instructions for customizing schema generations no longer work. The instructions [here](https://github.com/outworkers/phantom/blob/develop/readme/src/main/tut/basics/database.md#automated-schema-generation-using-database) recommend overriding

[2018-01-28 10:17] alexflav23 commented on #805
@jalaziz Entirely possible, we've just released something to fix secondary indexes and it may be now creating a problem. Going to follow up on this immediately as it could become a big issue for a lot of users.

Thank you for reporting this.

[2018-02-05 14:58] Rajitha15 commented on #771
this issue solved and thank yo so much for your support @alexflav23 . please close the ticket

[2018-02-07 04:36] setyven commented on #774
Hi @alexflav23 , sadly the quick fix doesn't work for me either. They aren't exactly one level above, but I believe that shouldn't be an issue?

[2018-02-09 16:08] calvinlfer opened #807 "Error should result in compilation failure but results in a runtime failure"
Hey there,

I have a schema like so
[code]

Notice that I don't provide a `Primitive` to go back from `String` to the `Enumeratum OrderStatus`. I would expect to fail at compile time because the implicit is not in scope. Instead it seems like the macro generates an implementation with `???` so I see a `BoxedError` which contains a `NotImplementedError` at runtime when it tries to perform the conve

[2018-02-09 18:29] alexflav23 commented on #805
@jalaziz Coming up with a release for this during the weekend, watch out for a 2.21.0 on Monday.

[2018-02-11 03:14] abhsrivastava opened #808 "Creating Phantom DSL Connection just like DataStax Cluster.Builder"
I am migrating code written against DataStax Cluster.Builder to Phantom. I can create a connection in Phantom easily, but I am not able to create a connection with all the properties specified below

` val cluster = Cluster.builder()
     .withCompression(ProtocolOptions.Compression.LZ4)
     .addContactPoints(List("a", "b").asJava)
     .withCredentials("foo", "bar")
     .withPort(1111)
     .wi

[2018-02-11 23:29] alexflav23 commented on #808
Hi @abhsrivastava,

Simply use `_.withClusterBuilder`. An example is found [here](https://github.com/outworkers/phantom/blob/develop/docs/querying/indexes/sasi.md#using-sasi-support-in-phantom), check the `Connector` definition.

[2018-02-11 23:29] #808 closed

[2018-02-19 11:33] kczulko opened #812 "Boxed error ?"
This is my stack trace from application startup.
[code]
phantomDsl = `2.20.0`
scalaVersion = `2.11.12`
[code]

I observe such behavior (Boxed Error) only for ubuntu. Works fine on macOs High Sierra v. 10.13.3 and

[code]

[2018-02-25 22:34] alexflav23 commented on #812
Hi @kczulko I think this is something to do with how Kamon does instrumentation. We are happy to look further into this, but can you put together a small repo replicating the issue inside a test?

[2018-02-26 10:55] aludwiko opened #813 "OptionalJsonColumn ignoring not parsable values"
`OptionalJsonColumn` is using a generic strategy for parsing values:
[code]
which in case of not parsable value will swallow the exception and return `None`.
`None` vs. parsing exception is something completly different from business point of view.

[2018-02-26 18:50] alexflav23 commented on #813
Hi @aludwiko This is a fair point, but you shouldn't really be inserting bad values in Cassandra, it's important to guarantee the store and retrieve function is a bijection, meaning you are not losing any valuable information by going "in and out" of Cassandra with the same bit of data.

You are pushing an application level concern to the library in that sense, `Option` columns were never designed

[2018-02-27 05:48] aludwiko commented on #813
@alexflav23 you are right about the bijections function, but I hit this problem when I was replacing existing Cassandra access library with Phantom. All data was added by a completely different tool. That's why bijection is not possible in my case, at least until I'm able to read correctly all jsons.

My workaround is quite simple:
[code]
Matching exception by the message is not the best idea, but

[2018-03-13 04:32] ShardPhoenix commented on #774
Commenting to report that I also had this problem and that the proposed workaround worked for me.

[2018-03-14 20:59] jalaziz opened #814 "Different behavior between ListColumn and Col[List]"
The docs suggest that now `ListColumn[String]` and `Col[List[String]]` are equivalent:  https://github.com/outworkers/phantom/blob/d8afd1b34ebe514673e346041fb30223caadf469/readme/src/main/tut/basics/primitives.md.

However, I'm finding that `Col[Set[String]]` results in an NPE if a row is read before the column is set. With `SetColumn[String]`, we don't get the NPE.

In [CollectionColumn.scala](ht

[2018-03-18 23:51] alexflav23 commented on #814
Hi @jalaziz, that's not expected I guess. The `PrimitiveColumn` is not involved in deciding what happens with `Col[List[String]]`, the same macro will wire in the same primitive, so I am more than a little surprised you are getting an exception.

This is the code block below:

[code]

Please help me with some more info to reproduce this!

[2018-03-22 17:22] alexflav23 commented on #805
Hi @jalaziz This is fixed now pending release, forgot to close it.

[2018-03-22 17:22] #805 closed

[2018-03-22 17:30] alexflav23 commented on #774
Hi @setyven Do you have a an example schema for us to look at ?

[2018-03-25 23:48] alexflav23 commented on #813
@aludwiko Fixed in 2.21.0, on Maven Central in a few hours.

[2018-03-25 23:48] #813 closed

[2018-03-26 23:46] rohinisb commented on #790
Hi @alexflav23 any update on this?

[2018-03-27 13:00] rimeh-bennjima opened #817 "type of ZonedDateTime and OffsetDateTime are not timestamp: (UTC indexed time primitives)"
I tried an example to insert ZonedDateTime and  OffsetDateTime in Cassandra database.

``` case class User(id: Int, name: String, creationTime: java.time.ZonedDateTime, offset: java.time.OffsetDateTime)```

[code]

[code]

I inserted a User with this values:
` createUser(1, "user", ZonedDateTime.now(), OffsetDateTime.now())`
I read the data from db.cassandra and I found that the values of creation

[2018-03-28 13:28] kamijin-fanta commented on #817
I submitted PR earlier. until the merge, I avoid it as follows.
glad if it becomes helpful.

[code]

[2018-03-28 13:31] alexflav23 commented on #817
Hi @kamijin-fanta, thank you for the PR, you are right about this. I will merge and change everything.

[2018-03-29 08:20] #817 closed

[2018-03-30 16:36] alexflav23 commented on #762
@hsn10 Fixed in 2.21.0 on Maven Central.

[2018-03-30 16:36] #762 closed

[2018-04-04 12:45] rimeh-bennjima opened #821 "problem with primitive type of Instant"
Hello,
my phatom version 2.12.x.
I create a table that it contains a column with type java.time.Instant.
[code]

[2018-04-04 13:07] alexflav23 commented on #821
I would use a different primitive implementation for `Instant`. The below code compiles for me, phantom 2.22.0, Scala 2.12.

[code]

[2018-04-04 18:30] lakshmankhcl opened #822 "prepare statements fail if table was created after the application started running"
Throwing "unconfigured table" exception for prepared statements even though the table was created.
Steps to reproduce:
**Prerequisites**:
Make sure the table does not exist in cassandra

1. Start your application with prepared statements
2. Should see "unconfigured table" exceptions
3.  Create the table in Cassandra
4. You will still see the "unconfigured table" exceptions
**Note**: It happens onl

[2018-04-04 18:32] alexflav23 commented on #822
Hi @lakshmankhcl, could you please share some code? We do test prepared statements extensively.

[2018-04-08 23:20] mamdouhweb opened #823 "enable support for `java.sql.Timestamp`"
Following up on our conversation over [Gitter](https://gitter.im/outworkers/phantom?at=5a8ab6e98f1c77ef3a27e794).

_Use case:_
Error occurs while using Timestamp as a DataType for case class fields

_Stacktrace:_
[code]

_Example:_
[code]

[2018-04-09 13:49] MartinEngen commented on #774
@alexflav23 Would it be possible to get an example for how to store values in the 'phantom-activator-template' project?
I'm not quite able to get your  recommend method to work, as the class `MyService` would have to be Abstract, and I'm not sure how to call it from within the `MyTable`.

[2018-04-09 15:29] alexflav23 commented on #774
Hi @MartinEngen, that's correct, my example might be incomplete. You need a db connector to make that picture complete, so then the service wouldn't need to be abstract. We'll add examples shortly to the main docs.

[2018-04-10 12:27] alexflav23 commented on #774
Hi @MartinEngen, what version of phantom are you on?

[2018-04-10 12:32] MartinEngen commented on #774
I'm using the most recent one. 2.24.0

[2018-04-10 14:00] alexflav23 commented on #774
@MartinEngen It's compiling without issues for me: https://github.com/outworkers/phantom/pull/825/files

What version of Scala are you using?

[2018-04-10 14:32] MartinEngen commented on #774
Ah, it actually works here as well (using Scala 2.12.4). Nice!
I though this structure was not quite ideal, as it inset as clean as the one used in the template in the long run https://github.com/outworkers/phantom-activator-template

A little follow up question on your example. How would you recommend to structure these Store's within the `CassandraDatabase` when you have 20-30++ different tabels

[2018-04-15 02:00] alexflav23 commented on #823
Hi @mamdouhweb I think this is a more interesting problem where something may be incorrectly addressed. This isn't timestamp support gone wrong, it's the `fromRow` failing to generate, but I am quite surprised you are still able to compile the code.

Could you please post your `case class CompanyWideGenderDistributionYearly` as well? I will look further into this.

[2018-04-16 00:38] alexflav23 commented on #823
Hi @mamdouhweb should be fixed in 2.24.2 I believe, making this primitive visible by default.

[2018-04-16 00:38] #823 closed

[2018-04-16 00:41] alexflav23 commented on #807
Hi @calvinlfer The macro generates a `???` not for going back and forth to said primitive, but for the `fromRow` method extractor which is used to parse your case class out of a Cassandra record. Now without further ado, somehow it thinks it has found a correct primitive for your enumeration, and that's quite interesting. I'll replicate this locally and follow up on it, sounds like enumeratum is e

[2018-04-17 14:11] akumarb2010 opened #827 "Confusion on usage of phantom"
Hi,

I am trying use phantom-dsl to connect to cassandra and I am using below maven dependency for it.

[code]

My code is not compiling and seems there are multiple versions of examples, so not sure on which on is the latest to follow. Is there any current workable example?

Seems below all are for phantom examples, but seems they are different.
http://outworkers.com/blog/post/a-series-on-phantom

[2018-04-18 15:14] hkroger opened #828 "Support for custom payload"
Hi,

I didn't find any mention of custom payload in the code. Maybe it was an oversight but are there plans to add it? We would like to add custom payloads for end-to-end tracing.

[2018-04-18 15:15] alexflav23 commented on #828
Hi @hkroger What do you mean by custom payloads?

[2018-04-19 12:41] alexflav23 opened #829 "Freestyle implementation of Phantom queries."
Looking forward to Phantom 3.x.x, we need to re-implementing the core query mechanism to run on Cats free and maybe freestyle frees as concrete backends with interpreters against known free libraries. The current version of phantom is a joke with respect to how functional it is, and several steps will be required to reach a 3.0.0

- Remove the EDSL entirely, in favour of working directly with enco

[2018-04-19 18:01] ShawnBuckley commented on #774
Something also worth noting is that this can be triggered if you pass the wrong parameter type to store. Example below:
[code]

[2018-05-02 12:25] alexflav23 commented on #828
HI @hkroger We are going to add this in the next release, I'll keep you up to date on the timeline.

[2018-05-02 17:00] hkroger commented on #828
Cool! Looking forward to this!

[2018-05-05 22:31] alexflav23 commented on #827
Hi @akumarb2010 Apologies for the late reply, we are happy to help but going to need more specific questions or compilation errors if possible. Could you help us with that?

[2018-05-10 21:01] howarth commented on #774
I get the error with the following code:

`package db.phantom

import db._

import scala.concurrent.Future
import java.util.UUID

import com.outworkers.phantom.connectors.CassandraConnection
import com.outworkers.phantom.database.{Database, DatabaseProvider}
import com.outworkers.phantom.dsl._

case class PipelineVersionRecord(pipelineId : UUID,
                                 pipelineVersion : U

[2018-05-10 21:08] howarth commented on #774
Oh, my error goes away when I change the 'pipeline' value in the case class to String, and the corresponding to StringColumn.

What type am I supposed to use for a BlobColumn? I tried Vector[Byte] and akka.util.ByteString

[2018-05-10 21:09] alexflav23 commented on #774
@howarth just jump to source and you would see it. `java.nio.ByteBfuffer`.

[2018-05-10 21:10] howarth commented on #774
Thank you!

[2018-05-17 10:05] mariuszeniro opened #831 "Aggregation functions do not allow select mutliple fields"
Hi,
According to the [documentation](https://github.com/outworkers/phantom/blob/v2.24.3/docs/querying/select.md) we can query for aggregates like
`select.function(t => sum(t.long))` but what about multi aggregations e.g CQL `select sum(clicks), sum(impressions) where id = 1 from my_table`? It is not possible to build sth. like `select.function(t => sum(t.clicks),t => sum(t.impressions))`
Any sugge

[2018-05-17 10:26] alexflav23 commented on #831
Hi @mariuszeniro I don't think this is possible right now, but it's definitely something we can support, let me follow up and see how it could be done.

[2018-05-20 16:07] Prosenjitpaul121 commented on #831
Please tell me details.Who are you?Not understand what you tell me.
On May 17, 2018 4:27 PM, "Flavian Alexandru" <notifications@github.com>
wrote:

[2018-05-21 13:02] provegard opened #832 "Question on using timestamp with insert"
`QueryBuilder.timestamp` takes a Long that is "The milliseconds since EPOCH long value of a timestamp."

However, CQL appears to take a [microseconds value](https://docs.datastax.com/en/cql/3.3/cql/cql_reference/cqlInsert.html).

I enabled trace logging to see actual queries, and it doesn't seem as if phantom converts the timestamp value. Am I missing something? My end goal is to be able to use a

[2018-05-21 19:39] alexflav23 commented on #832
Hi @provegard That must be an error either in the docs or implementation logic. We can definitely re-enforce the unit with better method names, and method types of course. I'm going to follow up on this and come back with a fix.

[2018-05-23 08:43] thereisnospoon commented on #519
I have the same problem. `logback-test.xml` configuration doesn't seem to affect the logging output. Was someone able to find the solution?

[2018-05-23 14:23] alexflav23 commented on #831
Hi @mariuszeniro This is being resolved in #833, follow that branch for updates on this. It's pretty tricky type sorcery that needs to happen magically behind the scenes, but we are finding the right way to make it work.

One of the cool things calling `aggregate` gave was an automating correct return type, and we are just trying to preserve the same return type with the new aggregate function, th

[2018-06-13 00:13] #790 closed

[2018-06-19 16:11] alexflav23 commented on #832
hi @provegard With apologies for the delay, this has now been merged in.

[2018-06-19 16:11] #832 closed

[2018-07-20 15:41] z160896 commented on #405
your suggestion doesn't work for me. this problem occurs when I changed to "com.amazonaws" % "aws-java-sdk" % "1.11.368", from "com.amazonaws" % "aws-java-sdk" % "1.7.7",

I use the plugin version: addSbtPlugin("com.eed3si9n" % "sbt-assembly" % "0.14.7")
Intellij scala 2.11.12.

Any suggestions to fix this problem?
[error] 1 error was encountered during merge
[error] java.lang.RuntimeException: de

[2018-07-24 13:41] alexflav23 commented on #831
@mariuszeniro Fixed in 2.24.10, now on maven central.

You need to manually call `multiAggregate` when you have more than one aggregate selected though.

[2018-07-24 13:41] #831 closed

[2018-07-24 13:42] alexflav23 commented on #827
Hi @akumarb2010 I'm going to close this issue for now, as I've not heard back from you in a while. Please re-open this issue with more details if necessary.

[2018-07-24 13:42] #827 closed

[2018-07-24 22:19] git4sun opened #841 "How does the store method work?"
I upgraded to 2.14. I noticed there is a store() method taking the case class and insert each field. It seems very compelling so I tried it. But it gives me errors:
`Not enough arguments for method store`

Instead, if I use the old insert.value() and list all the fields, it works just fine. The link to the store method document returns 404. Is there any update on that?

[2018-07-26 08:37] alexflav23 commented on #841
Hi @git4sun: https://github.com/outworkers/phantom/blob/develop/docs/basics/tables.md#extractors-and-how-they-get-generated

Where are you seeing the broken link?

[2018-07-26 13:43] alexflav23 commented on #841
@git4sun The link above should work, I'm going to close this ticket for now, but pleasa re-open if necessary. We are working on a new menu for the documentation which should be available by the end of the week, that should fix some of the problems and missing links.

[2018-07-26 13:43] #841 closed

[2018-07-26 21:41] git4sun commented on #841
https://github.com/outworkers/phantom/blob/develop/docs/migrate.md
The store method page link on the migration guide page is broken.

[2018-07-26 21:43] git4sun commented on #841
btw, did you see my question on stackoverflow? any idea why its not working? I am currently using datastax driver directly connect to the cassandra db. It works.

[2018-07-30 13:54] alexflav23 commented on #828
Hi @hkroger a bit overdue but:

[code]

This is the PR, watch out for it when it goes in today/tomorrow, and the feature will become available in Phantom 2.24.11(I think that's the version number I might be wrong )

https://github.com/outworkers/phantom/pull/842/files

[2018-07-30 13:54] #828 closed

[2018-07-31 09:31] alexflav23 commented on #774
Hi @Tr1p0d You are right, we just bit the wrong end of macro API limitations. A fix is being backed in this week, it's unfortunately far more complex than it has to be, for the wrong reasons, which is macro API inconsistencies and random weird behaviour.

The types of columns and other things inside a table are lazily evaluated by the compiler, so depending on which point in the macro logic you re

[2018-08-09 13:52] amolpol98 opened #843 "Can we do spatial queries? If yes, then how?"

[2018-08-09 16:12] alexflav23 commented on #843
Hi @amolpol98 Spatial queries are part of Solr and the enterprise integration to Cassandra offered under DSE, as illustrated [here](https://docs.datastax.com/en/datastax_enterprise/4.8/datastax_enterprise/srch/srchSpatialQueries.html).

We do not offer support for this in phantom, though we do add support for Solr queries in `phantom-pro` only, our subscription based product. If you would like to

[2018-08-11 09:29] hsn10 commented on #649
I created SBT plugin which fixes the log problem.

https://gitlab.com/hsn10/cunit-sbt

During testing i found that Cassandra Unit is _really buggy software_ and i do not recommend its use in integration / testing. Just run standalone Cassandra and write script for init / cleanup, you need to have these for application deployement anyway.

[2018-08-11 17:00] dgrald opened #844 "Documentation page (or link) broken?"
I receive a 404 at http://outworkers.github.io/phantom/. Is there another way to view the documentation? Or does the link need to be updated?

[2018-08-12 22:07] alexflav23 commented on #844
@dgrald This should be updated, apologies for the oversight. Try (this link) [https://github.com/outworkers/phantom/tree/docs/]

[2018-08-13 15:29] dgrald commented on #844
Thanks, @alexflav23 . Yeah, the .md files are usable, but it's hard to navigate between files when they're not linked together.

If it's alright with you, I'll leave this issue open until the documentation page is fixed.

[2018-08-17 17:08] alexflav23 commented on #844
@dgrald Fixed today.

[2018-08-17 17:08] #844 closed

[2018-09-13 00:44] RyanSattler commented on #774
Did this change end up being released? Last time I checked I still had this issue.

[2018-09-14 10:31] phalodi commented on #716
@alexflav23 If its still in progress I can pick this to support `groupBy`

[2018-09-18 14:13] alexflav23 commented on #774
Hi @RyanSattler, we have a workaround for this now still being trialled, it was not yet released unfortunately, we are going to try and make it happen within the next two weeks.

[2018-09-24 14:31] erikvanoosten opened #849 "Request: allow overriding of SessionProvider"
I need my application to stay up even when Cassandra is not available at startup. The `DefaultSessionProvider` does not support this (*). Unfortunately, there is no way to plug in another `SessionProvider` as the code has a hard dependency on the type `DefaultSessionProvider`.

Please in `com.outworkers.phantom.connectors.CassandraConnection` change:
[code]
to

[code]
to make overriding the sessio

[2018-09-24 14:38] erikvanoosten commented on #849
BTW, the other option: to extend `DefaultSessionProvider` also doesn't work because it is not possible to override a `lazy val` with a method.

[2018-09-28 09:00] #849 closed

[2018-10-04 07:43] RyanSattler opened #851 "Can't use a numeric enum in a where clause"
Hi,
I have an enum that looks like this:

[code]

It is stored as a `tinyint` in Cassandra and is currently modeled in the Phantom table like this:

[code]

When I try to do a query on it like this:

`.and(_.siteId eqs siteId)`

it compiles, but at runtime the generated query (from the debug output) looks like this:

`SELECT * FROM mydb.events2 WHERE profileId = '123' AND siteId = 'SITE_0'` which

[2018-10-05 05:09] RyanSattler commented on #851
Note: for now I've worked around this by setting the column type to TinyInt and using Byte in the model, but of course this isn't quite as nice.

[2018-10-12 13:19] kolemannix commented on #798
@alexflav23 I just ran into this as well.

I think it would be worth adding a small note to the primitives README explaining this, as I think most people's default plan for providing custom `Primitive[_]` instances will be to mix in a trait instead of an import.

Thanks for your awesome work on phantom!

[2018-10-16 09:33] mbard opened #853 "Improve query logging"
Today all the cqls are logged as `Manager.logger.info` with the logger `com.outworkers.phantom`
Which is fine for the normal case.
But I would like to have different log levels for different request.
1.
Logger.info for modifying requests
Logger.debug for get requests
2.
In my application to be able to tune the log level in different parts of my application

No 1 Could be solved by having different

[2018-11-01 11:47] alexflav23 commented on #853
@mbard The separate log level approach could be very problematic. The second one could perhaps be looked at, but it's a backwards incompatible change for a lot of people relying on the existing setup, so we are going to need to think hard about some way to inject the logging configuration from the user side.

[2018-11-06 17:00] alexflav23 commented on #766
Hi @jalaziz Apologies for the long overdue follow up on this, it's been fixed in the latest release going out today. The issue was really strange, as the param types were not yet evaluated at the point where the `TableHelper` macro was generating its automated `store` code, it was getting confused between the `insert` method on `CassandraTable` and the `insert` you added.

I guess there are edge c

[2018-11-06 17:31] alexflav23 commented on #754
@hsn10 I've submitted a PR even to your fork showing how this feature now works, apologies for the lack of updates on this. It's been fixed and then we all forgot to update here. Please merge my PR to your fork and check if anything else is needed.

[2018-11-06 17:33] alexflav23 commented on #822
Hi @lakshmankhcl I'm going to close this now, as I feel it's application specific rather than query specific.

In theory, you are executing those prepared statements ahead of time, and simply using `lazy` or whatever approach to make sure you don't trigger the prepared statements before the table is created is something that needs to be done on an application level, there's not much we can do from

[2018-11-06 17:33] #822 closed

[2018-11-06 17:37] alexflav23 commented on #851
@RyanSattler The reason is because we have no type inside `Value` to go by. This is what actually happens behind the scenes to generate a datatype for any `Enum#Value` type lookup.

[code]

What surprised me is that you already define a primitive for `siteId`.

[code]
I think if this was available in the scope of the `where` clause, phantom should never reach the point where it needs to derive its

[2018-11-06 17:49] alexflav23 commented on #766
@jalaziz Closed in #859

[2018-11-06 17:49] #766 closed

[2018-11-07 21:35] #843 closed

[2018-11-07 21:36] alexflav23 commented on #851
Hi @RyanSattler, I'm going to close this for now, simply move your already defined implicit into the right place if you can, and re-open this if required.

[2018-11-07 21:36] #851 closed

[2018-11-08 01:00] RyanSattler commented on #851
Thanks, @alexflav23 importing the implicit does fix the issue - perhaps this might be related to https://github.com/outworkers/phantom/issues/774 ? To work around that issue we're putting our queries one level higher than they're supposed to be (ie in our database client class instead of in the class that extends Table), so perhaps that is why the implicit was not automatically found.

[2018-11-08 08:14] jalaziz commented on #814
@alexflav23 I've pushed an example that demonstrates the issue: https://github.com/jalaziz/phantom/commit/dfc1f941f59bb1e386498506a51426d2ccdd8e13

If I convert the set and map columns back to `SetColumn` and `MapColumn` the tests pass. If I use the `Col[Set]` version, it fails on an NPE.

[2018-11-08 17:02] hsn10 commented on #754
FILTERING ISSUE is still not fixed. Second problem was fixed. I will merge your changes by hand and clear irrelevant files and make unit tests.

[2018-11-08 17:03] alexflav23 commented on #754
@hsn10 No problem, I think I just didn't understand what was going wrong, but we can work on it.

[2018-11-12 12:18] mbard commented on #853
I would expect to see the full cql in debug.

The idea would be to change the log level per statement.
And if there is per statement configuration of log level, there shouldnt be any problem with backward compatibility

[2018-11-16 16:18] livius-ungureanu opened #865 "Phantom 2.24.10 cannot apply aggregation functions for optional numeric columns."
I've got a table with the following column:
[code]
Then I have an aggregate statement that refers it:
[code]
and I get the following build error:
[code]

So it's clear that this `implicit numeric: Numeric[T]`  is wanted to prevent the user from summing up Strings and Blobs etc...
But my column is OptionalLongColumn which on Cassandra side translates to a Long column that can accept null values. Th

[2018-11-16 16:32] alexflav23 commented on #865
Hi @livius-ungureanu,

You can easily fix this locally.

[code]

I'll try and add it to the framework, need to consider any downsides strongly before we do, but you can move way faster than waiting for a release just by adding that implicit.

[2018-11-16 16:50] alexflav23 commented on #865
@livius-ungureanu You need to double check whatever is below to make sure all operations make sense. E.g how does `Option[Int]` compare to `Option[Int]`? In the true Cassandra sense, you can flatten the `None` to a `0`, but there's a need to account for all edge cases.

[code]

[2018-11-16 19:49] livius-ungureanu commented on #865
since the `implicit Numeric[T]` is not actually used in   and  in my case  I am dealing only with  Option[Long] columns that needs aggregation,  I only added:
[code]

in order to satisfy the compiler.

This is an workaround in my case but phantom should offer something like  you have mentioned above.

[2018-11-16 19:50] alexflav23 commented on #865
Hi @livius-ungureanu,

It shouldn't because the math is only valid if `null` defaults to `0`, which is valid in Cassandra, but can easily mess up other people's code. We're going to look at adding a new typeclass specific to phantom, instead of `scala.math.Numeric` which would easily interfere with other people's code by allowing operations that don't make mathematical sense.

[2018-11-17 12:39] livius-ungureanu opened #866 "`count` aggregation function does not support column parameter"
Hi @alexflav23

Here is another limitation considering the  phantom doc fragment bellow:
"This explores all the various SELECT functionality in CQL as described in the official reference here. Phantom aims to provide a 100% mapping with all the latest CQL features, but if you find anything that you need missing, please help us by reporting it through GitHub issues."

Given:
[code]
In C* it's possi

[2018-11-20 00:07] alexflav23 commented on #866
Hi @livius-ungureanu, resolved in the latest release.

[2018-11-20 00:07] #866 closed

[2018-11-20 00:07] alexflav23 commented on #865
Hi @livius-ungureanu, resolved in the latest release.

[2018-11-20 00:07] #865 closed

[2018-11-20 11:49] livius-ungureanu opened #868 "Count aggregation function is also wanted to accept a column name."
Hi  @alexflav23

Still related to https://github.com/outworkers/phantom/issues/866:

I've checked out 2.28.0
I've seen that `SelectQuery#count` was updated to accept column name which is fine.

But in my case I'd need the `count` aggregation to also be updated to make it possible:
[code]
I want to combine both count and sum in a single C* call

[2018-11-22 06:39] mtekp opened #870 "broken links on home readme"
"[A series on Cassandra ](http://outworkers.com/blog/post/a-series-on-cassandra-part-1-getting-rid-of-the-sql-mentality)" links are broken

[2018-12-04 03:12] #868 closed

[2018-12-04 03:13] alexflav23 commented on #868
Hi @livius-ungureanu fixed in 2.29.0

[2018-12-04 12:32] emiliano-tebes commented on #526
Hi. the provided link in response leads to a white page. Is there an updated recommended way to test with cassandra and phantom? Regards, Emiliano.

[2018-12-04 13:50] alexflav23 commented on #526
HI @emiliano-tebes, use local Cassandra or Cassandra inside docker, we provide a docker-sbt integration to run this automatically but it's not part of phantom oss.

[2018-12-22 05:19] egoarka commented on #870
workaround http://web.archive.org/
P.S. just waiting for full recovery of blog

[2018-12-23 08:16] vichu opened #872 "java.lang.NoClassDefFoundError: scala/reflect/runtime/package$ with v2.30.0"
I am using an sbt project with the following dependencies.

[code]
If everything works well if I uncomment the dependency
`"de.heikoseeberger" %% "akka-http-circe" % "1.22.0"`
When I comment this dependency, I get the following runtime exception.

[code]

I'm getting the exception from the method call `createUserById`, So , I'm also including this peice of the code.
[code]
Not sure what id going w

[2018-12-29 10:59] alexflav23 commented on #870
Hi @egoarka @mtekp We are just in the process of moving it to a new platform, it should be completed within the next 2 weeks. Thank you for making us aware of it, and apologies for the disruption.

[2018-12-29 11:02] alexflav23 commented on #853
@mbard Sorry we haven't followed up here in due course, the idea of having separate log levels for each type of query is not feasible, log levels mean something different.

At framework level, the creation of queries is also completely separate from their execution, in a free monad style approach, and there's a good reason for that. Phantom supports Scala Futures, Twitter Futures, and Monix Tasks

[2018-12-29 11:02] #853 closed

[2019-01-04 14:58] TakiuGit commented on #774
Any update on this ? I'm actually following the documentation : https://github.com/outworkers/phantom/blob/develop/docs/basics/database.md
And encounter a similar issue with the version "2.31.0" :
[code]
Did I missed something ?

[2019-01-04 15:00] alexflav23 commented on #774
Hi @TakiuGit Your schema is probably wrong here. Turn on debugging as per docs to see what's going wrong. Have a look [here](https://github.com/outworkers/phantom/blob/develop/docs/basics/debugging.md#comoutworkersphantommacrosdebugoptionsshowall-flag). You would need to import this where the table is defined, or where this method that doesn't work is defined.

[2019-01-06 17:12] alexflav23 commented on #807
Hi @calvinlfer I know this is a long overdue follow up, but this test case is now part of phantom itself, including enumeratum and everything else. Have you solved the issue in a different way?

From what I could tell, all we have to do to fix this is change:

[code]

to

[code]

The definition for `OrderId` used is this.

[code]

[2019-01-07 04:44] calvinlfer opened #874 "Is there an idiomatic way to tell if a record was inserted when using IF NOT EXISTS?"
I would like to find out whether a record was inserted when using `ifNotExists`

I'm using the `Row` object to determine this:

[code]

So I'm doing `.map(rs => rs.value().exists(row => row.isNull(1)))`.
I'm wondering if there's a better way to do this or do you recommend doing the above?

Thanks for the amazing library
Cal

[2019-01-07 09:07] alexflav23 commented on #874
The idiomatic way is using the `wasApplied` boolean flag that's already found on the `ExecutionInfo` of the `ResultSet`. What are you trying to read as the second column? Why would `row.isNull(1)` help you out here? Just trying to follow on the logic.

[code]

[2019-01-07 09:33] TakiuGit commented on #774
Hi @alexflav23, thanks for your quick answer, after more investigation, everything work well. The problem was due to my IDE (Intellij) how mark the implicits as absent. Therefore sbt is able to find them during the compilation. I think Intellij has still some problem with scala macro & sbt.

[2019-01-08 06:44] calvinlfer commented on #874
I’m not sure but I noticed that there is an extra column that is present if you try to insert the same row the second time so I was utilizing that which in retrospect was a bad thing to do. Your solution is the best 😃

[2019-01-08 06:44] #874 closed

[2019-01-09 18:09] alexflav23 commented on #872
Hi @vichu,

Try adding `"org.scala-lang" % "scala-reflect" % scalaVersion.value` as a dependency as well and see if that fixes the problem. It's not a long term solution, but at least it helps us pinpoint the issue to a specific thing.

Let me know once you've had a chance to do that.

Regards.

[2019-01-18 21:47] alexflav23 commented on #870
Hi @egoarka @mtekp Links now updated, we are using medium.com as a blogging platform instead of the small proprietary system we had.

[2019-01-18 21:47] #870 closed

[2019-01-18 21:49] #771 closed

[2019-01-18 21:59] egoarka commented on #870
appreciate it, thanks!

[2019-01-28 19:36] fernando-oktana commented on #743
@alexflav23  same issue with phantom version `2.32.0`, on which release was fixed this error. Thanks.

[2019-01-29 16:39] fernando-oktana commented on #743
@alexflav23 I could create a dummy project to reproduce the issue (missing dbHelper implicit ), does it helps ? could you reopen this issue?

[2019-01-29 16:42] alexflav23 commented on #743
Hi @fernando-oktana Sounds good, I will take a look later today!

[2019-01-29 18:01] fernando-oktana commented on #743
@alexflav23   thanks for you help on this.

https://github.com/nandotorterolo/outworkers

[2019-01-29 22:05] alexflav23 commented on #743
@fernando-oktana I found the source of this, and it's true a compiler error is being generated, but it's because your database has no tables inside of it, which leads to an edge case in macro. We will address the edge case now in a PR, but in the real world you should never be using a DB without tables inside of it, otherwise what's the point of having that abstraction layer in the firs place.

Do

[2019-01-31 14:47] alexflav23 commented on #733
Hi @wsargent This is becoming a priority on our part soon. However, I don't really like all the open tracing code, because it's got things that work around query strings, which is necessary in the raw driver but not so much in Phantom, because we actually have complex ADTs to model all CQL data-structures and things like that. Query generation is an afterthought from the DSL structures, so we woul

[2019-01-31 18:42] wsargent commented on #733
@alexflav23 if you can point me at them I'll take a look when I have time.  Fair warning, it may be a couple of weeks.

[2019-02-08 07:42] livius-ungureanu opened #879 "Set column helpers(e.g add, addAll, remove, removeAll) in the UPDATE dsl statement are not available in prepared mode."
Phantom doc says:
"Phantom aims to provide a 100% mapping with all the latest CQL features, but if you find anything that you need missing, please help us by reporting it through GitHub issues."

Given the following table:
[code]

It seems phantom does not support prepared updates where set columns are modified with add, addAll, remove, removeAll helpers..

As an example this is not supported:
[co

[2019-02-08 07:43] livius-ungureanu opened #880 "Special DELETE statement not available in prepared mode"
Phantom doc says:
"Phantom aims to provide a 100% mapping with all the latest CQL features, but if you find anything that you need missing, please help us by reporting it through GitHub issues."

Given the following table:
[code]
The following  CQL statement is valid in order to delete some flags from the ingredients  set.
[code]
Unfortunately it seems that this kind of statement is not supported

[2019-02-11 09:51] livius-ungureanu opened #881 "Phantom DSL does not generate the right alter CQL statement when adding several columns."
If several columns are wanted to be added to an existing table using the DSL :
[code]

the DSL will generate:
[code]
which is not CQL valid.

Note:
 C* started to support multiple columns addition only starting with C* 3.6(See https://issues.apache.org/jira/browse/CASSANDRA-10411).

But even after 3.6 the new CQL would be:
ALTER TABLE recipes ADD (likes int, img  blob)

Thank you in advance.

[2019-02-14 18:55] Rajitha15 opened #882 "unresolved dependency: com.outworkers#phantom-udt_2.12;0.16.0: not found"
Hi team,
we are facing this issue today , earlier it used to work, not sure the subscription expired or any other issue?please check and let us know. We are blocked due to this.

[2019-02-15 18:43] Rajitha15 commented on #882
we identified this issue is due to subscription expired. but now we renew the subscription and i could log in to the site with login credentials https://bintray.com/websudos/oss-releases/phantom-udt.
But still we get the error while building the jar. Please resolve this issue ASAP. Let me know if you need anything.

thanks

[2019-02-16 15:47] alexflav23 commented on #882
Hi @Rajitha15 Please try adding the latest oss resolver as well `Resolver.bintrayRepo("outworkers", "oss-releases")`, and let me know if you still have issues. The latest version of pro is 0.35.0 and the latest version of phantom is 2.33.0, so it could also be  useful upgrade.

[2019-02-17 08:32] nextdtinc commented on #405
I have the same problem. Has anyone found a solution?

[2019-02-18 22:10] Rajitha15 commented on #882
@alexflav23 Thanks for the resolution, but we have code in production also, how can we resolve this issue without doing any changes? and we don't have any information about adding the resolver to the phantom pro.

[2019-02-20 10:55] alexflav23 commented on #882
HI @Rajitha15, we are going to fix this today.

[2019-02-21 15:45] alexflav23 commented on #880
@livius-ungureanu Fixed in 2.34.0 coming up on Central.

[2019-02-21 15:45] #880 closed

[2019-02-21 15:45] alexflav23 commented on #879
@livius-ungureanu Fixed in 2.34.0 coming up on Central.

[2019-02-21 15:45] #879 closed

[2019-02-26 17:30] Rajitha15 commented on #882
@alexflav23 Backward compatability is not yet supportedp plz let me know once you fix this issue.

[2019-02-26 17:44] alexflav23 commented on #882
Hi @Rajitha15 Please try again now.

[2019-02-26 18:42] Rajitha15 commented on #882
thanks it is working now.

[2019-02-26 18:42] #882 closed

[2019-02-28 18:47] fggarcia opened #885 "Prepared statement TTL in update query"
When I try to write prepared for this query:

[code]

[code]

Phantom not support ttl prepared statement for update query.

[2019-03-03 00:42] alexflav23 commented on #885
Fixed in https://github.com/outworkers/phantom/pull/886.

[2019-03-03 00:43] alexflav23 commented on #872
HI @vichu Did the above suggestion work? Please re-open this issue if it didn't.

[2019-03-03 00:43] #872 closed

[2019-03-03 08:21] fggarcia commented on #885
Hi @alexflav23

I appreciate your work and quickly response to the issue.

In the example, I wanted to say that i want only upgrade the ttl ( i upgrade to 2.35.0)

Unlees i set "modify" method, i can't set ttl(?)

For example:

    val updateTtlPreparedStatement = update
      .where(_.searchId eqs ?)
      .and(_.searchTime eqs ?)
      .ttl(?)
      .consistencyLevel_=(ConsistencyLevel.LOCAL_QUO

[2019-03-03 15:27] alexflav23 commented on #798
Hi @Vrolijkx @kolemannix fixed in https://github.com/outworkers/phantom/pull/887. It will be available in the next release.

[2019-03-03 15:27] #798 closed

[2019-03-05 19:20] fggarcia commented on #885
Hi @alexflav23

Sorry for write to you again.

I only want to know if you read last comment about the issue?

[2019-03-05 23:56] alexflav23 commented on #881
@livius-ungureanu Fixed in https://github.com/outworkers/phantom/pull/888, pending release.

[2019-03-05 23:56] #881 closed

[2019-03-05 23:57] alexflav23 commented on #885
Hi @fggarcia Makes sense, we are going to re-adjust the implementation of `UpdateQuery` to eliminate some of the duplication we have internally in the code and support prepared `ttl` without the now required `modify` clause.

[2019-03-05 23:59] fggarcia commented on #885
Hi @fggarcia Thanks you so much!!

[2019-03-10 10:32] polyzos opened #889 "Build deduplicate fails"
Hi, so im trying to package with sbt-assembly and i run at the following error
[code]

These are my dependencies
[code]
and added this
[code]

But nothing seems to work.

[2019-03-11 11:05] polyzos commented on #889
It seems to be an issue with multiproject build.. if i remove the project that uses the dependency and make it a standalone project addind the mergestrategy builds the jar correctly. I don't know though why it fails in multi-builds

[2019-03-11 21:57] alexflav23 commented on #889
@polyzos

[code]

[2019-03-11 21:57] #889 closed

[2019-03-12 07:09] polyzos commented on #889
@alexflav23 This won't work either
First of all the <<= operator is removed and when i use the new syntax i get the same error.
For some reason this happens only in multi-project builds

[2019-04-04 21:04] fggarcia commented on #885
Hi @alexflav23, can you reopen this issue?

[2019-04-05 14:40] woupiestek opened #894 "Missing static values"
We want to use Cassandra to cache Exchange calendars, so they are available when Exchange is not. The following cql defines a table for storing the results of an availability request. The static `last_update` column keeps track of the last time our application wrote to the partition, if any.

[code]

After filling the table with testdata, I noticed that PhantomDSL gives me `None` when I expected `

[2019-04-05 18:12] alexflav23 commented on #894
Hi @woupiestek We'll take a look as soon as possible, thank you for the bug report!

[2019-04-10 10:33] alexflav23 commented on #894
Hi @woupiestek What does your phantom table look like? I don't think this is due to static handling, I think this might be a parse error in the datatype that decodes your timestamp.

[2019-04-10 10:55] woupiestek commented on #894
@alexflav23 `last_update` is a `DateTimeColumn`, like the other timestamp columns `start_time` and `end_time`.

[code]

[2019-04-16 09:59] alexflav23 commented on #814
Fixed in https://github.com/outworkers/phantom/pull/896

[2019-04-16 09:59] #814 closed

[2019-04-16 16:30] #481 closed

[2019-05-20 18:48] fggarcia commented on #885
Hi @alexflav23

Sorry for write to you again.

Can you reopen this issue?

[2019-05-31 09:18] alexflav23 commented on #885
@fggarcia I picked this up today.

[code]

Looks like this is not possible in Cassandra.

[code]

Judging by the ANTLR grammar error, Cassandra does not support this. If it does, please send me the CQL queries working in the terminal, and we can pick this up again. In the meantime, I'm going to close this ticket as unfortunately it doesn't look to be a working Cassandra feature.

[2019-05-31 09:18] #885 closed

[2019-06-12 14:59] alexflav23 commented on #754
@hsn10 This has now been fixed in the latest release, based on your example. When it's out to Maven Central give it a try and let me know if you run into any trouble, otherwise closing this for now.

[2019-06-12 14:59] #754 closed

[2019-06-12 15:00] #812 closed

[2019-06-12 15:00] alexflav23 commented on #812
As we never heard back about this, I will close the ticket. If you do re-open, please provide more information so we can accurately debug.

[2019-06-12 19:36] alexflav23 commented on #622
@rcongiu @anadoba @drewrobb Overriding column names is now supported properly with no further interference, meaning you can simply override the column name to whatever you want.

[code]

[2019-06-12 19:36] #622 closed

[2019-06-13 11:12] itsursujit opened #899 "How to update or search Cassandra table with multiple fields that are not a Partition Key"
Hello,

I was trying to connect Phantom driver to scala. I'm able to insert data to the cassandra table. But when I tried to search or update table by name or some field other than ID(PartitionKey), I couldn't do that.

Please suggest one how can I achieve the solution?

[2019-06-13 11:25] alexflav23 commented on #899
Here are some examples.

https://github.com/outworkers/phantom/blob/develop/phantom-dsl/src/test/scala/com/outworkers/phantom/builder/query/db/crud/UpdateQueryTest.scala#L44

[2019-06-13 11:25] #899 closed

[2019-06-13 11:28] itsursujit commented on #899
Thank you for quick response. I checked the file but the query is using `pKey` which I believe is PartitionKey.

[2019-06-13 11:29] alexflav23 commented on #899
@itsursujit That's how Cassandra works. Maybe spend some time reading about data modelling in Cassandra. https://medium.com/outworkers

[2019-06-13 11:32] alexflav23 commented on #899
@itsursujit This specifically might help you: https://medium.com/outworkers/at-outworkers-cassandra-and-datastax-enterprise-are-core-technologies-in-our-area-of-competence-4a1df2eb718d.

Otherwise read the docs on how to use SASI indexes, secondary indexes etc.

[2019-06-13 11:39] sujit-baniya commented on #899
Great! Thank you

[2019-06-24 15:00] antonkulaga opened #901 "Scala 2.13"
Could you please add Scala 2.13 support?

[2019-06-28 14:25] jan-pieter commented on #901
+1, for us this is one of the last libraries blocking our upgrade to Scala 2.13. Perhaps this issue can be used to track the progress (and list missing Scala 2.13 dependencies?)

[2019-07-03 14:46] alexflav23 commented on #901
Hi @antonkulaga @jan-pieter This is being considered as we speak, there are significant changes, and we're hoping to come up with a timeline for this change within the next few days.

[2019-07-05 04:25] binkabir commented on #716
Hi @alexflav23 any update on this?

[2019-07-09 20:52] antoniomaccioni opened #902 "Table not created after another table was created with a tableName overridden"
I noticed the following behaviour, where _Scenario 1_ works fine and in _Scenario 2_  _new_table_2_ is not auto-created. The two scenarios should be equivalent.

**Scenario 1**
[code]

**Scenario 2**
[code]

[2019-07-17 20:44] eugenemiretsky opened #903 "scala.NotImplementedError: an implementation is missing at runtime"
[code]

Calling get fails with scala.NotImplementedError: an implementation is missing at runtime. Not quite sure which field is causing it yet, but more importantly, shouldn't it be caught in compile time?

[2019-07-17 21:47] eugenemiretsky commented on #903
This is my case class

`
case class TravelEvent(
  `type`: String,
  subType: String,
  id: Option[String],
  createdAt: DateTime,
  customerId: String,
  sourceCity: String,
  destinationCity: String,
  verticalId: Short,
  startDate: LocalDate
) extends Event`

[2019-07-18 20:50] stsatlantis commented on #901
@alexflav23 I think as soon as there is a timeline it can be picked up by the community to help :) I'm looking forward to it, and also looking forward to helping.

[2019-07-27 23:52] alexflav23 commented on #902
Hi @antoniomaccioni Can you provide a full code sample? There's something else going on here, we have never experienced issues with auto-creation, the table order is irrelevant. Please provide an example I can execute where the issue can be reproduced.

[2019-07-29 16:07] antoniomaccioni commented on #902
Hey @alexflav23 . Unfortunately, I cannot share the full code. If you tell me exactly what else you would be interested in checking I might give it to you "anonymyzed"

[2019-10-17 09:55] Funmbi24 commented on #377
@evis were you able to fix this? If so. please share how. I seem to be experiencing the same

[2019-10-17 20:53] evis commented on #377
No, I wasn't.

[2019-10-22 06:23] Funmbi24 opened #904 "New entries sometimes are null when fetched"
Hi guys, so this is an issue I've been experiencing for a few weeks now. For some reason (node failure or something else I'm not sure), when I insert into CassyDb and try to fetch, the results sometimes have a null entry. Mostly in a specific field. I would like to know why this and what fixes I can use to solve this. Don't really want to make the column optional. Any help is appreciated, thanks

[2019-11-06 12:27] kw217 opened #905 "Ambiguous implicit conversions in query column"
Our application compiles under Phantom 2.41.0, but fails to compile under 2.42.0, due to a problem with "ambiguous implicit values".

I've managed to work around it, but the workaround ruins the neat look of the Phantom query. Please could you investigate whether this regression can be fixed?

I've reduced the problem to the following case. With the query written as `.and(_.obj eqs rowData.objectI

[2019-11-07 11:48] alexflav23 commented on #905
Hi @kw217,

[code]

This looks to me like an intentional compiler error to produce ambiguity. Somehow the compiler is not clear on whether the column is indexed or not from what I can tell. We don't openly support table inheritance as there are several edge cases that are very tricky to impossible to support with the current macro API, hence I'm not sure what to advise, since the tin always aid "d

[2019-11-10 17:13] alexflav23 commented on #903
@eugenemiretsky The runtime failure means only one thing, phantom couldn't match your columns to your case class somehow.  Have a look at the docs here for [How to do advanced debugging](https://github.com/outworkers/phantom/blob/develop/docs/basics/debugging.md#comoutworkersphantommacrosdebugoptionsshowtrees-flag), they should help you print out everything you need.

Apologies for the delay in cl

[2019-11-10 17:13] #903 closed, assigned to nobody

[2019-11-10 17:14] alexflav23 commented on #902
@antoniomaccioni Can you provide a minimal subset? I want to see how the tables get initialised, feel free to remove any proprietary information about specific package names and so on.

[2019-11-10 17:16] alexflav23 commented on #774
Looks like this ticket can be easily closed as it's been quite a while and as far as I can tell all issues have been resolved. Feel free to re-open if there are more problems. The job of single generic is to match the input arguments to store agains the schema, so if anything fails the mis-alignment is generally the root cause.

[2019-11-10 17:16] #774 closed

[2019-11-11 09:36] kw217 commented on #905
OK, thanks @alexflav23, that makes sense. I can work around this so it's not blocking me. Thanks for the explanation - I had forgotten that inheritance was unsupported.

[2019-11-11 09:36] #905 closed, assigned to nobody

[2019-11-25 10:08] bharath12345 commented on #901
any update on this?

[2019-12-02 02:45] somename6668 opened #906 "pagingState makes the second page return all the remaining records"
I'm trying to implement pagination like it was show in the last comment in  #559 . But the second page return all the remaining records in the table.
[code]

What I wanted is that the second page to return the same number of records as the first page. For example if I have 22 records in the table and I'm setting the fetchSize to 8, the result size of each page should be : 8,8,6. But now it was 8,1

[2019-12-02 06:54] somename6668 commented on #770
The code below  is how I implemented table inheritance to change PartitionKey and ClusteringOrder setting on different table.

[code]

[2019-12-06 11:11] jaspervz opened #907 "cassandraVersion in class CassandraConnection can throw Exceptions"
The method cassandraVersion in CassandraConnection throws a RuntimeException when connected to a Cassandra cluster that consists of different versions.

Given the return type of the method, Option[VersionNumber], None as return value would be expected in this case. Actually, None is never returned from this method.

I can make a pull request if the behavior that None is returned when the version c

[2019-12-06 12:28] alexflav23 commented on #907
@jaspervz Sounds good, but in spirit of not breaking existing API, could you instead add an additional `cassandraVersionOpt` method, that will behave exactly as you describe? There may be further downstream issues to fix, as phantom relies on knowing the version to toggle some features, though none critical.

[2019-12-09 08:02] jaspervz commented on #907
I created a pull request for this: https://github.com/outworkers/phantom/pull/908 The pull request doesn't build, but this is caused by not being able to resolve a dependency, which is unrelated to the code change.

[2019-12-31 14:23] #906 closed, assigned to nobody

[2020-01-20 15:47] alexflav23 commented on #901
@antonkulaga @jan-pieter @stsatlantis @bharath12345 Scala 2.13 support is now available as part of Phantom 2.50.0, to be published to Maven Central later today. There should be no changes to the codebase as part of this upgrade, but please let me know if there are issues.

[2020-01-20 15:47] #901 closed, assigned to nobody

[2020-01-24 15:34] #907 closed, assigned to nobody

[2020-03-28 19:32] alexflav23 commented on #902
@antoniomaccioni Any news on this? Is this something you have been able to resolve?

[2020-04-21 21:43] Matzz opened #910 "BufferUnderflowException for altered custom type in set"
Hi,
I have two interesting and related issues.

### Issue 1:
We have a table with a custom type in a set column. This custom type was altered. One optional column was added. Cqlsh and native Cassandra driver works fine in that case. Result sets for rows inserted before `ALTER TYPE` returns null for a new column.
However, phantom throws BufferUnderflowException for such rows. Rows inserted after `A

[2020-05-03 16:46] alexflav23 commented on #904
Hi @Funmbi24 This has nothing to do with phantom from the likes of it. The most likely out come is you have an issue with your Cassandra configuration, replication factor, or something similar. As this is not really a driver issue, and there is very little we can do without seeing the actual configuration, I will close this issue.

[2020-05-03 16:46] #904 closed, assigned to nobody

[2020-05-03 16:48] alexflav23 commented on #649
As phantom SBT is no longer part of this anymore, it's time to close this issue.

[2020-05-03 16:48] #649 closed

[2020-05-03 16:48] #902 closed, assigned to nobody

[2020-05-10 05:14] jalaziz opened #911 "Consider changing type of implicit `context` in DefaultImports"
While upgrading to Scala 2.12, we started seeing compiler errors that were a bit surprising. In particular, the imported `context` from phantom was taking precedence over implicit method parameters.

Scala actually changed the type of `ExecutionContext.Implicits.global` to ensure there's a compiler error when this happens unknowingly. See https://github.com/scala/bug/issues/8849 and https://github

[2020-05-10 12:28] alexflav23 commented on #911
Hi @jalaziz,

This makes sense and it's an easy change. However, in practice could lead to trouble. We need to upcast back to `ExecutionContextExecutor` when we convert Java futures to Scala using the Guava library, that's something that happens behind the scenes because connection management is still done by the Java Driver. In fact, it's the only part of that driver we use, everything else is re

[2020-05-10 13:44] jalaziz commented on #911
Yeah, I was thinking it might be possible to hide the upcast within the API.

Will take a look at the PR soon!

[2020-05-10 21:33] #911 closed, assigned to alexflav23

[2020-06-08 16:33] dluwtw opened #914 "Support for more recent version of DSE driver."
Hello, this

https://github.com/outworkers/phantom/blob/v2.59.0/build.sbt#L101 and https://github.com/outworkers/phantom/blob/v2.59.0/build.sbt#L101

suggests that dse driver **3.6.0** is supported by phantom v2.59.0

Is there a version of phantom that supports a more recent DSE driver version?
More specifically > **4.4.x**?

Thanks for a powerful framework.

[2020-06-10 10:47] alexflav23 commented on #914
Hi @dluwtw There is work going on to bump the Cassandra driver to the latest version already taking place in a different branch. We are aiming to release this within the next 2 - 3 weeks. Keep an eye out for the next major release, it will give you what you want!

[2020-07-03 09:45] jaspervz commented on #914
@alexflav23 do you know when there will be a new release for the latest Cassandra driver?

[2020-07-07 12:34] mikla opened #915 "Auto-application to `()` is deprecated warning in `in` clause"
Scala 2.13.3 deprecated auto-application of (non-Java-defined) methods with a single empty parameter list.

I'm getting warn when using `in` clause and I don't really understand how deal with it. Please advice.

[code]
I'm getting warn here:

[code]

However, similar piece of code that works with `LongColumn` compiles without warning.

Tried to catch Primitive instance for `ListValue` `implicitly`

[2020-07-08 10:29] alexflav23 commented on #915
Hi @mikla your problem is here I believe:

[code]

should be

[code]

You will notice the `()` after a column is never used in any phantom example.

[2020-07-08 10:29] #915 closed, assigned to nobody

[2020-07-08 12:05] mikla commented on #915
@alexflav23 thanks for advice, but it didn't help.
However, fun fact: if I change it to `with PrimaryKey` - everything is fine.

[2020-08-20 13:21] serragnoli opened #916 "Cassandra timeout during read query at consistency ALL"
- Phantom is the only driver of this project

- The connector code

[code]

- The consistency level explicitly set to all read queries is `LOCAL_QUORUM`
[code]

- There are sporadic errors related to consistency `ALL` as below
[code]
- The Cassandra cluster topology is 2 DCs of 7 nodes each with replication factor of 3
- Where is Phantom possibly finding query consistency `ALL` as all reads are ex

[2020-10-06 22:59] lakshmankollipara opened #917 "Re-connecting to Cassandra after recovering"
With Scala Verison `2.13.1` and Phantom version `2.59.0`

The Phantom driver is failing to re-connect after my Cassandra goes down and re-covers after some time.

This is how my Cluster Builder looks like:

[code]

Steps to Reproduce:

1. Spin-down Cassandra
2. Run the application and ensure that the application throws `com.datastax.driver.core.exceptions.NoHostAvailableException`
3. Bring-up Cass

[2020-10-15 15:11] msmygit opened #918 "Update to DataStax Java Driver 4.x series"
Upgrade DataStax Java Driver to 4.x series.

Helpful Resources:

- [Upgrade Guide](https://docs.datastax.com/en/developer/java-driver/4.9/upgrade_guide/)
- [Better drivers for Cassandra](https://www.datastax.com/blog/2020/01/better-drivers-for-cassandra)

[2020-10-29 19:00] msmygit opened #920 "Support connecting to DataStax Astra"
Support connecting to DataStax Astra&trade; beginning [DataStax Java Driver 3.8+](https://docs.datastax.com/en/developer/java-driver/3.10/manual/cloud/)

Helpful 4.x version reference: https://docs.datastax.com/en/developer/java-driver/4.9/manual/cloud/

[2020-12-22 08:04] lukaszlenart opened #922 "Is JDK8 module integrated into the main DSL module?"
I'm trying to upgrade PhantomDSL to version 2.59.0 and I noticed that this version already contains package `jdk8` (which the latest version is 2.42.0). So I assumed that I do not need the additional `phantom-jdk8` module. Yet, after changing `build.sbt` to have just `phantom-dsl` in version 2.59.0 I got:

[code]

On the official page you are still pointing out that to support JDK8 I need to use t

[2020-12-22 09:30] lukaszlenart commented on #922
I noticed that you have changed the implicit for `OffsetDateTime` and now `tuplePrimitive` need to be manually provided, is this a right approach or bug?

[code]

[2020-12-22 15:59] ehsanshah opened #923 "Auto-application to `()` is deprecated. Supply the empty argument list `()` explicitly to invoke method list, object memberTeam extends Col[List[String]]"
hi every one !
how can fix this Issue in code 👍
object  memberTeam       extends Col[List[String]]

and this warn in
[warn] or remove the empty argument list from its definition (Java-defined methods are exempt).
[warn] In Scala 3, an unapplied method like this will be eta-expanded into a function.
[warn]     object flowersTeam  extends Col[List[UUID]]
[warn]

[2020-12-22 17:34] ehsanshah commented on #923
extends Col[List[UUID]]() probably
Warning:(160, 33) Auto-application to `()` is deprecated. Supply the empty argument list `()` explicitly to invoke method list,
or remove the empty argument list from its definition (Java-defined methods are exempt).
In Scala 3, an unapplied method like this will be eta-expanded into a function.
    "object flowersTeam  extends Col[List[UUID]]()"

[2020-12-23 18:02] msmygit commented on #914
Hi @alexflav23, are there any work being done to support the latest DSE Cassandra Java Drivers? I see #918 and #920 didn't have any movement.

[2020-12-27 23:40] #923 closed, assigned to nobody

[2020-12-29 21:38] arixmkii commented on #915
It is caused by phantom-dsl macro here https://github.com/outworkers/phantom/blob/develop/phantom-dsl/src/main/scala/com/outworkers/phantom/builder/primitives/PrimitiveMacro.scala#L69

[code]

Same for the `set()` and may be some more.

@alexflav23 Should we open a new issue with updated description?

[2021-03-24 14:53] TRReeve opened #926 "Scala 2.13 Reactive/Akka Streams"
Hi there.

What was the status of the reactive streams connector for Scala 2.13? From reading the docs there was a dependency issue? I am working on a system where we have to load a load of data into a cluster and then I need to dump it back out. For now I will be create a Source with Akka streams and pagination (or some flavour of this) to get things moving but if there is work already existing m

[2021-03-26 17:18] TRReeve commented on #926
I have a naive implementation here that we're starting with. the main issue I have is I'm not sure how we can avoid the blocking calls. I was having a play with some system where it makes non-blocking calls when the buffer is below a certain level but

a) More than one request in flight and we risk adding to the buffer out of order and/or screwing with the page state on the next call.
b) Requestin

[2021-04-06 19:33] arixmkii opened #927 "Issue resolving dependencies with sbt 1.5.0"
sbt 1.5.0 changed dependency eviction mechanisms and now it fails to build projects using `phantom-dsl`. Error is like
[code]

`macro-compat` is now discontinued and seems it was needed only for Scala `2.10.x`, which is now is not in the list for cross compilation.

[2021-04-08 16:13] rimeh-bennjima opened #929 "How can I Insert a date of type Instant in cassandra database with phantom ?"
I  want to insert a value of type Instant in db **cassandra** with **phantom** .
I have the time:
[code]
I found in db the value : `2020-12-02T15:40:55.197Z`
 why the value change in cassandra? is it possible to insert the same created value?

[2021-04-15 20:47] TRReeve commented on #929
If you can't represent your Instant in the exact way you want using standard datetimes etc then it's pretty doable to define a custom function for serializing to some other representation (e.g String/Bytes) and then override the "fromRow" function in your Table definition so you can read a row of data back into your application as whatever data type you have.

[2021-05-10 04:04] fggarcia commented on #927
@alexflav23 can you check this issue??

[2021-05-17 14:26] mikla commented on #927
Hello!
Would be nice to have it merged, as it blocks upgrading to latest `sbt`.
WDYT?

[2021-08-16 21:47] otto-dev commented on #927
Even worse for people who are already on the latest `sbt` and want to add `phantom-dsl` as a dependency - project breaks. (it's August now, the `sbt` release has been out for a while)

Please merge the above fix kindly. Thank you!

[2021-08-16 21:54] mikla commented on #927
+1

[2021-08-16 22:02] otto-dev commented on #927
Temp fix:
[code]

[2021-08-16 22:07] #927 closed, assigned to nobody

[2021-08-19 10:30] arixmkii commented on #927
@alexflav23 can we get a release with this fix out?

[2021-08-19 15:05] mikla commented on #927
+1

[2021-09-09 15:17] SarpongAbasimi opened #931 "java.lang.NoClassDefFoundError: scala/Serializable"
Hey I keep seeing this error

[code]

[code]

# Error message

[code]

Any input as this why this may be? I know it has to do with `java.lang.ClassNotFoundException: scala.Serializable`
but I am not sure where that is coming from. And I don't think I am missing any imports based on this

Ref - https://github.com/outworkers/phantom/blob/develop/docs_bkp/basics/database.md

[2021-09-09 15:27] SarpongAbasimi commented on #931
Also using
[code]

[2021-09-22 08:30] arixmkii commented on #931
[code]

@SarpongAbasimi do you really want phantom dsl built for Scala 2.11, when you are building for Scala 2.13.6?

If it is a snippet from SBT, then you probably want

[code]

[2021-09-27 16:29] SarpongAbasimi commented on #931
sure, thank you very much 😊

[2021-09-27 16:29] #931 closed, assigned to nobody

[2021-10-22 10:57] mbard opened #932 "Is phantom dead?"
Is there any work ongoing here?

[2021-11-12 02:13] raokrutarth opened #933 "Unable to find documentation on `withCloudSecureConnectBundle`"
The datastax portal provides a zip file with configuration (hosts, ports, certificates and etc.) in a zip file. The spark Cassandra connector and the java connector have a `spark.cassandra.connection.config.cloud.path` and `withCloudSecureConnectBundle` API respectively to use the zip file as a source of config.

How should I use this file with phantom?

[2021-11-22 19:52] andreluistosato commented on #927
+1