[2014-02-18 12:38] alexflav23 opened #21 "ThriftSeqColumn should use Seq, not Set for the underlying collection."
Currently, the `ThriftSeqColumn` implementation extends `Column` with `Set[T]`. One allows duplicates, the other one doesn't.

Fix this to avoid any potential confusion and subtle bugs.

[2014-02-18 12:45] alexflav23 opened #22 "Create a phantom-example module to illustrate basic functionality"
The `phantom-example` module should cover:
- Full examples of the DSL specifications.
- Ordering and time series.
- Examples of how to use `Enumerators`, `Iterators` and how to define new ones.

[2014-02-18 18:20] alexflav23 opened #23 "Cleanup GitHub history."
Delete the things and commits/credentials from the git history.

[2014-02-18 18:21] alexflav23 opened #24 "Write examples for using Iterators."
In the new `phantom-example` module, please write concise examples of how to use iterators, including how and when to provide your custom implementations.

Please target this to both open source audience and our own team.

[2014-02-18 18:23] alexflav23 opened #25 "Test with the maximum amount of records per Table"
To make sure we pushed the last milestone, we need to test a table with 2 billion records.

It should work with the default `Table.fetchEnumerator` method, allowing us to extract desired ranges of items from a 2 billion element queue.

Please advise of how we can best achieve this.

[2014-02-18 18:30] alexflav23 opened #26 "Re-add Maven central publishing."
Phantom is already enabled as a project on Maven Central. To share our project with the world without crashing our internal Maven repositories, re-add the settings.
- Re-add the credentials.
- Re-enable PGP encryption.
- Open a ticket with Sonatype support.

[2014-02-18 18:34] alexflav23 opened #27 "Add tests for partial selects"
The default partial select methods found in `com.newzly.phantom.dsl.CassandraTable` are missing unit tests.

Add at least one basic unit test for every one of them.

[2014-02-18 23:02] #27 closed, assigned to nobody

[2014-02-18 23:45] creyer opened #29 "Create description for adding Phantom to a new project"
Phantom needs an easy setup for being added as a dependency in other projects

[2014-02-19 00:48] alexflav23 opened #30 "Remove the default parameter for the implicit executor."
There is no point to having an implicit parameter with a default value. It's enough to import the default executor using `import com.newzly.phantom.Implicits`.

Remove the default, overrides are done by providing an `implicit executor` in the "current scope". That will take precedence over the default one.

[2014-02-19 00:50] alexflav23 opened #31 "Implement a count statement."
Currently, there is no type safe way of generating a `SELECT COUNT FROM TABLENAME`` CQL statement.

[2014-02-19 17:55] #21 closed, assigned to alexflav23

[2014-02-19 17:56] #22 closed, assigned to alexflav23

[2014-02-20 17:12] #31 closed, assigned to creyer

[2014-02-20 17:19] #30 closed, assigned to alexflav23

[2014-02-24 18:29] #23 closed, assigned to alexflav23

[2014-02-25 11:51] #29 closed, assigned to creyer

[2014-03-04 16:29] alexflav23 opened #33 "phantom-dsl: List $prependAll operator is reversing records."
To replicate, use `com.newzly.phantom.tables.Recipes` available in the `phantom-test` module.

[code]

[2014-03-06 00:12] creyer opened #34 "Count query"
As a developer I need to execute a count query like:
`Select count(*) from table_name where condition allow filtering`
The result of this query should be a long.

[2014-03-07 00:07] creyer opened #35 "Primary keys order must be exact"
In Cassandra the order in which one specifies the keys in the create table is important. At the moment the order generated by Phantom is random.

[2014-03-07 00:25] #35 closed, assigned to alexflav23

[2014-03-08 12:07] #26 closed, assigned to alexflav23

[2014-03-10 11:46] #34 closed, assigned to alexflav23

[2014-03-10 12:42] alexflav23 opened #39 "Add support for CounterColumns"
Cassandra offers `CounterColumn` definitions to allow for distributed counting. Implement the feature in phantom with basic add subtract functionality.

[2014-03-11 23:51] alexflav23 opened #41 "Feature: Counter Columns"
Add support for Counter Columns in phantom, with basic update operations.

[2014-03-11 23:52] alexflav23 opened #42 "Feature: Static columns"
Add support for static columns, with basic support for all features of static columns.

[2014-03-12 01:43] #39 closed, assigned to alexflav23

[2014-03-12 10:42] alexflav23 opened #44 "Feature: Cross Scala version compilation"
To facilitate wider usage of `phantom`, add cross Scala version support for:

`````` 2.10```
```2.11```
[code]

[2014-03-12 10:46] alexflav23 opened #45 "Feature: Publish to multiple Maven repositories"
The current single repository publishing mechanism does not allow for efficient distribution of new releases internally.

Using `sbt-multi-release` or custom SBT commands, setup a mechanism to allow publishing to a specific target.

[2014-03-12 10:49] alexflav23 opened #46 "Update Cassandra driver version to 2.0.1"
Bump the version of the new driver to add support for Static columns.

[2014-03-15 13:09] #46 closed, assigned to alexflav23

[2014-03-15 13:12] alexflav23 opened #48 "Greedy object initialization is not preserving order."
The current implementation of `CassandraTable` is required to aggregate the inner column definitions in the order they are written.

Using the Java reflection API returns the methods in a random order with no guarantee that any order will be preserved. This leads to schema variations in `PrimaryKey` and `PartitionKey` columns, effectively causing discrepancies in `CompositeKeys`.

[2014-03-15 16:16] alexflav23 opened #49 "Create ScalaTest tags to filter long running tests."
Currently tests are excluded in the build definition. This is a nasty solution that doesn't treat the underlying problem.

[2014-03-24 18:23] #41 closed, assigned to alexflav23

[2014-03-24 23:43] alexflav23 opened #52 "Add ability to specify consistency levels for all queries."
Currently phantom doesn't allow setting a consistency level for anything other than `InsertQuery`. Consistencies can be specified for all crud operations.

[2014-03-28 00:01] creyer opened #53 "Logging is missing where needed"
Some things should be logged in debug mode, like the exact query sent to the cassandra cluster. (are very helpful when debugging stuff)

[2014-03-28 00:13] creyer opened #54 "Selecting only the CounterColumn on tables is not possible"
When trying to select only the count column the code doesn't compile

[2014-03-28 00:15] creyer opened #55 "ResultSet should be masked"
The return type for all queries should not be ResultSet, as this is not a Phantom class

[2014-03-28 00:19] creyer opened #56 "Investigate support for partition keys formed by multiple keys"
CQL has support for partition keys formed by more columns, if required we should try make this possible in phantom

[2014-03-28 00:20] #52 closed, assigned to alexflav23

[2014-03-31 16:01] #54 closed, assigned to alexflav23

[2014-03-31 17:38] #55 closed, assigned to nobody

[2014-04-09 21:43] creyer opened #59 "secondary index name"
A developer needs to be able to set the secondary index name, as this is unique per keyspace, and the default value is mapped to the name of the column, which is unique only at the table level.

[2014-04-10 20:15] #59 closed, assigned to nobody

[2014-04-23 12:07] #42 closed, assigned to alexflav23

[2014-04-23 12:07] #33 closed, assigned to alexflav23

[2014-04-23 12:07] #24 closed, assigned to nobody

[2014-04-23 12:08] #49 closed, assigned to alexflav23

[2014-04-23 12:08] #25 closed, assigned to nobody

[2014-04-24 17:51] alexflav23 opened #66 "Improve tests for BatchStatements"
Add tests for:
- Statements with a timestamp
- Updating multiple tables.
- Inserting into multiple tables.
- Deleting from multiple tables.

[2014-04-25 13:32] alexflav23 opened #68 "Improve support for TimeSeries data and ClusteringOrders"
- Add support for automatic schema generation.
- Add query operators for TimeSeries data
- Add extensive tests for clustering columns.

[2014-04-25 13:45] francares opened #69 "MapColumn question"
Hi there!
Is there a way to evaluate elements of a map in a "Where" clause?... I need to get entries based on a MapColumn content...

Thanks,
Fran.

[2014-04-25 15:35] #69 closed, assigned to nobody

[2014-04-27 15:25] galarragas opened #70 "Support CompositeColumns or SuperColumns"
Hi, I'm trying to store a composite object into cassandra, something like

[code]

and I would like to store the UserInfo and AccountSettings into a composite column or in a super column under the same row of the UserAccount CF.

At the moment I'm flattening my structure inside the UserAccount record but would be nice to be able to define a more hierarchical structure

[2014-04-27 21:35] #70 closed, assigned to nobody

[2014-04-30 11:10] #66 closed, assigned to alexflav23

[2014-04-30 11:10] #68 closed, assigned to alexflav23

[2014-04-30 23:39] #56 closed, assigned to nobody

[2014-05-03 18:01] #53 closed, assigned to nobody

[2014-05-03 18:01] #45 closed, assigned to alexflav23

[2014-05-05 20:18] bjankie1 opened #74 "Simplify fetchEnumerator and enumerate API"
The current API:

[code]

Enumerator can be considered an analogy to Iterator in reactive/asynchronous space. Therefore wrapping it with Future seems to be redundant. The API doesn't break reactive principles if the function returned simply an Enumerator.

[code]

[2014-05-08 22:13] ezhulenev opened #78 "introspect in CassandraTable doesn't work as expected"
Reflection 'getMethods' is used to find all defined columns in CassandraTable. However according to Java documentation: " The elements in the array returned are not sorted and are not in any particular order."

In case of composite primary key: (PartitionKey, PK1, PK2, PK3) it may end up with CREATE TABLE query where primary keys will be defined in wrong order: PRIMARY KEY(PartitionKey, PK3, PK1,

[2014-05-09 14:23] #48 closed, assigned to alexflav23

[2014-05-10 00:33] #78 closed, assigned to nobody

[2014-05-10 11:01] #74 closed, assigned to nobody

[2014-05-11 02:03] #44 closed, assigned to alexflav23

[2014-06-10 10:21] bensymonds opened #101 "Shutting down `Manager.taskExecutor`"
I am really new to scala/java so apologies if this is a stupid question, but how should the `ExecutorService` created in `Manager` be shut down?

[2014-06-26 13:58] mmoulou opened #104 "phantom-test sample"
Hello,

I'm new to phantom, i would like to implement test methods using phantom-test and i don't know how to use it, someone can help me plz

Tks
##

Mouhcine

[2014-07-03 13:38] migesok opened #105 "Race condition in CassandraTable’s initialization"
While working on a servlet web app I discovered a bug which I identified as race condition in the CassandraTable initialization code. It effectively prevents parallel instantiation of classes inherited from CassandraTable and as a consequence it makes impossible parallel class loading and static initialization of scala object singletons inherited from it.

I managed to scrap up a minimal example w

[2014-07-04 20:32] onsails opened #106 "blob data type support"
Can't post it into google groups as it says that I don't have permission for it, so consider the issue as a feature request:
I could not find any way to use `blob` cassandra's data type. Does phantom have it? Or will it?

[2014-07-26 15:26] #101 closed, assigned to alexflav23

[2014-07-30 11:25] krzemin opened #111 "Build for Scala 2.11"
Hi,
It seems that there is no build for Scala 2.11 in maven. When could it be fixed?

[2014-07-30 21:48] #104 closed, assigned to nobody

[2014-07-30 21:48] #105 closed, assigned to nobody

[2014-08-02 17:13] #111 closed, assigned to nobody

[2014-08-02 17:41] #106 closed, assigned to nobody

[2014-08-12 17:22] tanaka-de-silva opened #119 "Missing dependencies"
I am having trouble including this package into my sbt project, in particular due to missing dependencies for sbt-pgp(0.8.1) and sbt-git(0.6.4). SBT cannot find these with the resolvers that are given in the build files for this repository. I am using scala(2.10.4) with sbt(0.13.5). I got it to work by using github snapshots of the dependencies, changing the sbt versions and then using publish-loc

[2014-08-20 04:02] prettynatty opened #123 "Prepared statements support"
Are there any plans to support prepared statements?
Now I am using my own abstraction. Besides simple prepared statements it allows to choose execution context for a `Future`.
[code]

[2014-08-30 04:28] mustafamotiwala opened #129 "Missing play-iteratees"
Hey,
Was getting unresolved dependencies for play-iteratees_2.10;2.2.0 & noticed in the project's build.scala that you you guys are referencing 2.2.0 whereas the mvn central repo has only 2.4.0-M1.
Where are you guys getting the 2.2.0?

[2014-08-30 04:36] #129 closed, assigned to nobody

[2014-09-05 19:38] #119 closed, assigned to nobody

[2014-09-12 21:49] elmalto opened #130 "Verbose logging on tests"
I cant find a setting on phantom-testing to disable the massive console.log output

e.g.

9042 available
Starting cassandra
14:48:34.974 [pool-6-thread-1] INFO  o.a.c.config.YamlConfigurationLoader - Loading settings

Is there a way to disable this?

[2014-09-16 20:27] agemooij opened #133 "Please release a Scala 2.11 version"
Phantom looks like exactly what we need to upgrade the way we are interacting with Cassandra from Akka actors... unfortunately there is no Scala 2.11 release. Could you please provide one?

If you need any help turning your build into a cross-versioned one, please let me know and I'll submit a PR for it.

[2014-09-22 20:19] fbettag opened #137 "OR Query Support"
I've looked into OR Query support, but i just found the constant, since QueryBuilder does not support it.
Is there any way someone can try to build an SelectWhere.or which just wraps query parts and chains them with OR?
I would also be happy with something like

[code]

I don't want to try to step into the magic too hard :)

thanks you

[2014-09-25 01:13] lab3 opened #138 "Error extracting value from compound key"
I'm using the published dev release of 1.2.7 for Scala 2.11

I get the following error when extracting the row values
Error: can't extract required value for column 'param_id'

The first column, decoder_key is extracted fine but the second column fails with that error.  A toString() on the row reveals all the column data is there and in tact.

CREATE TABLE answers_clustered (
  	decoder_key text,

[2014-09-27 09:46] #137 closed, assigned to nobody

[2014-09-30 02:46] ezhulenev opened #139 "Spark Integration"
What is the state of spark integration, I can't find any branch related to spark so I make assumption that it's not started yet.

I'm playing with spark, datastax spark connector and phantom in the same project, and I feel that I understand what I really need. I there is no branch to pick up, I'll try to submit basic proof-of-concept this week.

[2014-10-10 07:56] sauravshah opened #141 "Connecting to multiple nodes without Zookeeper"
I'm going through the documentation at http://websudos.github.io/phantom and it seems like there's no way to connect to a multi-node Cassandra setup without using zookeeper. Is that correct?

[2014-10-12 06:16] sauravshah opened #142 "missing '=' at 'EXISTS' for tests"
I get this exception while running tests with CassandraFlatSpec. Seems like a Cassandra version issue. How can I fix this?

Exception encountered when invoking run on a nested suite - line 1:23 missing '=' at 'EXISTS'
com.datastax.driver.core.exceptions.SyntaxError: line 1:23 missing '=' at 'EXISTS'
    at com.datastax.driver.core.exceptions.SyntaxError.copy(SyntaxError.java:35)
    at com.datasta

[2014-10-12 13:58] #142 closed, assigned to nobody

[2014-10-13 13:24] #141 closed, assigned to nobody

[2014-10-21 19:14] heartsucker opened #143 "Update readme to specify resolver to Websudos repo"
I had to track down [this repo](http://maven.websudos.co.uk/repo) to get my project to build with v 1.2.7. It would have nice that specified somewhere more obvious.

[2014-10-21 22:08] brianwawok opened #144 "Does useConsistencyLevel really exist?"
I see it several places in the readme. Do not see a method named useConsistencyLevel anywhere (especially not on an InsertQuery)

[2014-10-26 20:51] #144 closed, assigned to nobody

[2014-10-27 09:26] hamnis opened #145 "Ambiguous implicits when importing import com.websudos.phantom.Implicits._"
$ sbt compile
[info] Compiling 3 Scala sources to /Users/maedhros/Projects/hbase-cassandra-migration/target/classes...
[error] /Users/maedhros/Projects/hbase-cassandra-migration/src/main/scala/hbcass/MigrateHistory.scala:72: type mismatch;
[error]  found   : ts.type (with underlying type String)
[error]  required: ?{def toLong: ?}
[error] Note that implicit conversions are not applicable because t

[2014-10-27 13:42] #143 closed, assigned to nobody

[2014-10-28 19:18] hamnis opened #148 "Batch statements created with the apply factories does not add statements to query builder"
Should this be always be assigned to Iterator.emtpy?

Wouldnt it be better to use qbList directly?

https://github.com/websudos/phantom/blob/develop/phantom-dsl/src/main/scala/com/websudos/phantom/batch/BatchStatement.scala#L34

I can submit a failing test case if you want.

[2014-11-05 23:48] #148 closed, assigned to nobody

[2014-11-13 17:30] prettynatty opened #157 "Collection columns of UDT values"
CQL lets define columns typed as collections of UDTs.
Is there a way to use it in phantom?

[2014-11-21 02:22] anshumans opened #158 "phantom-zookeeper 1.4.0 has unresolved dependencies"
SBT fails to resolve the following dependencies:

[warn]  :: com.twitter.common.zookeeper#server-set;1.0.83: not found
[warn]  :: com.twitter.common.zookeeper#client;0.0.60: not found
[warn]  :: com.twitter.common.zookeeper#group;0.0.78: not found
[warn]  :: com.twitter#finagle-zookeeper_2.10;6.17.0: not found

[2014-11-21 07:08] #158 closed, assigned to nobody

[2014-11-25 19:50] velvia opened #160 "Missing resolver in phantom-dsl 1.4.0 [doc]"
When I pull in phantom-dsl 1.4.0 (for scala 2.10), I get this dependency error for a fresh project:

[code]

I found the solution, which is to pull in the Typesafe releases repo, but this should be documented clearly in the README section for pulling in Phantom as a project.

[2014-11-26 15:46] #160 closed, assigned to nobody

[2014-11-27 01:39] velvia opened #162 "A few random, mostly doc issues"
1. In a really simple app, something like the executor is not being shut down, so at the end it hangs forever.
2. It would be great to have an example of inserting.  I found it by browsing to the Recipe example, but it'd be great to have it since the rest of the documentation is so good.
3. I can see simply mixing in `SimpleCassandraConnector`, but what if I want to use it in a deployed environmen

[2014-12-03 19:18] prettynatty opened #163 "CassandraStateManager.cassandraRunning returns false positive in some cases"
Because process looks like this:
[code]
and `cassandraRunning` method only checks if cassandra is present in `ps` output.

[2014-12-03 20:58] prettynatty opened #164 "Ability to set table creation options."
It would be great to have an ability to set options which are set after `WITH` keyboard in `CREATE TABLE` query.
It is useful for disabling row cache for example (http://www.datastax.com/documentation/cassandra/1.2/cassandra/operations/ops_set_caching_t.html)

[2014-12-12 14:08] ehartsuyker opened #165 "Invalid CQL when querying with composite keys"
I am using Phantom v.1.2.7 with Scala v.2.11.2 and Cassandra v.2.1.

My table looks like this.
[code]
[code]

And my query looks like this.
[code]

Which on execution generates the following CQL:
[code]

On execution it throws the following exception:
[code]
The valid CQL as determined from cqlsh is either of the following:
[code]

Is there a way to model the above valid CQL statement using the Ph

[2014-12-18 23:33] velvia opened #166 "Pattern to partially execute queries/inserts is broken."
Let's say I'm doing lots of inserts, and there are certain column values (corresponding to parts of the primary key) which I want fixed.  This doesn't work:

[code]

leading to this error:
[code]

However, this works:
[code]

I was thinking partially reusing the query would help performance, but maybe what I really need are prepared statements.  Anyways, any reason why the original doesn't work?

[2014-12-26 06:05] polymorpher opened #167 "select count(*) statement"
I have been searching around for the implementation of "select count(*) from ... where ..." but couldn't find it in the documentation / issue list. Is this something planned to be released in the future?

[2014-12-27 06:28] lizepeng opened #168 "SELECT DISTINCT * FROM inodes"
What I'm trying to do is to generate a CQL like "select distinct inode_id from inodes".
And It seems like distinct method is only able to build query string with all columns (that is * in the title)

[2014-12-30 23:01] nbauernfeind opened #169 "Release latest phantom dsl for scala 2.11 to maven central."
I noticed that http://maven.websudos.co.uk/ext-release-local only has v.1.2.7 for the scala 2.11 phantom-dsl binary. Would it be possible to release the latest 1.4.0 version of this? Also, would it be possible to release it to maven central like the 1.4.0 binaries for scala 2.10?

[2015-01-02 17:49] lab3 opened #170 "Cassandra map with DateTime"
I'm using a cassandra map <bigint, timestamp>

import com.websudos.phantom.CassandraTable
import com.websudos.phantom.Implicits._

case class MyRow(
...
   last_answered: Map[Long, DateTime]
   )

class MyTable extends CassandraTable[MyTable, MyRow] {
...
  object last_answered extends MapColumn[RespondentAnswersTable, MyRow, Long, DateTime](this)
...
.
}

Getting a runtime exception for the map.

[2015-01-03 15:35] lizepeng commented on #168
I fixed this problem by override distinct method in SelectTable.

[code]

[2015-01-03 15:35] #168 closed

[2015-01-05 04:55] alexflav23 commented on #145
@prettynatty  @magott @hamnis An official Scala 2.11 release is now out. This issue is fixed and will be closed.

[2015-01-05 04:55] #145 closed

[2015-01-05 04:55] alexflav23 commented on #169
@nbauernfeind Phantom is now available for Scala 2.11, version 1.5.0 is on Maven Central.

[2015-01-05 04:55] #169 closed

[2015-01-05 04:56] alexflav23 commented on #133
@agemooij @fbettag @magott @jasongoodwin Thanks to a lot of help from @fbettag along with the folks from Twitter and our efforts, 2.11 is now out, phantom 1.5.0 is published for both 2.10 and 2.11, on Maven Central.

[2015-01-05 04:56] #133 closed

[2015-01-05 04:57] alexflav23 commented on #138
@lab3 @kuhnen There is a new version, 1.5.0, an official release with full support for Scala 2.11 in phantom. Could you please confirm if the above persists there?

[2015-01-05 04:58] alexflav23 commented on #162
@GoldenZero In the next milestone release, a shutdown method will be found for the executor and the docs now have examples on inserts. Many thanks for reporting this once again. We've also added examples to clarify point 3 and 4 you made.

[2015-01-05 04:58] #162 closed

[2015-01-05 05:00] alexflav23 commented on #167
@polymorpher There is a count method, you can call:
[code]

That should give you exactly what you want. Please let me know if you get on with it ok.

[2015-01-05 08:27] agemooij commented on #133
Awesome.Thanks everyone!

[2015-01-05 23:48] #167 closed

[2015-01-06 15:49] jasongoodwin commented on #133
Thanks so much guys!

[2015-01-06 16:20] fbettag commented on #133
Glad i could help

[2015-01-09 15:49] graph1zzlle commented on #123
Hey there !

Any update on this ?

[2015-01-14 12:48] alexflav23 commented on #123
@graph1zzlle Not yet, we will work to get prepared statements out as soon as we can, they've now hit the top of the todo list.

[2015-01-14 13:22] graph1zzlle commented on #123
Great :+1: Thanks for this awesome lib

[2015-01-15 02:47] thiagoandrade6 opened #173 "eqs on Option[UUID] type?"
Hi, I'm trying to do a eqs on a Option field eg.

[code]

Then I get "value eqs  is not a member of object"

is there a way to accomplish that? I can't figure out...

The id field is an Option[UUID], because it must be null when I'm receiving a POST request in Play Framework, but I don't know how to do this assert in phantom

[2015-01-15 03:38] alexflav23 commented on #173
@thiagoandrade6 I don't think so since you cannot have an equals condition on a non indexed column and a Cassandra index cannot be null. It's not a Phantom limitation, it's a CQL design feature. The error is somewhat misleading, but it's telling you "id" is not an indexed column.

[2015-01-15 13:39] thiagoandrade6 commented on #173
Cool, I will have to figure out how to solve this problem, but thanks for the help.

[2015-01-15 13:39] #173 closed

[2015-01-15 14:33] thiagoandrade6 opened #174 "eqs not working"
I was trying to compare a java.util.UUID value to my sealed class who extends the Cassandra Table, a pretty standard feature of select and where clauses, but it gives me that eqs is not a member of object.

Whatever, I solved using a QueryCondition after looked up your code and it works fine.

Please, take a look at my [GIST](https://gist.github.com/thiagoandrade6/e715df01a5a04f81b649) for a bette

[2015-01-15 17:47] alexflav23 commented on #174
The only thing I can think of is that you're missing the correct important, respectively: ```import com.websudos.phantom.Implicits._```. This would be a pretty unpopular library without a working ```eqs```, as you can probably imagine. Please let me know if that fixes it.

[2015-01-15 17:56] thiagoandrade6 commented on #174
Yeah... it works! Thanks for your help again...
Importing the import com.websudos.phantom.Implicits._ solve the problem... I thought I was working with this, but was the scala implicits lol

[2015-01-15 17:56] #174 closed

[2015-01-19 09:49] PeterLappo opened #177 "Slick Like API"
Hi,
I quite like the API Slick in the way it appears as a Scala collection, Is there any way phantom could have a similar API so that you could mix relational and Cassandra access without changing programming styles when querying or modifying data?

Cheers
Peter

[2015-01-19 13:40] alexflav23 commented on #177
Hi @PeterLappo,

Unfortunately we don't feel Slick is a good idea and for any non trivial modelling scenarios it has proven to be a frequent target of criticism in the community, so it's not exactly deemed a great success.

Beyond that, there isn't a strong case for such an API in Cassandra, given the modelling syntax doesn't need to abstract away query language discrepancies like it would in Slic

[2015-01-19 13:40] #177 closed

[2015-01-21 22:43] brenttheisen opened #179 "Unresolved sbt dependencies"
I am unable to get sbt to resolve the `com.twitter#finagle-zookeeper_2.11;6.24.0` and `com.websudos#util-testing_2.11;0.5.0` dependencies. Tried to find what resolvers need to be added for these dependencies but its not clear where either of them has moved to.

Full sbt output:

[code]

[2015-01-22 00:41] alexflav23 commented on #179
Hi @brenttheisen,

The issue is with our managed Maven repository which we are experiencing issues with. We are aware of the problem and working on it already, and all the core websudos projects will be moved to Maven Central.

We will make sure to update everyone via Twitter and Github and fix the issue as soon as possible, within the next few hours! Hope this helps.

Regards,

[2015-01-22 21:02] brenttheisen commented on #179
OK, thanks @alexflav23! I realize deploying to Maven Central/Sonatype Nexus is a lot more difficult than it sounds so no rush.

[2015-01-23 06:32] prasadmahendra commented on #158
Finagle zookeeper appears to have disappeared from "maven.websudos.co.uk/ext-release-local"?

[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	::          UNRESOLVED DEPENDENCIES         ::
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	:: com.twitter#finagle-zookeeper_2.10;6.24.0: not found
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::

I have the correct re

[2015-01-23 15:34] sjohnc commented on #179
Any resolution to this yet?

[2015-01-23 16:29] prasadmahendra opened #180 "phantom-zookeeper 1.4.0 - 1.5.0 has unresolved dependencies"
warn] 	module not found: com.twitter#finagle-zookeeper_2.10;6.24.0
[warn] ==== local: tried
[warn]   /Users/pmahendra/.ivy2/local/com.twitter/finagle-zookeeper_2.10/6.24.0/ivys/ivy.xml
[warn] ==== public: tried
[warn]   http://repo1.maven.org/maven2/com/twitter/finagle-zookeeper_2.10/6.24.0/finagle-zookeeper_2.10-6.24.0.pom
[warn] ==== Typesafe Releases: tried
[warn]   http://repo.typesafe.com/typ

[2015-01-23 16:30] prasadmahendra commented on #180
I have both the recommended resolvers specified:

resolvers += "twitter-repo" at "http://maven.twttr.com"
resolvers += "websudos-repo" at "http://maven.websudos.co.uk/ext-release-local"

Did http://maven.websudos.co.uk/ext-release-local go away? lots of 404s from the server.

[2015-01-25 19:43] alexflav23 commented on #180
@prasadmahendra The issues in question should now be fixed, we've just republished those dependencies to our Maven repository. Please let us know if you experience further issues.

[2015-01-25 19:43] alexflav23 commented on #179
Hi @sjohnc @brenttheisen  The issues in question should now be fixed, we've just republished those dependencies to our Maven repository. Please let us know if you experience further issues.

[2015-01-25 19:43] #179 closed

[2015-01-25 19:43] #180 closed

[2015-01-25 19:45] alexflav23 commented on #166
@velvia In your above example, ```batch.add``` is immutable meaning you get a whole new batch, so your foreach isn't even adding anything to the batch from where I stand. Apologies for the late reply.

[2015-01-26 14:57] sjohnc opened #182 "cassandraunit version greater than what is on maven central"
This code depends on cassandraunit 2.0.2.4 the latest on maven central is 2.0.2.2, can you release a version that is dependent on 2.0.2.2?

[2015-01-26 16:10] brenttheisen commented on #179
Works for me now. Thank you.

[2015-01-26 21:53] carwilki commented on #182
this is affecting me as well.

[2015-01-27 08:21] graph1zzlle commented on #182
This is currently affecting all PRs.

[2015-01-27 15:39] alexflav23 commented on #182
@graph1zzlle @carwilki We are using a custom Cassandra Unit distribution with very minor changes to the project, simply using a newer version of Cassandra. This was also published on our Maven repo and it's now being restored to its proper place.

All PRs should return to normal very shortly.

[2015-01-27 15:41] #138 closed

[2015-01-30 00:39] alexflav23 commented on #182
@graph1zzlle @carwilki The appropriate version of Cassandra Unit is now available on our managed Maven repository and there should be no further interruption of service. Thank you for reporting this, please let us know if you experience further issues.

[2015-01-30 00:39] #182 closed

[2015-01-31 17:33] benjumanji opened #189 "Use Spool instread of Enumerator when using twitter futures"
Idea: Instead of going via the play lib when using twitter futures, use a `Spool`. Why? because if you are threading around context using twitter/util `Local` it will still be accessible inside of phantom. With this in place you could potentially reuse `Tracer` from finagle to annotate things inside of the query.

I would be very happy to engage in doing the work, I just would like to know if you

[2015-01-31 17:36] benjumanji commented on #189
Basically to get tracing, you could merely check if if finagle was on the class path, and if so, check for tracing enabled, and if so, add tracing data. How cool would that be?

[2015-01-31 20:23] alexflav23 commented on #189
@benjumanji There are several bumps in the road to achieve what you suggest, many thanks which we are already considering.

- Phantom does not have a dependency on Finagle for core functionality, but rather on Twitter util. As most users do not user Finagle we cannot increase dependencies that drastically, Finagle is not exactly a small project.

- We've been planning on completely breaking the tw

[2015-01-31 20:28] benjumanji commented on #189
Sounds cool. I would agree that the tracing stuff should / would live in its own module, so that only people that have finagle anyway on the class path should incur a cost. I have a few things to take care of, but I think end of next week I will start in earnest on it, because it would make my logging so much prettier to be able to pass things around with `com.twitter.finagle.context.Context`

[2015-02-01 01:40] benjumanji commented on #189
Bewm: PR opened. I didn't want to go to sleep anyway,

[2015-02-01 09:00] velvia commented on #166
@alexflav23  that's interesting you say that.  So the proper pattern is to do a fold or something?
Despite what you say, the code with the foreach seems to actually do the inserts.

[2015-02-04 18:44] thiagoandrade6 opened #192 "Type Mismatch on SecondaryQueryCondition"
Hi, I'm trying to do a query based on a secondary field, but I'm getting a compiler error on this:

[code]

Where clientId is an index column. Indeed it works on CQL as expected, but gives me type mismatch found: SecondaryQueryCondition and required: QueryCondition.

This is the only example I've found and I would like to know how it works, please.

[Your Example](https://github.com/websudos/phant

[2015-02-04 18:54] thiagoandrade6 commented on #192
Hmm, found the error...

Scala gives type mismatch when you try to do a where with an optional field...

[2015-02-04 18:54] #192 closed

[2015-02-05 02:41] alexflav23 commented on #192
@thiagoandrade6 That's not an error though. You can only do ```where``` with a column that's part of the ```Primary``` and you cannot have a ```null``` primary key in a table. No part of the CQL primary key can be ```null```, so optional columns cannot be used as part of an index or as part of an ```where``` clause.

Read [this article](http://blog.websudos.com/2014/08/a-series-on-cassandra-part-2

[2015-02-05 02:42] #189 closed

[2015-02-05 08:47] MartinHerren commented on #158
Yeap, currently not possible to find com.twitter#finagle-zookeeper_2.10;6.17.0 required for Phantom 1.4.0
Not anymore on maven.websudos.co.uk/ext-release-local nor could i find it somewhere else. Phantom seems to want a ghost version of zookeeper :-)

[2015-02-05 11:22] alexflav23 commented on #158
@MartinHerren We will have to ask you to upgrade to either 1.5.0 or 1.5.1. Our Maven repo suffered some damage from AWS withdrawing hardware from use, some of the previous releases are now gone as a consequence. The 6.24.0 used by the latest phantom should however be available for both Scala 2.10 and 2.11.

[2015-02-05 11:40] thiagoandrade6 commented on #192
Hey @alexflav23 Indeed, this is not a bug or anything else, but since scala did not help me out, that type mismatch was strange, but you have explained very well why. Thanks for your attention.

[2015-02-06 09:33] graph1zzlle opened #195 "conflict when import com.websudos.phantom.Implicits._"
Running into this issue, using Scala 2.11.4 and so phantom-dsl_2.11.

[code]

Already seen https://github.com/websudos/phantom/issues/145, seems like not everything is fixed ?

[2015-02-06 09:45] alexflav23 commented on #195
@graph1zzlle Please correct me if I am wrong but what you are looking for here is a conversion from ```String``` to an ops wrapper, which I believe doesn't have a whole lot to do with phantom, but rather with a Scala clash. ```LowPriorityImplicits``` was removed by Scala 2.11, I don't understand how it winds up in the classpath.

We will investigate further and see what's causing the import.

[2015-02-06 09:46] graph1zzlle commented on #195
Maybe I am wrong, I will do more investigation and report back.

[2015-02-06 16:16] MartinHerren commented on #158
Yes thanks, that's fine, dependencies resolve fine now using 1.5.0
Now it's my code that doesn't compile, but this bug must be sitting in my chair ;-)
So now i can learn to use Phantom.

Thanks and best regards !

[2015-02-06 21:43] arkady60 commented on #180
I am getting unresolved dependency for com.twitter#finagle-zookeeper_2.10;6.17.0
In build sbt i have included
"com.websudos" % "phantom-zookeeper_2.10" % "1.2.2"

and
resolvers += "websudos-repo" at "http://maven.websudos.co.uk/ext-release-local"

resolvers += "twitter-repo" at "http://maven.twttr.com"

Please advice

[2015-02-06 21:50] arkady60 opened #196 "Unresolved dependency for phantom zookeeper"
I am getting unresolved dependency for com.twitter#finagle-zookeeper_2.10;6.17.0
In build sbt i have included
"com.websudos" % "phantom-zookeeper_2.10" % "1.2.2"

and
resolvers += "websudos-repo" at "http://maven.websudos.co.uk/ext-release-local"

resolvers += "twitter-repo" at "http://maven.twttr.com"

Please advice

[2015-02-07 15:52] alexflav23 commented on #196
@arkady60 Phantom 1.2.2 is no longer available publicly because of storage less in our Maven repository. The error has since been corrected and a 1.5.0 release of Phantom is available on Maven Central.

We advise you to upgrade to the newest available version as you will benefit from various bug fixes that have been included since 1.2.2 was released in August of 2014.

[2015-02-07 15:52] #196 closed

[2015-02-07 15:55] alexflav23 commented on #164
@prettynatty We have started work on a new QueryBuilder, independent of the underlying Datastax builder. This will include a large number of improvements to the builder, from performance, to quality of compilation errors to available features.

We will post a roadmap for this sometime next week. For this this ticket will be closed and we will have a new one to explicitly deal with the full set of

[2015-02-07 15:55] #164 closed

[2015-02-07 15:57] alexflav23 commented on #170
@lab3 The discrepancy comes from the way we handle ```DateTime``` at DSL level, which is very basic to say the least. There is no explicit primitive of ```DateTime```, instead we use the ```java.util.Date``` support to cast back and forth. We will follow up on this and see where the wrong primitive is being called into action.

[2015-02-08 00:20] TrustNoOne opened #197 "thread pool executor in CassandraResultSetOperations.Manager is never shutdown"
Hi,
I can't find a way of shutting down the thread pool executor in CassandraResultSetOperations.Manager:

[code]

This leads to leaks in applications that reload classes (e.g. play).

[2015-02-09 16:45] arkady60 opened #198 "No support for ALTER table"
Can you please advice on when the Support for Alter table will be provided. The idea is to be able to update CQL table based on the difference of the Actual table schema and the current columns set of phantom Cassandra Table.
Thank you

[2015-02-10 05:03] alexflav23 commented on #197
@TrustNoOne There is indeed no direct API method to shut down the executor. We will add one in the next release, to allow controlling how and when things shutdown.

Thank you for reporting this.

[2015-02-10 05:03] #197 closed

[2015-02-10 10:46] awouda opened #199 "Fetch performance"
Hi,

Discussed a couple a days ago. There is a large difference between a fetch and future  result. The fetch has more work internally but the difference isn't expected to be this large.
I've added some code to test this below: getting 2000 results of this simple CF on a localhost (1-node) Cassandra with Phantom 1.5.1 takes with the Future 34ms, with the Fetch >500ms.

[2015-02-10 10:46] awouda commented on #199
Hi,

The issue with the code wouldn't submit, here's the code

The Simples table definitions:

[code]

And the test
[code]

regards,

Alex

[2015-02-11 14:21] MartinHerren commented on #157
I'm adding myself to the list of those waiting for UDT support :-)

Still planned to have an initial version out in February ?

In the meantime i tried to play with what's already available, inspiring myself from the test file https://github.com/websudos/phantom/blob/742bca90ce44b467644a757e488d8e86c684c0dc/phantom-udt/src/test/scala/com/websudos/phantom/udt/Tables.scala but that results in a "jav

[2015-02-11 20:00] melodious opened #200 "Default TTL for Table?"
Is there any way to set the default TTL on a table?

[2015-02-16 09:07] hamnis commented on #200
See this pull request: https://github.com/websudos/phantom/pull/181

[2015-02-17 04:47] alexflav23 commented on #195
@graph1zzlle Any news on this? Just want to double check before closing the issue. Many thanks!

[2015-02-17 16:38] alexflav23 commented on #200
@melodious This will be available in the official 1.6.0 release to be published at the end of February. Stay tuned for more or just follow us on Twitter where we announce public releases!

[2015-02-17 16:38] #200 closed

[2015-02-23 22:25] alexflav23 commented on #198
@arkady60 Hi, support for ALTER table will be included in either 1.6.0 or 1.7.0.We have already begun work on a new Query builder written in Scala to superseed the Datastax variant in phantom. This new builder will fully support all CQL options and the entire protocol, including ALTER queries.

The 1.6.0 release is scheduled for end of February, but the likely odds are the new querybuilder will re

[2015-02-25 02:51] alexflav23 commented on #199
@awouda Phantom 1.7.0, scheduled for release somewhere in mid to end of March will contain a new API with a breaking change. Users who want enumerators or spools will explicitly use different methods, where as ```fetch()``` and ```collect()``` will use the direct mapping ``` results.all().map { r => Simples.fromRow(r) }``` like your example suggests.

[2015-02-25 03:02] alexflav23 commented on #166
@velvia I will double check the example, perhaps it was my mistake at first glance. Regardless, I hope everything is sorted now. Prepared statements will also hopefully come very shortly.

[2015-02-25 03:02] #166 closed

[2015-02-25 05:06] #198 closed

[2015-02-25 15:30] #195 closed

[2015-02-25 15:31] alexflav23 commented on #195
@graph1zzlle This has definitely been resolved in the upcoming 1.6.0 and I've closed the ticket as such. The ```Implicits``` object has been deprecated in a favour of a more Scala friendly ```package object```, and there's no sign of the conflict you mention.

[2015-02-26 11:15] doubaokun opened #205 "How to show the real query calling Cassandra?"

[2015-02-27 03:13] bbirand commented on #162
@alexflav23 Can you point out where you in the documentation you are addressing the 4. point of @velvia ? All I see is this:
https://github.com/websudos/phantom#data-modeling-with-phantom

And that section doesn't even have any text. I'm just looking at the library, and I'm not sure I understand the reasoning behind the  `fromRow` method.

My basic question is, would it not be possible to just giv

[2015-02-27 03:17] alexflav23 commented on #205
@doubaokun Use the logger available for each phantom table. https://github.com/websudos/phantom/blob/develop/phantom-dsl/src/main/scala/com/websudos/phantom/CassandraTable.scala#L52

[2015-02-27 03:17] #205 closed

[2015-03-02 01:35] alexflav23 commented on #130
@elmalto All loggers have been successfully moved to slf4j compatible api, which means you can configure all loggers using an xml configuration or whatever other supported config format. Perhaps a much better place to continue with this is here: http://slf4j.org/faq.html.

Hope this helps

[2015-03-02 01:35] #130 closed

[2015-03-02 01:39] elmalto commented on #130
perfect, thank you

[2015-03-02 01:44] alexflav23 commented on #199
@awouda The mapping optimisations have been implemented in Phantom and the relevant performance tests have been added. I will now close this issue as it's resolved, we will make the new performance changes available much sooner than planned and at the very least a development version will be publicly available within the next few days, even if it's not a major release.

[2015-03-02 01:44] #199 closed

[2015-03-02 01:46] alexflav23 commented on #139
@ezhulenev It's been a long time since we kept postponing this and it's about to reach prime time very shortly. Hopefully in April spark integration will become a top priority for phantom. Our attention and time are unfortunately limited resources and yet we see great benefit in having something like ```phantom-spark``` out there. We will keep you posted on how things go.

[2015-03-02 01:48] alexflav23 commented on #163
@prettynatty This has now been fixed internally and the fix will go out in the next development release and in the next major release. Phantom will now attempt to actually connect to Cassandra instead of using any other checks and it will have specific consistent fail behaviour for known error types such as connection timeouts or invalid IPs. Please keep an eye out for the next release and everyth

[2015-03-02 01:48] #163 closed

[2015-03-03 21:48] alexflav23 commented on #199
@awouda Phantom 1.5.4 is now available on our Maven repository with very big performance improvements implemented. Please give it a try, we would welcome some more profilling work and feedback. Some other changes leaked into the release too, as it wasn't meant to be public.

[2015-03-04 01:09] fernandoj92 opened #206 "Tests automation question"
Hi, love this project. I am developping a Play 2.3.7 Application and I am having some trouble automating tests.

I want to test some operations to the DB (insert,selectbyId,selectAll...etc) and if possible in a way that works with Travis.

My problem is that i receive this error:

`ERROR com.websudos.phantom - unconfigured column family devices`

I ve checked it on localhost, and i see that everyt

[2015-03-04 04:04] alexflav23 commented on #206
Hi @fernandoj92,

The insert schema method does a very simple thing:

```Await.ready(Table.create.future(), 3.seconds)```.

You generally need 2 sets of methods:

[code]

Then you define your own specification, you generally don't use the default one directly.

[code]

And then you use this global spec to define the rest of your tests:

[code]

Hope this helps.

[2015-03-04 22:44] fernandoj92 commented on #206
Thank you very much for your consideration. This helped me a lot :)

[2015-03-04 22:46] #206 closed

[2015-03-08 23:45] alexflav23 commented on #165
@ehartsuyker Apologies for the long delay in replying, this is just a quick update to say the token serialisation function is being updated in 1.6.0 as part of a broader scope complete new QueryBuilder being written in phantom.

This issue will be addressed as part of the existing roadmap. Many thanks for reporting it.

[2015-03-17 11:26] jelmo commented on #179
Hi. I have just experienced this issue: SBT cannot resolve com.twitter#finagle-zookeeper_2.11;6.24.0.
I looked on Maven Central, Twitter and Websudos repositories and the library is nowhere to be found.

It should be noted that just a few days ago SBT could resolve it without any problem, from the Websudos repository (http://maven.websudos.co.uk/ext-release-local). Was the library recently removed

[2015-03-17 11:37] alexflav23 commented on #179
Hi @jelmo,

We are experiencing issues with our Artifactory installation and had to install from scratch a second time, the 1st being the last time this issue was open. It's already being addresses as we speak.

Apologies for any inconvenience!

Regards,

[2015-03-17 12:21] jelmo commented on #179
It works now. Thank you.

[2015-03-17 14:23] kkishordn opened #208 "dependency issue: org.cassandraunit:cassandra-unit:2.0.2.4"
in gradle build, I have included: com.websudos:phantom-testing_2.10:1.4.0

It started complaining about:
Could not find org.cassandraunit:cassandra-unit:2.0.2.4

seems 2.0.2.4 is taken out form http://maven.websudos.co.uk/list/plugins-release/org/cassandraunit/cassandra-unit/ as its no more listed there.

please suggest.

[2015-03-17 23:26] raam86 commented on #123
Is there anything the community can do to expedite this?

[2015-03-18 03:40] nathanalderson commented on #208
Same problem occurs for me on a fresh clone of this repo and attempting to run `sbt test`.  In addition, if I change the dependency from cassandra-unit:2.0.2.4 to cassandra-unit:2.1.3.1, then I hit another missing dependency: com.websudos:util-testing_2.11:0.5.0.  Changing that to 0.6.10 compiles successfully, but fails a bunch of unit tests.  I don't know if the failures are related to the change

[2015-03-18 09:47] alexflav23 commented on #208
@nathanalderson Thank you for reporting this. We are aware of the issue, it's to do with our custom Maven repository having a downtime. The issue has now been fixed and all the missing dependencies are being systematically re-deployed back to Maven to restore functionality.

[2015-03-18 09:47] #208 closed

[2015-03-18 18:33] kkishordn commented on #208
@alexflav23, we are still facing the issue with cassandra-unit:2.0.2.4.

[2015-03-19 03:42] alexflav23 commented on #208
@kkishordn ```cassandra-unit``` is now re-published to our Maven repository and should be back and working in the ```phantom-testkit```.

[2015-03-19 14:07] nathanalderson commented on #208
It looks like 2.0.2.5 is available from `maven.websudos.co.uk`, but phantom still depends on 2.0.2.4, which is still unavailable.  Also, util-testing_2.11-0.5.0 is still not available.  Are we doing something wrong?

[2015-03-19 14:15] alexflav23 commented on #208
@nathanalderson We are working to publish a new cut of phantom with the 2 new dependencies and that should hopefully be available today.

In the mean time you can exclude cassandra-unit from the phantom-testkit dependency and manually add 2.0.2.5. You can also bump the util version used to 0.6.11, which is available on our Maven repo.

[2015-03-20 11:19] alexflav23 commented on #208
@nathanalderson A Phantom 1.5.0-R2 has just been published to our Maven repo to address the issues with dependency resolution. Everything should be working fine now. Please let us know if anything goes wrong.

[2015-03-20 11:36] mmoulou opened #209 "Count(*) query return always 1"
Hello,

I've an wrong result on my count(*) query (my query return always count=1),  after searching, i found that you set limit =1 on SelectCountWhere class.

i couldn't set limit to another value, i'm having  an IllegalStateException("A LIMIT value has already been provided")

[2015-03-20 11:38] mmoulou commented on #209
DATASTAX Documentation:

Counting returned rows¶

A SELECT expression using COUNT(*) returns the number of rows that matched the query. Alternatively, you can use COUNT(1) to get the same result.

Count the number of rows in the users table:

SELECT COUNT(*) FROM users;

Specifying rows returned using LIMIT¶

Using the LIMIT option, you can specify that the query limit the number of rows returned.

[2015-03-20 13:33] alexflav23 commented on #209
@mmoulou Many thanks for reporting this, it is indeed a DSL error. We enforce a ```LIMIT 1``` on ```one``` and ```get``` calls for performance reasons and clarity reasons, but that works differently in a count because Cassandra will limit the results before counting them.

That means whenever you count and limit at the same time, you get at most the limit. Anyway, we will deploy a fix very shortly

[2015-03-25 02:11] tosoonee commented on #208
phantom-testing_2.11-1.5.0-R2.pom also declares the dependency

         <dependency>
            <groupId>org.cassandraunit</groupId>
            <artifactId>cassandra-unit</artifactId>
            <version>2.0.2.4</version>

can you check it again?

[2015-03-25 15:35] rahulsinghai commented on #209
@mmoulou Can you please let us know how you write count(*) query in Phantom DSL? I am using version 1.5.0 and could not find any way to make count(*) a part of select query.

[2015-03-25 15:36] alexflav23 commented on #209
@rahulsinghai ```MyTable.count.one``` is the current version. In Phantom 1.6.0 and above, it will change to ```MyTable.select.count```.

[2015-03-25 16:39] rahulsinghai commented on #209
@alexflav23 Thanks for your reply. Is there any way to count the number of rows for a `select` query with `where` clause in 1.5.0? `MyTable.count.one` will return all the rows in the table.

[2015-03-25 16:50] alexflav23 commented on #209
@rahulsinghai I suggest taking the time to familiarise yourself with phantom by reading the docs.
```MyTable.count.where(_.name eqs "Peter").and(_.age eqs 15).one()```

[2015-03-25 23:23] fernandoj92 opened #211 "module not found: org.cassandraunit#cassandra-unit;2.0.2.4"
Hi, I am having some trouble with travis because it cannot resolve that specific module. I lookedinto your Travis jobs and found that your version is the .5, but i dont know how to set mine to .5.

In your project you have your Build.scala with a 2.0.2.4 version and i think thats causing me trouble, but i am not sure.

Here the build.scala fo your project which i am referring to:
https://github.co

[2015-03-25 23:28] alexflav23 commented on #211
@fernandoj92 Can you override that dependency with a 2.0.2.5 version of the same artefact? We have had some trouble with our Maven repository which has unfortunately caused the loss of old artefacts.

[2015-03-25 23:51] fernandoj92 commented on #211
I got these 2 errors, but it passed green, so i believe its ok:
* [error] Server access Error: Connection timed out url=http://maven.websudos.co.uk/ext-release-local/org/easytesting/fest/1.0.8/fest-1.0.8.jar
* [error] Server access Error: Connection timed out url=http://maven.websudos.co.uk/ext-release-local/net/sf/ehcache/ehcache-parent/2.5/ehcache-parent-2.5.jar

I dont know a lot about SBT, did

[2015-03-26 13:45] alexflav23 commented on #211
@fernandoj92 Good to hear the issue is now resolved!

[2015-03-26 13:45] #211 closed

[2015-03-26 16:16] melodious opened #212 "Creating a Secondary Index on a Primary Key Field"
Is it possible to create a secondary index on a field that is in the primary key through Phantom? I am trying to mix in both PrimaryKey and Index without success.

[2015-03-26 16:51] alexflav23 commented on #212
@melodious Not it's not possible. Also, I'm not sure why you would ever need that.

[2015-03-28 21:53] #212 closed

[2015-04-01 20:55] D-Roch commented on #195
@alexflav23 do you know when it will be released on maven ?

[2015-04-10 15:47] alexflav23 commented on #209
@mmoulou  I'm now going to close this ticket as it's been resolved in the latest development cut. We are working very hard to ensure that will go live as soon as possible.

[2015-04-10 15:47] #209 closed

[2015-04-13 16:46] alexflav23 commented on #165
@ehartsuyker We have fixed this bug as part of the roadmap to phantom 2.0.0, which will make prime time very very soon, hopefully next week. Beyond that, you could make everything work as you describe by simply using the normal equals, which would generate the query in the second example:

[code]

[2015-04-15 08:08] ehartsuyker commented on #165
We moved away from this because we couldn't wait for a fix, but were the types changed so that a normal equals in a where clauses compiles? Or is that not what you mean?

[2015-04-20 13:05] alexflav23 commented on #165
@ehartsuyker A normal ```eqs``` would have compiled back then too, without the need of a token function. I can add a test for this specific scenario in the latest branch, just to be extra sure.

[2015-04-20 13:06] #165 closed

[2015-04-20 13:11] ehartsuyker commented on #165
Awesome. Thanks for being on top of this. Thumbs up.

[2015-04-24 10:34] mstump opened #221 "Remove zookeeper dependency"
I'm having trouble understanding why you need a zookeeper dependency. The datastax driver will automatically load balance, and you shouldn't be doing anything new on thirft. Zookeeper is a single point  of shared mutable state with poor HA behavior, it's an anti-pattern for reliable distributed systems.

[2015-04-24 11:20] alexflav23 commented on #221
Hi @mstump,

The issue is indeed quite complex and not obvious, but the purpose of ZooKeeper is not to load balance or do any of the work the driver does. I think you are biased against ZooKeeper without seeing its concrete use, which doesn't have much to do with what you are describing.

The driver can indeed load balance, perform heartbeats, failovers and a lot of great staff, but it cannot be r

[2015-04-24 11:23] #221 closed

[2015-04-24 15:40] alexflav23 commented on #157
@MartinHerren  @prettynatty @elmalto A small update on UDTs, which unfortunately didn't make February as we prioritised a new QueryBuilder release ahead of UDT support to make it far easier to add idiomatic UDT support to start with.

They have now however reached the top of the priority list, and we are hoping they will be out very soon, within the next 2 - 3 weeks. They will be included in the g

[2015-04-27 14:45] alexflav23 commented on #170
@lab3 This issue has finally been fixed in the primitive API and will be released in the next version. We've added tests to explicitly cover this scenario where the type of the collection you get out is not the type of the primitive used for extraction. It's just an internal concern that boiled up.

Thank you for reporting it, it certainly took a lot of change, including a new querybuilder, to add

[2015-04-27 14:45] #170 closed

[2015-04-29 12:57] coffius opened #224 "Custom names for columns"
Is it possible to use custom names for columns?

Something like that:
[code]

[2015-04-29 12:59] alexflav23 commented on #224
Hi @coffius,

Yes, it's quite easy:

[code]

Hope that helps!

[2015-04-29 14:08] #224 closed

[2015-05-02 12:29] polymorpher opened #228 "What is the correct way to use BlobColumn and ByteBuffer with Phantom?"
Whenever I execute an insert query with a BlobColumn set to some ByteBuffer value, I get the following error:
com.datastax.driver.core.exceptions.SyntaxError: line 1:X no viable alternative at input 'Y'

where X is some arbitrary value and Y is some symbol (e.g = ) { } etc.)

Upon manual inspection of the query string, I found the query string is truncated to where I set the value of the BlobColum

[2015-05-02 12:30] alexflav23 commented on #228
@polymorpher Thank you for reporting this. Please confirm if you are using phantom 1.8.0 or if you are currently on an older version. It may well be that the new QueryBuilder we just launched is still not 100% stable as most things aren't in their first week after launch.

If you confirm the version I will be able to assist you further.

[2015-05-02 12:32] polymorpher commented on #228
Yes, I am using 1.8.0.

Sent from my iPhone

[2015-05-02 12:36] alexflav23 commented on #228
@polymorpher I will double check that we have tests for that. If they're broken, I will release a fix within the next 2 - 3 hours to our Maven repo.

[2015-05-02 19:20] alexflav23 commented on #228
@polymorpher This was indeed an issue on our end it seems, it's now fixed and available in a PR. I will publish a 1.8.1 release for this, it should be available to you in some 15 minutes. Thank you for reporting the bug and sorry to have made you waste a few hours.

[2015-05-02 20:29] alexflav23 commented on #228
@polymorpher This is just a confirmation that 1.8.1 has landed on maven.websudos.co.uk and you should no longer have issues using BlobColumns. I will now close this ticket, please let us know if there are any further problems on your end.

[2015-05-02 20:29] #228 closed

[2015-05-03 21:17] alexflav23 commented on #157
@MartinHerren @prettynatty @elmalto Another update on this. The new Querybuilder is not out in 1.8.0 and UDT support is officially top priority, so do except to see at least a prototype level working version very shortly, hopefully not longer than 2 weeks.

[2015-05-04 08:04] polymorpher opened #230 "Handling very large batch queries"
*Update: this issue also seems to occur for smaller batch queries.*

I came across this type of error when I execute large batch queries:

2015-05-04 03:43:04,999 ERROR [pool-26-thread-1] phantom: line 1:1133150 mismatched character '<EOF>' expecting set null

Where the column number in "1:1133150" varies from time to time.

This particular query is an INSERT query consisting of some UUID columns,

[2015-05-04 09:03] polymorpher commented on #230
I switched back to 1.5.0. The problem disappeared. I believe there are some bugs in the new QueryBuilder

[2015-05-04 09:45] alexflav23 commented on #230
@polymorpher It is well possible we still have issues in the new builder, it's a very new and very large piece of work. Speed may even be impaired by the new "log by default" in debug mode, otherwise we will make sure to add more performance tests for batches although they are currently being tested already.

When you say by orders of magnitude faster what specifically are you referring to and how

[2015-05-04 09:50] polymorpher commented on #230
I split around 10000-20000 queries into minibatches - with 1.5.0, 200+ mini batches completed in the blink of an eye, whereas with 1.8.1 I had to wait for much longer, the console output scrolls so slow so that I could leisurely observe the console output and the error messages : )

[2015-05-04 18:36] brianwawok opened #232 "1.8 cannot update secondary indexed column"
Not sure if this is good or bad to do, but it definitely worked in 1.5.

[code]

This now is a compile time error like:

[code]

if I removed index from the table def it works.. or if I use 1.5.

[2015-05-04 18:44] alexflav23 commented on #232
@brianwawok Thank you for reporting this. As far as I am aware, Cassandra doesn't allow updating of Indexes and it's why we've inserted a compile time error as you describe.

[2015-05-04 22:23] brianwawok commented on #232
@alexflav23 it totally works fine on SECONDARY indexes.  You cannot change primary key..

see demo:

[code]

[2015-05-04 23:15] alexflav23 commented on #232
@brianwawok I've added a ticket for this internally and it should be resolved fairly quickly. I will keep you up-to-date with progress.

[2015-05-05 11:56] brianwawok commented on #232
@alexflav23 cool, I can pull a snapshot when it is available and test...  I have a fairly big app, so we will see if I catch any other glitches in the upgrade.

[2015-05-06 02:56] brenttheisen commented on #179
I think this is happening again. Can anyone else confirm?

[2015-05-06 14:12] brenttheisen commented on #179
Hi @alexflav23. It looks like this issue is happening again and its causing a lot of issues with our build process and delaying release of a blog post I wrote about Phantom. Can you please republish `com.twitter#finagle-zookeeper` to your Maven repository? Thanks.

[2015-05-06 14:43] sblask commented on #158
Seems like the Maven repository is down again? http://maven.websudos.co.uk/ext-release-local gives a 404

[2015-05-06 14:47] alexflav23 commented on #158
@sblask Yes it is indeed, some infrastructure changes have gone wrong as I was just informed. We are working on restoring everything back to normal and all phantom artefacts are now moving to Maven Central, to avoid situtations like this in the future.

[2015-05-06 15:35] sblask commented on #158
Works now, thanks for the quick fix!

[2015-05-06 16:08] alexflav23 commented on #158
@sblask Glad to hear that and apologies for the service interruption!

[2015-05-07 09:30] kareblak commented on #139
@alexflav23 Any news on the Spark integration, and will it be trivial for this to work with spark-streaming aswell?

[2015-05-08 08:46] alexflav23 commented on #232
@brianwawok A 1.8.3 will be released later today to sort this issue out. I will update you once it's live.

[2015-05-08 13:22] brianwawok commented on #232
@alexflav23 great I will let you know how it works!

[2015-05-10 23:52] alexflav23 commented on #232
@brianwawok 1.8.4 is now on its way to Maven Central and it should be live within an hour or two. 1.8.3 was published to bintray which keeps rate limiting us to 5 rest api calls a day in hope of petty dollar.

[2015-05-11 12:25] alexflav23 commented on #232
@brianwawok 1.8.4 is live and this issue has been resolved. I will now close this ticket. Let us know if you experience any further problems.

[2015-05-11 12:25] #232 closed

[2015-05-11 15:27] brianwawok commented on #232
@alexflav23 bintray comment extra funny because I worked for Sonatype until 2 weeks ago ;)

[2015-05-11 18:12] digital-wonderland opened #238 "Tag releases properly"
Hi,

could you please be so kind to tag releases properly (additionally uploading them to Github as release would be nice as well)? Apparently this happened earlier, until 1.4.0, but not anymore since then.

Reasoning is that it makes it much easier to figure out what code one is running - which is often quite helpful ;D. I.e. the latest release seems to be 1.8.4 but that version is nowhere mentio

[2015-05-11 18:19] alexflav23 commented on #238
Hi @digital-wonderland,

We don't use GitHub for source control because it's poor PR mechanism along with many other things in less than ideal status. Now I'm wondering how often you debug library code in your applications given we haven't seen any contribution or fixes being pushed upstream and how much of a problem this really is on a wider scale to warrant us implementing the CI changes.

Regar

[2015-05-11 19:23] digital-wonderland commented on #238
Thanks for the quick response. I'm not using phantom yet but am evaluating it. Overall I like what I saw and my only pain points are missing support for prepared statements, which seems to be next on the todo list and the missing tags - which is why I opened this issue.

Regarding me debugging library code, well, every time something isn't working as expected :D Then being able to identify which c

[2015-05-11 21:33] kelvl opened #239 "Index + Primary Key column"
When trying to define a column that is part of the primary key and a secondary index, compilation fails with an `illegal inheritance` error

[code]

[2015-05-11 21:37] alexflav23 commented on #239
@kelvl I take it the primary is part of a compound key. Compilation does indeed fail and I would say using the double indexing is at the very least a code smell. Perhaps a secondary table indexed by the other primary would be the way to go.

I will add a bug and test for this in the next version of phantom.

[2015-05-11 21:52] kelvl commented on #239
@alexflav23 thank you for the quick response. You are right, even if it is allowed by Cassandra, it's definitely not the best way to design the indexes for the table.

I will look into re-working the data model to prevent cases like these. Thanks again

[2015-05-11 21:52] #239 closed

[2015-05-12 10:17] kareblak opened #240 "1.8.4 missing pom in maven central"
The phantom-dsl_2.11-1.8.4 is missing its pom in the central maven repository.

ivy-1.8.4.xml                                      10-May-2015 23:37                3180
ivy-1.8.4.xml.md5                                  10-May-2015 23:37                  32
ivy-1.8.4.xml.sha1                                 10-May-2015 23:37                  40
phantom-dsl_2.11-1.8.4-javadoc.jar                 10

[2015-05-12 10:20] alexflav23 commented on #240
@kareblak We have noticed the mistake yesterday, although there is still an ongoing investigation as to why this would ever happen. We will keep you up-to-date as soon as a fix is deployed.

[2015-05-12 10:35] kareblak commented on #232
I am still experiencing the problem 1.8.4. I have a table consisting of a composite key containing with two fields, and a third which I've tried to secondary index, but `setTo` is still not a member of the field. Also, should a field with clustering order be mutable? This doesn't work either.

[2015-05-12 10:38] alexflav23 commented on #232
@kareblak Cluster order fields are part of the primary, they are certainly not mutable. Strangely enough I have added tests for secondary keys, so maybe try adding ```import com.websudos.phantom.dsl._``` at the top of your file, you should get the implicit conversion for that ```setTo``` method.

[2015-05-12 10:53] alexflav23 commented on #238
@digital-wonderland You are correct in assuming we still use Git, we will discuss this internally and get back to you shortly. It doesn't sound like a big change although I have to admit I'm rather weary of the benefits still.

[2015-05-12 11:14] kareblak commented on #232
Yes, I realized that the question was rather silly. `dsl._` is being imported, but it doesn't seem to make a difference. I'll look into it.

[2015-05-12 11:16] alexflav23 commented on #232
@kareblak Have a look at the tests (here)[https://github.com/websudos/phantom/blob/develop/phantom-dsl/src/test/scala/com/websudos/phantom/builder/query/db/specialized/SecondaryIndexTest.scala], perhaps those will point you in the right direction.

[2015-05-12 11:42] digital-wonderland commented on #238
sounds good, thanks a lot :)

[2015-05-12 22:37] lostinplace opened #241 "Your docs don't describe how to use the library"
At no point in your tutorials section is there a series of steps that can be used to accomplish a task using phantom.

[2015-05-12 23:32] alexflav23 commented on #241
Hi @lostinplace,

Thank you for your feedback, we have to admit it's the very first of it's kind. The documentation is indeed very detailed about anything you should know about phantom, features an example module and a significant number of examples in the test module.

I can only take you are extremely new to Scala and development in general, in which case perhaps Scala resources and general intr

[2015-05-12 23:32] #241 closed

[2015-05-13 09:42] Ciaran0 opened #242 "Unsupported Authenticator"
Im getting the error
Unsupported Authenticator org.apache.cassandra.auth.PasswordAuthenticator
using phantom-dsl 1.8.0
is there any known solutions?

[code]

[2015-05-13 11:20] alexflav23 commented on #242
@Ciaran0 That's quite strange. I will have a word with someone on the Cassandra team to double check how this should behave and we will then make sure it's properly implemented. This doesn't look phantom specific however.

The cluster builder and everything connection related is still handled by the Datastax Java Driver, which means there is a chance you might be using wrong options for your node

[2015-05-13 16:08] coffius opened #243 "ClusteringOrder doesn`t work in 1.8.0"
Hi.

I think there is a problem with clustering order and schema generation.

I have the table that looks like:
[code]

But when I try to generate schema
[code]

I have a wrong query in console:
[code]
and table also has an invalid sort order

[2015-05-13 16:13] alexflav23 commented on #243
Hi @coffius,

Thank you for reporting this, it looks pretty bad. A fix will be pushed out today itself as this is a very important piece of functionality.

Regards.

[2015-05-13 19:48] lostinplace commented on #241
I gather that I offended you in some way.  Sure, I'll buy that.

I'm pretty new to scala, but a quick web search informs me that I have in
fact been writing software since you were literally in diapers.

I was (and still am) interested in using your library for a project, but at
no point in your repo's documentation do you actually specify a workflow.
Please note that this is common practice that

[2015-05-14 13:49] Ciaran0 commented on #242
Yes its a licensed and running dse.
In another application we use the same code and it works fine.
The driver we use is
"com.datastax.cassandra" % "cassandra-driver-core" % "1.0.2-dse2

thanks for looking into this

[2015-05-14 18:10] brianwawok commented on #232
@alexflav23 it is rather hard to consume to see how 1.8.4 works, because the publish to maven central is missing pom.xml, and http://maven.websudos.co.uk/ext-releases-local appears to be down....  also makes it impossible to build the github repo locally

[2015-05-14 23:22] charlesa101 commented on #158
@alexflav23: Looks like the repo is still down

`http://maven.websudos.co.uk/ext-release-local`

Taking a while to to resolve

[2015-05-14 23:23] charlesa101 commented on #158
@alexflav23: looks like the repo is still down

`http://maven.websudos.co.uk/ext-release-local`

[2015-05-15 00:41] foovungle commented on #240
+1

[2015-05-15 01:20] patrickotoole commented on #158
+1 http://maven.websudos.co.uk/ext-release-local is down...

it doesnt look like the artifact is available on mvn central either

[2015-05-15 01:35] patrickotoole commented on #158
here's what I have as a work-around to the missing repository

[code]

[2015-05-15 03:50] charlesa101 commented on #158
@patrickotoole  thanks!

[2015-05-15 09:30] kareblak commented on #232
Yes, I think my issue was due to the wrong dependencies being pulled in when i manually uploaded the 1.8.4 jar to my repo. @brianwawok this has already been reported in #240

[2015-05-15 10:23] alexflav23 commented on #232
@brianwawok We have moved all our releases to Bintray, which is still causing some issues. Phantom should be available to download from bintray alongside all dependencies, including finagle-zookeeper.

[2015-05-15 12:40] brianwawok commented on #232
@alexflav23 the Bintray situation is not much improved. I DO see 2.10 version of 1.8.4 in bintray, but it appears that the 2.11 cross-compile is missing.

[2015-05-15 18:18] foovungle commented on #232
What's the new Bintray resolver string for sbt? thx

[2015-05-15 20:57] alexflav23 commented on #242
Hi @Ciaran0,

Ok I see what the problem is now. Let me have a look into that this weekend and see what exactly is causing the discrepancy.

Regards,

[2015-05-15 21:17] alexflav23 commented on #240
@kareblak This was a weird issue around using the bintray SBT plugin. Phantom 1.8.6 has now been published to bintray to fix this. Hope that will work well from now on!

[2015-05-15 21:24] #240 closed

[2015-05-15 22:37] brianwawok commented on #232
@foovungle   https://dl.bintray.com/websudos/oss-releases/

[2015-05-15 23:16] foovungle commented on #240
How long does it take to propogate? I only see 1.8.3 on bintray.

[code]

[2015-05-16 16:42] alexflav23 commented on #240
Hi @foovungle,

I have hit the publish button and the version is showing as available in the main interface. The badge I have added to the README also points to 1.8.6, so I'm quite surprised this is still a problem.

Regards,

[2015-05-16 17:13] foovungle commented on #240
Adding `  "Websudos bintray" at "https://dl.bintray.com/websudos/oss-releases"` to the `resolvers` does work now. Thanks for your help.

[2015-05-16 18:03] alexflav23 commented on #240
@foovungle That's great, we also have a working build on Travis using the new bintray based resolver so everything should be fine from now on!

[2015-05-17 11:01] voidcontext opened #246 "Cannot use phantom 1.8.x in scala 2.11 project"
At first I tried to use phantom-dsl 1.8.4, but sbt couldn't find its pom file in the central maven repo. The lib is there, but the pom file is missing.

After that I tried to use version 1.8.0, but sbt couldn't resolve these dependencies:

- com.websudos#util-zookeeper_2.11;0.6.12
- com.websudos#util-testing_2.11;0.6.12
- org.cassandraunit#cassandra-unit;2.0.2.5

I think this happens because the W

[2015-05-17 11:31] alexflav23 commented on #246
Hi @voidcontext,

The Websudos maven repo is now deprecated and permanently out of service. Instead, add this to your resolvers:

[code]

We are now deploying all new releases to bintray and Maven Central instead of the Websudos Maven repo.

[2015-05-17 15:13] voidcontext commented on #246
Thank you for the prompt reply.

However I'm still unable to get it to work.

Sbt cannot resolve phantom-dsl 1.8.4.
[code]

When I'm trying to user version 1.8.0 I get the following:

[code]

I have these resolvers:

[code]

[2015-05-17 19:27] alexflav23 commented on #246
Hi @voidcontext,

Try the latest release pushed to Bintray, which is 1.8.6. That should be available and working as expected. Apologies for the service interruption.

Regards.

[2015-05-18 10:04] mkhudyakov-axon commented on #158
@alexflav23, any ideas, when http://maven.websudos.co.uk/ext-release-local could be up? any alternatives, the above solution doesn't work for me, where I have SBT 0.13:

[code]

[2015-05-18 10:18] alexflav23 commented on #158
@mkhudyakov-axon Get the bintray version. I've updated the README to show you how to get it. You are not using SBT 0.13 by the looks of it.

[2015-05-18 14:23] brianwawok opened #247 "Escaping single quotes in unlogged batch statements broken in 1.8.6"
I have 2 very simple tables with two fields..

create table foo(
  a varchar primary key,
  b varchar
)

create table foo2(
  b varchar primary key,
  a varchar
)

I am storing long auto-generated strings. If the string generated has no single quote, life is good. If it DOES have a single quote.. it breaks.

I am using an unlogged batch.

I see something like this in the debugs..

[code]

You can

[2015-05-18 14:31] alexflav23 commented on #247
@brianwawok The escape mechanism has indeed changed and will be updated to fix this as well. Many thanks for reporting it!

[2015-05-18 15:48] santoshv98 commented on #246
@alexflav23
I tired with the same setup as you have mentioned(Resolver.bintrayRepo)  and it couldnt resolve scalatra depedency (phantom-test) . Did it make it to bintrayRepo?

[2015-05-18 15:51] alexflav23 commented on #246
@santoshv98 It did and the Travis build also works, which means dependency resolution is fine. Perhaps retry that. Scalatra is not a direct dependency, it is used in `phantom-scalatra-test` which is not intended for usage beyond the test module.

I don't think phantom is the one causing this issue and if you are directly depending on scalatra-test remove that as it's not really doing anything for

[2015-05-18 15:54] santoshv98 opened #248 "How do I do Objects inside Objects?"
@alexflav23

1. If I have a case class with this kind of structure (like we do in the ORM world), how do I create the columns in CassandraTables subclasses?

case class A(s: String, b: TokenInfo)
case class TokenInfo(email: String, issuedTime: DateTime, issuer: String, expirationDate: DateTime, customToken: String) {

[code]

[2015-05-18 15:56] alexflav23 commented on #248
Hi @santoshv98 ,

Please review the documentation which adequately addresses all your questions. The tests inside phantom-dsl will also be a really useful resource. Issues are mainly used for bug reports and feature requests.

Regards,

[2015-05-18 15:56] #248 closed

[2015-05-18 16:02] brianwawok opened #249 "1.8.6 went too far on secondary index fix"
Your driver allows a delete by secondary index where clause, but cassandra does not.

In issue https://github.com/websudos/phantom/issues/232

I think maybe the compile time checks were scaled back too far

http://stackoverflow.com/questions/27484821/cassandra-delete-using-clustering-column-or-secondary-index-not-working

i.e. this will compile, but then blow up in the database

[code]

[2015-05-18 18:20] juanjovazquez commented on #246
Same problem here. Unable to resolve dependencies with bintray resolver configured.

[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	::          UNRESOLVED DEPENDENCIES         ::
[warn] 	::::::::::::::::::::::::::::::::::::::::::::::
[warn] 	:: com.websudos#phantom-dsl_2.11;1.8.6: not found
[warn] 	:: com.websudos#phantom-testkit_2.11;1.8.6: not found
[warn] 	::::::::::::::::::::::

[2015-05-18 18:23] alexflav23 commented on #246
@juanjovazquez We are still not sure how that can happen given it's working perfectly fine in our own infrastructure and even beyond in Jenkins, Travis, and other CI tools + a variety of projects. We will publish a fix version to Maven Central today to avoid further problems.

Apologies for the service interruption.

[2015-05-19 10:14] juanjovazquez commented on #246
I could already get all dependencies. Thanks!.

[2015-05-19 10:23] juanjovazquez opened #251 "Stuck making testing work with embedded Cassandra"
Hi all, It's probably a silly mistake but I get a connection refused error when I run a simple test based on CassandraFlatSpec (i.e. a SimpleCassandraTest). It seems that embedded Cassandra is starting properly listening for connections on port 9142:

12:10:05.698 [pool-28-thread-1] INFO  o.apache.cassandra.transport.Server - Starting listening for CQL clients on localhost/127.0.0.1:9142...

But,

[2015-05-19 13:11] voidcontext commented on #246
Hi @alexflav23,

I was able to fetch all needed dependencies from the Bintray repo when I used version 1.8.6.

Thank you for your help.

[2015-05-19 20:26] foovungle opened #252 "usage question, update-modify multiple counters"
Hi,
Is there a way to modify multiple counters in 1 update statement?

This doesn't work:
[code]
Thanks

[2015-05-20 00:58] alexflav23 commented on #252
Hi @foovungle,

This is what you are looking for:

[code]

[2015-05-20 06:45] foovungle commented on #252
Thanks! That worked

[2015-05-20 06:45] #252 closed

[2015-05-20 08:14] ogorun opened #254 "Probably inconsistency in work with static columns"
Hello phantom team.
There is problematic behaviour of phantom on work with static columns. I'd like to hear your feedback regarding it.

Cassandra static columns are used for one-to-many relation modelling. When column family has static column, delete of last child (last primary key for given partition key) leads not to record deletion, but to record with primary key and non-static columns set to

[2015-05-20 08:46] alexflav23 commented on #254
Hi @ogorun,

It is indeed the modelling scenario I would attack under the circumstances, or alternatively consider making the `childId` column an `OptionalStringColumn`. Normally under such events you would relate data with a separate table for parents as what you are using here is not very flexible.

You are eliminating two queries at runtime perhaps, but you are introducing complexity as every t

[2015-05-20 12:09] ogorun commented on #254
Hi @alexflav23,

Thank you for your answer.

I don't think that separate tables is a good idea in this case. Actually this answer for such type of question means that phantom doesn't support Cassandra static columns.

Here is my try to work with optional column:

    case class SampleObj(parentId: String, parentName: String, childId: String)

    class SampleTable extends CassandraTable[SampleTabl

[2015-05-20 12:36] alexflav23 commented on #254
Hi @ogorun,

I think that's because `Option[String]` doesn't have a primitive. Primary keys can not be `null` in Cassandra which is why we didn't add support for `eqs` clauses in optional columns. I think there's something strange going on here, either in phantom or in Cassandra itself.

Having a `null` child id in your case doesn't make much sense as there would be no way in which you can actuall

[2015-05-20 13:07] ogorun commented on #254
Well, I think that data sharing and one-to-many relation concept are distinguished more semantically. I'd say that Cassandra approach is closer to one-to-many. In just sharing case deleting of last primary key row for this partition key would delete partition key row instead of leaving row with null values (because there is no rows that share these static columns values). Give me an example of dat

[2015-05-20 15:34] brianwawok commented on #247
I think this also may expose some query injection risk, making this pretty bad.

[2015-05-20 17:55] willwest opened #255 "Scala API Documentation"
Is there any generated scaladoc-style documentation of the phantom API? ([example](http://docs.datastax.com/en/drivers/java/2.0/com/datastax/driver/core/Row.html))

This would be a very nice addition to the existing documentation. While the docs in the README are relatively complete, a more technical, comprehensive description of the API would be helpful.

Is there a reason this hasn't been genera

[2015-05-20 19:12] jknight12882 commented on #238
Proper change logs and tagged releases are critical when evaluating when an upgrade is needed to a production system. I see that Bintray is now hosting 1.8.10, but I haven't seen any change logs showing what has been fixed/added since the initial 1.8.0 release.

[2015-05-20 19:17] alexflav23 commented on #238
Hi @jknight12882,

A changelog is available internally and it will be published to GitHub as soon as the release is publicly available on Maven Central. We don't use GitHub, it's just the front mirror, but we will endeavour to publish both a changelog and version tags.

Regards.

[2015-05-20 19:17] alexflav23 commented on #255
Hi @willwest,

Indeed this has been missing so far and it's a really good idea to publish it. We will discuss this internally and come up with a simple way to release this during the Travis CI phase.

Many thanks for your suggestion, it is indeed long overdue!

Regards,
Flavian

[2015-05-20 19:41] #246 closed

[2015-05-20 19:45] alexflav23 commented on #230
@polymorpher We've fixed the character escape problem. The batch size and performance issue is still being addresses, although the tests for it are still behaving relatively well. We have several of those and we have noticed a general performance improve in non-batched queries, but perhaps the alternation between batches and non-batches is not done properly.

It is a high priority item that will s

[2015-05-20 19:46] alexflav23 commented on #247
@brianwawok This has been fixed in the latest version that will make Bintray shortly. We will let you know once that has happened.

Regards.

[2015-05-21 00:12] alexflav23 commented on #238
Hi @jknight12882 @digital-wonderland ,

This is the changelog for post 1.8.0 releases, the things I remember anyway. This was of the top of my head on this occasion and done somewhat impromptu, although we do promise to exercise greater discipline in the future regarding this practice.

Have a look at the [1.8.12 changelog](https://github.com/websudos/phantom/releases/tag/1.8.12) which details som

[2015-05-21 00:15] #238 closed

[2015-05-21 01:34] alexflav23 commented on #254
Hi @ogorun ,

I've already linked to an example in the Cassandra docs. User bills with shared account balance is an ideal case. I think the fact that deletion leaves behind nulls should be addresses in Cassandra not phantom, as it's not phantom that breaches the contract here.

By Cassandra's own rules, Primary Keys or any part of the primary key can never be null so what you are getting is a bad

[2015-05-21 01:35] #254 closed

[2015-05-21 01:54] #247 closed

[2015-05-21 06:48] ogorun commented on #254
HI @alexflav23 ,

Thank you for response and for time you spent to this problem. I see the problem. If you get to some conclusions with Cassandra team, please link this here.

Regards,
Olga Gorun

[2015-05-22 14:22] alexflav23 commented on #251
Hi @juanjovazquez,

Thank you for reporting this. It sounds like a small error indeed, it will be reviewed and we will keep you up-to-date.

Regards.

[2015-05-22 14:39] thiagoandrade6 commented on #158
Even using the bintray("https://bintray.com/websudos/oss-releases/"), I got

[code]

[2015-05-22 14:40] alexflav23 commented on #158
@thiagoandrade6 Try `1.8.12` which is on Maven Central.

[2015-05-22 14:48] juanjovazquez commented on #251
Thanks @alexflav23. For the time being, I keep testing with my own local Cassandra instance.

[2015-05-22 15:00] thiagoandrade6 commented on #158
Got the same

[code]

Looks like the phantom-dsl is trying to get both, but none is found...

I'm using this resolvers

[code]

[2015-05-22 15:02] thiagoandrade6 commented on #158
Looking at http://maven.twttr.com/com/twitter/ indeed, I couldn't find any finagle-zookeeper library.

[2015-05-22 15:02] alexflav23 commented on #158
`"Websudos releases"                at "https://bintray.com/websudos/oss-releases/"` should be `Resolver.bintrayRepo("websudos", "oss-releases")` for SBT `0.13.6`+.

Otherwise, if you are using an older version of SBT, use `"https://dl.bintray.com/websudos/oss-releases/"`

[2015-05-22 15:11] thiagoandrade6 commented on #158
Great @alexflav23 that was the trick! I will send you a pull request updating the documentation, there  some broken links and in the resolver sections the older unavailable repo is still there.

Thanks anyway for your time.

[2015-05-25 03:10] rwinzhang commented on #243
I found that the __"WITH CLUSTERING"__ clause is missing on the query and still happening on version __1.8.12__

[2015-05-26 09:32] nosheenzaza opened #256 "CQL to Set Consistency Level Seems Obsolete"
I am using phantom 1.8.4 with Cassandra 2.0.8, in an experimental 3-node cluster setting. I modified `SimpleRecipes` example to set a consistency level for Insert query like this:

[code]

I see that the query built is:
[code]
I know that setting consistency level in USING clause like this is not supported in CQL 3, used in 2.0.* and 2.1.* versions in Cassandra. When running my code, I get an erro

[2015-05-26 09:36] alexflav23 commented on #256
Hi @nosheenzaza,

This is definitely a bug on our end, thank you for reporting it.  We will include the bug fix in 1.9.0 to address the issue and our apologies for the inconvenience.

It will be released alongside all the new 1.9.0, including the new connectors framework and other niceties, hopefully by the end of this week or mid next week. We will also aim to push a quick fix for this shortly as

[2015-05-26 11:34] mmatloka commented on #251
I have exactly the same problem.

[2015-05-26 11:43] alexflav23 commented on #251
@juanjovazquez @mmatloka In Phantom 1.9.0 there will be a new `phantom-sbt` plugin available that allows you to make SBT automatically start Embedded Cassandra before any test is run. The current mechanism was replaced as it was very unreliable.

Then in your tests you can simply override the connector and tell it to always use the embedded flavour. `1.9.1` is already on Bintray, I will try and pu

[2015-05-26 11:45] mmatloka opened #257 "Connect phantom to non-standard port"
Hi,
I'm tring to configure phantom to connect to cassandra on different port. I have tried to use the following code
[code]

but result is it is just throwing

Exception does not even mentioned my host.

[2015-05-26 11:53] alexflav23 commented on #257
Hi @mmatloka,

That's very strange. Try version `1.9.1`, although it does come with some changes to the connectors API.

[code]

[2015-05-26 11:53] mmatloka commented on #251
@alexflav23 thx for quick response. I am trying to use 1.9.1 now and it seems one package is missing `com.websudos#util-testing_2.11;0.9.6: not found`

[2015-05-26 12:10] mmatloka commented on #251
Thx, I see it is already uploaded :)

[2015-05-26 12:11] mmatloka commented on #257
Under `1.9.1` it works :)

[2015-05-26 12:12] alexflav23 commented on #257
@mmatloka Great news, I've just published the latest util to Bintray and I take it it's already propagated! The documentation and official release of the 1.9 series will follow later in the week, but meanwhile you can use this.

[2015-05-26 12:57] #257 closed

[2015-05-26 14:56] mmatloka commented on #251
@alexflav23 I have seen `phantom-sbt` is in bintray aswell, but it seems to be incorrectly published. When added via `addSbtPlugin("com.websudos" % "phantom-sbt" % "1.9.1")` sbt throws `https://dl.bintray.com/websudos/oss-releases/com/websudos/phantom-sbt_2.10_0.13/1.9.1/phantom-sbt-1.9.1.jar` although its under `https://dl.bintray.com/websudos/oss-releases/com/websudos/phantom-sbt/1.9.1/` .

[2015-05-26 20:21] RobColeman commented on #179
I'm having this issue with

com.twitter#finagle-zookeeper_2.10;6.24.0
and
org.cassandraunit#cassandra-unit;2.0.2.6

even with both of these are in my resolvers:
  "twitter"                          at "http://maven.twttr.com",
  "websudos-repo"                    at "http://maven.websudos.co.uk/ext-release-local",

[2015-05-26 20:24] alexflav23 commented on #179
@RobColeman Hi, please read the README as we have long moved the infrastructure to Bintray and the Maven Websudos repository is no longer available.

[2015-05-27 08:03] mmatloka opened #258 "Schema migration/drop"
Hi,
I am trying to update my schema via phantom. When I execute `automigrate`on table result is all my columns beside `id` column are removed, and no columns are re-added. Is there any way to manually drop table using phantom-dsl?

[2015-05-27 08:05] alexflav23 commented on #258
Hi @mmatloka,

Automigration is not yet live and that's why it hasn't been advertised. It was merged in along with a big changeset but aside from that you shouldn't rely on it just yet.

You can run an arbitrary query within the session if you want.

[code]

Regards.

[2015-05-27 08:05] #258 closed

[2015-05-27 09:44] mmatloka opened #260 "OptionalTimeUUID column is missing"
Hi,
Readme (https://github.com/websudos/phantom#optional-primitive-columns ) specifies its possible to create a column of type `OptionalTimeUUID` but it is not present in code https://github.com/websudos/phantom/blob/develop/phantom-dsl/src/main/scala/com/websudos/phantom/dsl/package.scala#L95 .

Phantom dsl version `1.9.1`

[2015-05-27 09:47] alexflav23 commented on #260
Hi @mmatloka,

Thank you for reporting this, you can help out with a pull request!

Regards.

[2015-05-27 10:02] mmatloka commented on #260
@alexflav23 I see that develop is tagged with `1.8.12` and `1.9.1` is only on release branch (not merged back to develop yet). So to create PR based on which branch? ;)

[2015-05-27 12:50] borut123 opened #261 "CassandraPrimitive, select.where on OptionalStringColumn"
I'm trying to do select.where by OptionalStringColumn in phantom 1.8.12.

In phantom 1.5.x it was something like this, but now CassandraPrimitive class does not exist any more.
implicit object OptionStringIsCassandraPrimitive extends CassandraPrimitive[Option[String]] {
    val cassandraType = "Option[String]"
    def cls: Class[_] = classOf[Option[String]]
    def fromRow(row: Row, name: String):

[2015-05-27 13:01] alexflav23 commented on #261
Hi @borut123, Indexes are not optional so you cannot have an optional index. This is not an accident in the DSL, but a modelling error in your app that you should fix. Create a separate table or similar for the new query and that should fix everything.

[2015-05-27 13:01] #261 closed

[2015-05-27 13:22] alexflav23 commented on #260
Hi @mmatloka,

1.9.1 has now been merged in and you can send a pull request against that.

Many thanks!

Regards.

[2015-05-27 17:15] velvia commented on #101
Is this no longer an issue with the removal of the Java driver in 1.8.0+?

[2015-05-27 17:25] alexflav23 commented on #101
@velvia I think there was a shutdown method added. In the newer version. Have a look [here](https://github.com/websudos/phantom/blob/ba777c2ed015834be87d0b1c518535897a1ac7fc/phantom-dsl/src/main/scala/com/websudos/phantom/Manager.scala).

[2015-05-28 08:57] #260 closed

[2015-05-28 18:11] willwest commented on #255
Sounds good, thanks Flavian!

[2015-05-28 20:27] melodious opened #263 "Dependency resolution errors"
I am unable to reach download the twitter-finagle dependency and am getting the following error:
[code]

[2015-05-28 20:59] alexflav23 commented on #263
Hi @melodious,

Please read the README as Maven Websudos is no longer available. All our artefacts are now available via Bintray.

Regards.

[2015-05-28 20:59] #263 closed

[2015-05-28 21:03] melodious commented on #263
Thanks for the quick reply. I missed that since the websudos is still listed under the section "Integrating phantom in your project"

[2015-06-01 09:54] mmatloka opened #264 "Secondary index on collection type column"
Hi,
Is it possible to use with phantom secondary indexes e.g. on set type columns? In cassandra its theoretically possible http://www.datastax.com/dev/blog/cql-in-2-1 but code
` extends SetColumn[SomeTable, SomeEntity, String](this) with Index[String]` does not compile.

[2015-06-01 10:05] alexflav23 commented on #264
Hi @mmatloka,

We will add this as a bug if it is indeed the case. The current roadmap features support for `CONTAINS` and `CONTAINS KEY` but this would be a good addition. The modelling you are pulling off here sounds like a smell from a distance though.

Regards.

[2015-06-01 10:31] mmatloka commented on #264
Well, in some specific cases a collection type column with index seems to be a nice alternative for fully denormalized modelling of relations.

[2015-06-03 13:40] alexflav23 commented on #264
@mmatloka Could you elaborate on those cases? Would be great to understand the exact scenarios when making the DSL changes. I have some many to many ideas in mind for this kind of approach, but it's best we are on the same page.

[2015-06-04 09:55] juanjovazquez commented on #251
@mmatloka the same happened to me. I'm not being able to resolve the plugin. What has your workaround been?

[2015-06-05 09:35] mmatloka commented on #251
@juanjovazquez I have not found a workaround. Waiting for @alexflav23  ;)

[2015-06-05 09:50] mmatloka commented on #264
Simple example. M:N relation and the query is to get all entries of type A related to 'id' of entries of type B. So in this case you can denormalize, and have a row, containing all columns of A, and `id' of B (so its like table A_by_B_id), when you query, you filter by this id and get a list of rows. However if there is one entry of type A, and 10 related type B, then data of type A is duplicated

[2015-06-05 16:29] mstump commented on #221
The datastax driver is topology aware you don't need to use ZK to be aware of existing nodes or new nodes being added to the cluster. I'm the author of the C++ driver, I'm intimately aware of the inner workings and protocol spec. ZK is an anti-pattern in any distributed HA system.

[2015-06-05 19:23] alexflav23 commented on #221
Hi @mstump,

Thank you for your feedback. In principle I don't disagree with anything you say, we use zookeeper to synchronise between virtual machines deployed in a cluster running in a Vagrant Box. Mesos + Apache Aurora can give you a local distributed environment.

ZooKeeper support wasn't built to make topology work, it was built to fit our specific needs as Mesos enforces ZooKeeper for that p

[2015-06-06 13:51] alexflav23 commented on #264
Hi @mmatloka,

I take your point. It seems this functionality was already on the roadmap in the backlog of our Jira and that it will be done quite shortly according to schedule, which should be within the next few days.

Regards.

[2015-06-06 23:12] alexflav23 commented on #264
Hi @mmatloka ,

1.9.3 is now on Bintray, it will be shortly available on GitHub after we sort out discrepancies with the Travis Cassandra version. When you use an `Index`, make sure to specify the full type held in a column, including the relevant Scala collection. Have a look below.

[code]

As a last detail, Cassandra supports indexes on map keys and using `CONTAINS KEY`, but we haven't yet adde

[2015-06-07 06:38] mmatloka commented on #264
Confirmed working on our side :) thx!

[2015-06-08 06:15] hmrajas commented on #251
https://docs.wso2.com/display/DSS322/Cassandra+Sample
i got same error because i'm not running the Cassandra server before run the sample

[2015-06-08 18:50] alexflav23 commented on #264
Hi @mmatloka, support for `CONTAINS KEY` has been added today as well. We will release a new version shortly to include that. It's done by mixing one more trait, like this:

[code]

[2015-06-08 20:52] alexflav23 commented on #243
@rwinzhang @coffius This has been fixed in version 1.9.3 and above, which is already on Bintray. Feel free to upgrade and everything should be working again.

[2015-06-08 23:12] thiagoandrade6 opened #267 "Spray and Shapeless incompatible versions"
I saw you have been using the shapeless 2.2.0-RC4 and unfortunately this is incompatible with the latest shapeless library that spray are using.

To be clear, I'm saying this is a bug, incompatible versions can occur any time.

There is already a opened issue for this:

[https://github.com/spray/spray/issues/1051](https://github.com/spray/spray/issues/1051)

The question is... do you have any vers

[2015-06-09 06:52] javdom-tecsisa opened #268 "v1.9.1 - Use of EnumColum in a query condition"
Hi,

  I'm trying to create a query which filters through the value of an EnumColum. As far as I could see, when I try to compare the column with another enum it shows an error... I think its due to the library doesn't contains the necessary implicit to make the conversion for the eqs.

The provisional solution I could find it's compare the EnumColumn through its ID, having to store the ID instead

[2015-06-09 12:24] lizepeng opened #269 "1.8.12 SetColumn, ListColumn, MapColumn do not support static column?"
Hello everyone

I recently upgraded phantom to 1.8.12 from 1.5.0, but automated create table dsl generation seems to be broken.

In both 1.8.12 and develop branch,
PrimitiveColumn and OptionalPrimitiveColumn do have these logic for static column,
[code]
but for SetColumn, ListColumn and MapColumn, there are not such logic.

In my opinion, static collection column should be allowed, because
[code]

[2015-06-09 14:48] alexflav23 commented on #269
@lizepeng You should be able to easily use statics with collections, I don't understand what the problem is and why you care about the internals. Here's a simple example:

[code]

[2015-06-09 15:03] alexflav23 commented on #268
Hi @javdom-tecsisa,

Enum columns cannot automatically be converted to primitives because conversion requires a host object. That's why you have to define your own primitive and import it into the right scope, like this:

[code]

[2015-06-09 15:20] #268 closed

[2015-06-09 15:20] #269 closed

[2015-06-09 15:21] alexflav23 commented on #267
Hi @thiagoandrade6,

We will try and upgrade to the new shapeless shortly. In theory, it shouldn't be a huge problem on our end to bump shapeless versions but things may well go wrong rather easily.

This will be done some time this week and you can expect to see it on Bintray shortly. This issue will be updated once the incompatibility issue is resolved.

Regards.

[2015-06-09 23:13] thiagoandrade6 commented on #267
Thank you @alexflav23 and indeed, using the Spray shapeless version, worked fine.

[2015-06-09 23:13] #267 closed

[2015-06-10 08:05] mmatloka opened #270 "Delete ... if ..."
Hi,
Is it curently possible to execute in phantom dsl such type of query:
`delete from someTable where id = 89dfbe10-0f45-11e5-99a4-d43d7ebcc606 if someSet= {};` ? :) (cassandra allows for such query even without index on set column).

[2015-06-10 08:59] alexflav23 commented on #270
Hi @mmatloka,

That's not by accident. The compare and set clause must be matched against a non-primary column, so I think that behaviour is correct according to Cassandra spec. You match with the `where` clause and you can actually never have an `is` on a column that's indexed.

I don't think `DELETE .. IF` is yet part of the mix and I'm not 100% sure Cassandra even supports this, we will have to

[2015-06-10 09:17] #264 closed

[2015-06-10 21:11] alexflav23 commented on #243
Hi @rwinzhang @coffius You also have the full fix available in `1.9.5`. I will now close this ticket as latest releases will sort the problem out quickly.

[2015-06-10 21:11] #243 closed

[2015-06-11 11:48] alexflav23 commented on #270
Hi @mmatloka,

There is indeed a `DELETE IF` in Cassandra, something we missed in the original implementation of Lightweight and compare and set. Regardless, it will be added to the pipeline.

Regards.

[2015-06-11 12:01] mmatloka commented on #270
Hi @alexflav23 ,
Sorry, I have made a mistake in description, I meant from the beggining that Cassandra allows for that, but I have written 'Phantom' instead ;/.

:+1:

[2015-06-11 14:16] lizepeng commented on #269
@alexflav23 thank you for your reply
Because without those if statements, phantom could not generate correct cql for creating table with static collection column.

I can only get this cql from phantom 1.8.12
[code]
but what I want is
[code]

[2015-06-11 14:20] alexflav23 commented on #269
Hi @lizepeng,

Try 1.9.5, I've added tests for static collections [here](https://github.com/websudos/phantom/blob/develop/phantom-dsl/src/test/scala/com/websudos/phantom/builder/query/db/specialized/StaticColumnTest.scala). Hope this helps.

[2015-06-12 09:47] nosheenzaza opened #272 "Logic Error creating keyspace.columnfamily in queries"
I am using phantom 1.8.4. I happened to create a keyspace with name recipes, and a table names recipes_main. When attempting to insert entries, I was getting the error "no keyspace has been specified" even when I was passing the keyspace explicitely. Debugging it seems the logic in method keyspace in file QueryBuilder is flawed:

[code]
Here because my column family name indeed starts with the key

[2015-06-12 09:49] alexflav23 commented on #272
Hi @nosheenzaza,

The logic is indeed flawed, there is no Cassandra restriction, simply a side effect of what at the time seemed trivial code. Upgrading to Phantom 1.9.5 will fix some other important bugs for you, so I do recommend that, but otherwise I will add the bug to the pipeline and a new release should be out very shortly to address this.

Regards.

[2015-06-12 10:08] nosheenzaza commented on #272
Thank you for the quick response. I hope you consider again the request of #238 of tagging code with version numbers. I am modifying the phantom dsl for research purposes and it would be easier to have the code on Github.

[2015-06-12 10:19] alexflav23 commented on #272
Hi @nosheenzaza,

As you are aware, our license explicitly prohibits redistribution of phantom without our explicit consent. Phantom is free, usable as a library and so forth, however we don't allow custom versions, so anything that supports such things is not a priority for us, furthermore since GitHub is merely a mirror and we don't use it internally.

Regards.

[2015-06-12 12:22] nosheenzaza commented on #272
I understand that and I do not intend to redistribute a custom version. I will contact you privately more for details.

[2015-06-12 17:38] elmalto commented on #251
I ran into the same issue and created my "own" implementation (Using my DBConnector which has simple test detection and uses ip/port accordingly). Removed my play framework code, hope I didn't forget any in it ... in case you need a play fake application, start ```Play.start(FakeApplication())``` right after the self type in the trait

[code]

[2015-06-12 19:14] velvia opened #273 "1.8.12 eqs operator does not work with onlyIf(...)"
but Cassandra clearly still allows this operation.

Table:
[code]

Query:
[code]

does not compile:
[code]

[2015-06-13 10:08] alexflav23 commented on #273
Hi @velvia,

In versions 1.8.x and above we completely replaced the old implicit mechanism to simplify things and the naming of `eqs` was changed to `is` to prevent obscure compilation messages that you were getting in the past for misusing indexes.

Regards.

[2015-06-13 10:09] #273 closed

[2015-06-13 11:13] alexflav23 commented on #272
Hi @nosheenzaza,

1.9.6 is now on Bintray and this issue has been fixed. It's not on Github yet but it is released.

Regards.

[2015-06-13 11:13] #272 closed

[2015-06-13 11:19] alexflav23 commented on #249
Hi @brianwawok,

This is indeed true, I don't think the driver has the means to distinguish between unindexable and undeletable just yet, we just went by the assumption that the two will always overlap, not the case as it stands.

A fix will be available for this in the next major release, many thanks for reporting it!

Regards.

[2015-06-13 11:22] alexflav23 commented on #251
Hi @elmalto ,

Embedded testing is actually no longer supported in phantom and connectors have been re-written from scratch. We are in the process of publishing a `phantom-sbt` plugin that allows you to start embedded Cassandra directly from SBT, and that will be available in the coming weeks.

Meanwhile, this issue will be closed as it no longer reflects supported features. There is no reliable w

[2015-06-13 11:22] #251 closed

[2015-06-13 14:03] velvia commented on #273
Ok can you please update the documentation / wiki?  It still says eqs.

-Evan
"Never doubt that a small group of thoughtful, committed citizens can change the world" - M. Mead

[2015-06-13 14:37] alexflav23 commented on #270
@mmatloka This is now fixed in 1.9.7.

[2015-06-13 14:37] #270 closed

[2015-06-13 22:44] alexflav23 commented on #242
Hi @Ciaran0,

We've fixed most issues, however DSE support is not and will not be available in the open source version of phantom. We have another product coming along, phantom-enterprise, which will fix any integration issues with OpsCenter, DSE, Spark and many more.

It won't be out for another month or more, but I do promise to let you know as soon as we have a stable release out, things are cu

[2015-06-13 22:52] alexflav23 commented on #230
Hi @polymorpher,

I've been trying to follow up on this as best as I could, but I'm having trouble replicating heavy performance issues outside of what I think could be a misunderstanding or misusage of the new API, possibly because we haven't made it obvious enough a crucial part of phantom has changed.

Back in the days of 1.5.0, calling `future` or `execute` on selects and batches would automat

[2015-06-14 08:45] nosheenzaza commented on #272
Perfect! Thank you very much.

[2015-06-14 12:48] alexflav23 commented on #272
Hi @nosheenzaza,

You will also start seeing tags appear, although they are the automatically generated tags created during release. If you are familiar with the Maven release lifecycle of `release -prepare` and `release perform`, we have something very similar for SBT.

The tags won't have any description per say whatsoever, but you could still diff between them.

Regards.

[2015-06-15 07:53] nosheenzaza commented on #272
This is good enough. Thank you for that for bringing tags back.

[2015-06-15 13:36] fernandoj92 opened #275 "ResultSet information"
Well, this is more of a Datastax driver question i think, but maybe you can help me.

Is there a way of knowing if an instertion, update, etc has been succesful? I am new to Scala and i cannot fin a way to transform a Future[ResultSet] into a Future[Boolean]

Thank You

[2015-06-15 14:14] alexflav23 commented on #275
Hi @fernandoj92,

Yes, basically when you don't select, phantom returns a Datastax `ResultSet`, which has a `wasApplied` method. I'm not 100% if the method in question is 100% reliable or is meant to always give you the appropriate result, yet this is how to go about it:

[code]

[2015-06-15 18:11] #275 closed

[2015-06-15 19:06] fernandoj92 commented on #275
Thank you very much, will try this now.

[2015-06-17 14:40] brianwawok commented on #249
@alexflav23 it is pretty dumb you can search by secondary index but not delete by it, maybe it will be fixed in the feature by Cassandra...

[2015-06-18 19:36] alexflav23 commented on #249
Hi @brianwawok,

It is indeed unpleasant, however it's not by accident. Secondary indexes are not a technical reality in Cassandra and I have very little doubt this was something done by popular demand at the best of sales procedures. Bills need to be paid for, and there is an unfortunate truth in that at times, however the way secondary indexes are made possible also makes it impossible to do del

[2015-06-23 06:40] velvia opened #276 "Bugs with ByteBuffer/Blob handling in 1.8.x"
Phantom does not properly handle the following ByteBuffer conditions on write for Blob types in 1.8.x:

* When the ByteBuffer position is nonzero, or
* When the ByteBuffer position is zero, but the `arrayOffset` is nonzero.
* When the ByteBuffer is direct allocated

This can be plainly seen in the code, in Primitives.scala, where the entire backing array of the byte buffer is used for serializatio

[2015-06-23 06:49] velvia commented on #101
Thanks, it seems to work - except for a weird bug running stuff from SBT.

[2015-06-24 00:07] Kenzo777 opened #277 "Insert query serializing Error"
Hi ,
I am trying to use insert query with  "IF NOT EXISTS" , "USING TTL 60 "
SomeTable.insert
      .value(_.id, someId)
      .value(_.name, someName)
      .value(_.data,someData)
      .ifNotExists()
      .ttl(60)

I am getting error when executing this query  after debugging.  the query string built with wrong order
INSERT  .................. USING TTL 60  IF NOT EXISTS  - which not legal in

[2015-06-24 17:34] alexflav23 commented on #277
Hi @Kenzo777,

This is indeed a problem on our end, I've added a ticket to the internal bug tracker and it will be dealt with probably this weekend, with a release following shortly after. I will keep you up-to-date.

Many thanks for reporting this, it is indeed quite strange that things are failing. I don't think the InsertQuery serialization order has changed since 1.8.12, however I would strong

[2015-06-25 11:44] Kenzo777 commented on #277
Thanks @alexflav23

[2015-06-26 06:22] polymorpher commented on #230
Thanks for helping out, Alex. I will give it a try in the next few days, using more rigorous testing procedure than I previously did.

[2015-06-26 13:50] alexflav23 commented on #276
Hi @velvia ,

Many thanks for reporting this. If you address the problem in isolation, even in a Github Gist, we can retrofit the fix to all versions of phantom and retag some 1.8 releases for you. I would strongly suggest upgrading to the 1.9.x series as we've fixed a whole lot of things since, but otherwise a new 1.8.x release is possible.

Regards.

[2015-06-28 05:47] velvia commented on #276
I just realized you guys don't have a branch for 1.8, so maybe Gist is the
way to go. Otherwise could submit a PR....

On Fri, Jun 26, 2015 at 6:50 AM, Flavian Alexandru <notifications@github.com

--
If you are free, you need to free somebody else.
If you have some power, then your job is to empower somebody else.
   --- Toni Morrison

[2015-06-29 07:39] velvia commented on #276
Hey guys, here is the PR.  Enjoy!

https://gist.github.com/velvia/909408dc6f053d6934be

On Sat, Jun 27, 2015 at 10:47 PM, Evan Chan <velvia@gmail.com> wrote:

--
If you are free, you need to free somebody else.
If you have some power, then your job is to empower somebody else.
   --- Toni Morrison

[2015-06-29 12:19] alexflav23 commented on #276
Hi @velvia ,

Many thanks for fixing this. I will add you to the contributors list if you aren't already there!

I will try and get a new release out today for both 1.8.x and 1.9.x to include your fix.

Regards.

[2015-06-29 14:59] mmatloka opened #278 "Allow filtering and limit order matters"
Hi,
API allows to compose the following code
[code]
which results in
[code]

However it is only allowed to have
[code]

I think that code `.allowFiltering().limit(paginationParameters.limit)` should not be possible to compile.

[2015-06-29 15:04] alexflav23 commented on #278
Hi @mmatloka,

Which version of phantom are you using? I'm pretty sure the order in which you type DSL calls won't really matter in a Select query. Multi-part queries are formed by blocks individually merged in the same order.

When you type 'limit', that goes into the `LimitPart`, `allowFiltering` has a filtering part and so forth, to match the CQL spec. Anyway, it may well be a bug. Please confi

[2015-06-29 15:22] mmatloka commented on #278
Hi @alexflav23
I got this error on `1.9.8`.

[2015-06-29 16:11] velvia commented on #276
Many thanks for the prompt response!!

On Mon, Jun 29, 2015 at 5:19 AM, Flavian Alexandru <notifications@github.com

--
If you are free, you need to free somebody else.
If you have some power, then your job is to empower somebody else.
   --- Toni Morrison

[2015-07-02 16:50] Tvaroh opened #279 "CREATE TYPE support"
Hi, @alexflav23.

Does Phantom has `CREATE TYPE` support? Can it generate types from DSL? Or can I create a table with user-defined types and make it work with Phantom?

[2015-07-02 18:08] Tvaroh commented on #279
Just found phantom-udt as a separate module. Probably, this is the way to go.

[2015-07-03 00:05] alexflav23 commented on #278
@mmatloka Fixed in `1.9.9`. Thank you for reporting it.

[2015-07-03 00:05] #278 closed

[2015-07-03 05:43] Tvaroh opened #281 "Using eqs on EnumColumn"
Hi, @alexflav23.

Found out that I can't use `eqs` in `where` on enum columns, declared using `EnumColumn`. This is due to implicit mechanism requiring `Primitive` typeclass instance for query columns.

For now to resolve the problem I declared the following generic helper:

[code]

and use it like this in model definition:

[code]

Am I missing something obvious, or is it the way to go?

[2015-07-03 06:03] Tvaroh commented on #279
Still do not understand how to use `UDTColumn`s.

[code]

Why `asCql` method (which is required to implement) argument is `UDTColumn`? Shouldn't it be just my UDT i.e. `Fullname`?

[2015-07-03 06:15] Tvaroh opened #282 "Make Twitter libraries dependencies optional"
If one doesn't use Twitter's futures, it would be better to remove those artifacts from dependencies. Currently ignoring them doesn't work. Could chosen futures implementation be more pluggable?

[2015-07-03 06:17] Tvaroh opened #283 "Java 8 time API support"
Currently, Phantom uses Joda time. Would be nice to have `java.time` API support as an additional module targeting Java 8, and also make Joda time deps optional.

@alexflav23, what do you think?

[2015-07-03 09:42] alexflav23 commented on #282
Hi @Tvaroh ,

I don't think there is a good way around them, since the implementation is deeply embedded in Phantom. We only have 1 dependency on `util-core` from Twitter, but that is non-trivial and overall not very large in size.

We rarely use Scala primitives internally as they are in many many ways inferior to alternatives in the Twitter ecosystem. Is there any strong argument against Twitter

[2015-07-03 09:45] Tvaroh commented on #282
@alexflav23, thanks, I understand. I have nothing against Twitter futures, actually I never used them.

[2015-07-03 09:45] #282 closed

[2015-07-03 09:47] alexflav23 commented on #281
Hi @Tvaroh ,

There is already a helper for this, namely `enumToQueryConditionPrimitive` available in the default import: `import com.websudos.phantom.dsl._`.

[2015-07-03 09:47] #281 closed

[2015-07-03 09:50] alexflav23 commented on #283
Hi @Tvaroh ,

This will likely be a lot of boilerplate for no reason and since not everyone is on Java 8 yet this is sightly dangerous. You can add a trivial conversion between Joda and Java dates and I highly doubt there would be a noticeable performance penalty in doing so.

It doesn't sound like this will be worth the trouble just yet.

Regards.

[2015-07-03 09:50] #283 closed

[2015-07-03 09:51] Tvaroh commented on #283
I see, thanks.

[2015-07-03 09:51] alexflav23 commented on #279
Hi @Tvaroh ,

UDT support is not officially out yet, it has been in the making for a while and de-prioritised while internally we focus on a number of different projects as well. It should be live sometime around September.

Regards.

[2015-07-03 09:51] #279 closed

[2015-07-03 09:52] alexflav23 commented on #276
Hi @velvia ,

Many thanks for your fix once again. It has now been included in the `1.9.9` release already available on Bintray. Have you upgraded or does this still require retrofitting to previous versions?

Regards.

[2015-07-03 09:56] alexflav23 commented on #123
Hi @graph1zzlle , @raam86 @prettynatty ,

Spark support is finally coming, with a completely typesafe approach and even automated conversions and Spark SQL support via one of other projects called `morpheus`, a reactive type safe client for SQL databases.

However, as the amount of work and support required to make that a reality is absolutely gargantuan, it will not be part of an open source rele

[2015-07-03 14:00] graph1zzlle commented on #123
I don't get why prepared statement should be related to Spark

[2015-07-03 17:06] velvia commented on #123
I don't understand either.  The value prop of Spark support and migrations is understandable but has nothing to do with prepared statements.  Adding prepared statement support will encourage folks to stay with Phantom for performance. Those that want Spark support can then pay up.

Another thing I'd encourage you guys to think about is that Datastax has their own Spark connector, and when Datastax

[2015-07-03 17:10] velvia commented on #276
I haven't upgraded yet.  Will have to try it out, but the 1.5 to 1.8 was already a bunch of effort.

-Evan
"Never doubt that a small group of thoughtful, committed citizens can change the world" - M. Mead

[2015-07-03 17:11] velvia commented on #276
So in other words if u could back port that would be awesome (esp since the patch is against 1.8.x and should be really easy :)

-Evan
"Never doubt that a small group of thoughtful, committed citizens can change the world" - M. Mead

[2015-07-03 17:43] alexflav23 commented on #123
Hi @velvia, @graph1zzlle,

I meant to comment on the other issue, regarding Spark support. My sincere apologies, prepared statements are in the making and will be available open source.

With regards to Spark support, internally we will still use most of the Spark connector to get things done, we will just make it properly typesafe and powerful in Scala. The official one is very clumsy to use and

[2015-07-03 17:45] alexflav23 commented on #139
Hi @kareblak, @ezhulenev,

Spark support is finally coming, with a completely typesafe approach and even automated conversions and Spark SQL support via one of our other projects called `morpheus`, our reactive type safe client for SQL databases.(not yet open source and live).

However, as the amount of work and support required to make that a reality is absolutely gargantuan, it will not be part

[2015-07-03 17:45] #139 closed

[2015-07-06 08:57] alexflav23 commented on #277
Hi @Kenzo777,

This is fixed in `1.9.10` available on Bintray.

Regards.

[2015-07-06 08:57] #277 closed

[2015-07-06 09:19] graph1zzlle commented on #123
Thanks for the informations @alexflav23

[2015-07-07 02:06] rohitgupta-90 opened #284 "phantom-testkit: Not able to deploy auto embedded cassandra"
Hi,

I am trying to run the example given here: https://github.com/websudos/phantom/wiki/Testing-with-phantom-teskit  with version 1.9.8  and I get the following error:
[info] Exception encountered when attempting to run a suite with class name: UserDatabaseServiceTest *** ABORTED ***
[info]   com.datastax.driver.core.exceptions.NoHostAvailableException: All host(s) tried for query failed (tried:

[2015-07-14 10:26] alexflav23 commented on #284
Hi @rohitgupta-90 ,

We have removed support for auto embedding via SBT due to severe problems with race conditions in test runs. Multiple classloaders, multiple JVMs and multiple parallel test executors don't seem to like each other as well as we need to for the kind of await lock starting Cassandra requires.

The `phantom-sbt` module is now the way forward, and documentation will be updated to r

[2015-07-14 10:26] #284 closed

[2015-07-15 01:12] anujag231 opened #285 "Spray 1.2.4 and phantom 1.9.8 have conflicts using shapeless"
We are trying to use phantom 1.9.8 in one of our projects which already uses spray routing (1.2.4). Our observation is the code which uses phantom fails with

[error] bad symbolic reference. A signature in ImplicitMechanism.class refers to term shapeless
[error] in package <root> which is not available.
[error] It may be completely missing from the current classpath, or the version on
[error] the

[2015-07-15 01:17] prsekar opened #286 "Spray 1.2.0 and phantom 1.9.8 have conflicts using shapeless"
We are trying to use phantom 1.9.8 in one of our projects which already uses spray routing (1.2.0). Our observation is the code which uses phantom fails with

[error] bad symbolic reference. A signature in ImplicitMechanism.class refers to term shapeless
[error] in package which is not available.
[error] It may be completely missing from the current classpath, or the version on
[error] the classpa

[2015-07-15 01:41] alexflav23 commented on #286
Hi @prsekar,

Phantom uses only minimal functionality from shapeless and all open source phantom modules should in theory work with an older version of shapeless. That aside, perhaps you are excluding the wrong dependency and you should make sure you have indeed eliminated the dual dependency.

Using `evicted` or even the `External Libraries` dropdown from InteliJ in `Project Structure` should cle

[2015-07-15 12:19] Kenzo777 opened #287 "phantom 1.9.10 - queries problems and consistency level"
1. Using where clause with "AND" not working
2. Set consistency level on any query not working

1.8.12 works fine with "Where" and "AND" but not with Consistency level

XXXTable
  .select
  .where(_.id eqs someId)
  .and(_.timeUUID lt from.getOrElse(UUIDs.timeBased()))
  .limit(pageSize)
  .fetch()

[2015-07-15 15:31] jtjeferreira commented on #285
we are using this "io.spray" %%  "spray-routing-shapeless2" % SprayVersion

[2015-07-15 15:32] jtjeferreira commented on #286
as I commented in #285 we use "io.spray" %%  "spray-routing-shapeless2" % SprayVersion,

[2015-07-15 16:25] prsekar commented on #286
thanks jtjeferreira

we tried that and it works.

[2015-07-15 16:27] prsekar commented on #286
Just a thought,
Like @alexflav23m mentioned, if phantom is not using shapeless extensively, can we not have a package 1.9.8 or any new version which is compiled with shapeless < 2.0.

In our case we had to upgrade spray to 1.3.x which might cause some regression.

[2015-07-15 17:15] alexflav23 commented on #286
Hi @prsekar,

Shapeless versions are incompatible between them. Phantom runs on a shared query engine for building and reflection functionality and while the OSS phantom uses little shapeless, it's bigger enterprise brother has enough shapeless for Miles Sabin to adopt it, and `phantom-enterprise` also depends on `phantom`.

This causes a fairly large logistical nightmare for the sole gain of usin

[2015-07-16 00:44] prsekar opened #288 "phantom 2.0.0"
Do we have RC version of phantom 2.0.0 that i can download from any bintray ???

[2015-07-16 08:29] ngorijala opened #289 "Logged Batch statement execution using phantom 1.9.8"
http://pythonhackers.com/p/websudos/phantom#logged-batch-statements

Is the write up mentioned in the above link valid for phantom 1.9.8.?? if not, can you please point to some documentation/examples for writing logged batch statements using phantom 1.9.8.??

[2015-07-16 11:25] alexflav23 commented on #289
Hi @ngorijala,

Check the Wiki page [here](https://github.com/websudos/phantom/wiki/Batch-statements).

Regards,
Flavian

[2015-07-16 11:25] #289 closed

[2015-07-16 11:26] alexflav23 commented on #288
Hi @prsekar,

2.0.0 isn't out yet. What specifically are you looking for? Which feature?

Regards.

[2015-07-16 11:26] #286 closed

[2015-07-16 11:30] alexflav23 commented on #242
Hi @Ciaran0 ,

This is now fixed in the `phantom-enterprise` roadmap. An initial release will be out in September, to give you a very powerful integration with all DSE features, including Spark SQL support via our `morpheus` SQL engine, Solr integration, automated Solr schema generation, and much more.

I will close this issue for now since it will not be part of any OSS release.

Regards.

[2015-07-16 11:30] #242 closed

[2015-07-16 14:00] prsekar commented on #288
We are looking for user defined data types. Looks like the support is only from 2.0.0.

[2015-07-17 18:31] coffius opened #290 "Q: Support of Consistancy Level ?"
Is there support of setting of Consistancy Level for queries in phantom?
Right now I can not find a way to set CL for queries in phantom. I have tried to use `.consistencyLevel_=(ConsistencyLevel.LOCAL_QUORUM)` but it have led to errors like this:
[code]

Is it possible to use some different methods to set CL?

[2015-07-18 15:28] alexflav23 commented on #288
Hi @prsekar ,

UDTs have yet to reach stability. However, in all honesty, implementing flexible structures with JSON columns and blobs is equally trivial. Phantom already adds support for that and while I am very well aware I'm not exactly answering your question about UDT support, you can easily use JSON until UDTs are available.

It has proven to be somewhat painful to make UDTs work as fluently

[2015-07-18 15:29] alexflav23 commented on #285
Hi @jtjeferreira , @anujag231 ,

I've added your comment to the Wiki page on how to include phantom. All future users will now know how to deal with this easily. Many thanks for all your help!

Regards.

[2015-07-18 15:29] #285 closed

[2015-07-18 23:48] alexflav23 commented on #287
Hi @Kenzo777 , I doubt the `and` part is not working on the basis of tests passing and no other reports being made, but if you could please create a gist or paste a complete example here I will check it out. We have extensive tests for `and`. Consistency levels have been somewhat of a problem as they have completely changed in newer versions of CQL and there is really no great way to set them on a

[2015-07-20 08:24] D-Roch commented on #288
Nice, do you have an example ? I was also waiting for UDT support

[2015-07-20 08:33] alexflav23 commented on #288
Hi @D-Roch,

An example of using custom types is [here](https://github.com/websudos/phantom/blob/develop/phantom-dsl/src/test/scala/com/websudos/phantom/builder/query/db/specialized/JsonColumnTest.scala). The idea is simple, you just tell the column how to serialize/de-serialize and it can store things as blobs for you.

Regards,
Flavian

[2015-07-20 12:00] dgrene opened #294 "getting some error while data modeling"
[RuntimeException: java.lang.NoSuchMethodError: scala.reflect.api.JavaUniverse.runtimeMirror(Ljava/lang/ClassLoader;)Lscala/reflect/api/JavaMirrors$JavaMirror;]

this my table :
CREATE TABLE Users(id timeuuid PRIMARYKEY, email text,name text,registrationDate text);

This my connector :

package common
import com.datastax.driver.core.Session
import com.websudos.phantom.connectors.{ ContactPoints, K

[2015-07-20 12:59] alexflav23 commented on #294
Hi @dgrene,

I have never seen that before and everything looks ok at first glance. I will attempt to run your code later today and see what is wrong. Perhaps having the full stack trace would also be a lot more helpful, at the very least I can tell you if this is indeed phantom related.

Regards.

[2015-07-22 08:29] alexflav23 commented on #290
Hi @coffius ,

Currently the consistency level in the latest versions of the CQL protocol is set in a whole new way, in a using clause. So you would have to execute two queries to effectively set the level of a query:

[code]

This is somewhat misleading and a bit dangerous to do on the client because we would need to automatically batch queries and execute two things at once. There is also a prob

[2015-07-22 14:38] mmoulou opened #296 "select.where 1.10.1 not working"
Hello,

I'm planing to upgrade to phantom 1.10.1, but I'm facing some problems:

I want to use "select.where", my class inherit "CassandraTable", or "select" method on SelectTable class return RootSelectBlock instead of SelectQuery, so, my select.where is not working anymore.

"value where is not a member of com.websudos.phantom.builder.query.RootSelectBlock"

How can i fix this?

tks

[2015-07-22 15:26] alexflav23 commented on #296
Hi @mmatloka,

`import com.websudos.phantom.dsl_` is missing.

[2015-07-22 15:42] #296 closed

[2015-07-22 21:06] mmatloka commented on #296
@alexflav23 this was not me this time ;)

[2015-07-22 21:18] alexflav23 commented on #296
Hi @mmatloka, my apologies, Git autocompletion picked you and I didn't even realise :)

[2015-07-27 21:29] thiagoandrade6 opened #298 "Support for Tuples?"
Is it possible to map this kind of column in phantom?

[code]

I couldn't find anything related.

The following does not work.

[code]

neither

[code]

[2015-07-28 11:58] thiagoandrade6 commented on #298
So far the best way to deal with that is using JsonTable, so instead of using a Tuple of N, you can just use a list of objects and parse this object as json

[2015-07-28 11:58] #298 closed

[2015-07-28 15:05] manavgupta08 commented on #288
Hi Flavian
We also need Optional Collection Column types. Is it already possible to define those ?

Thanks
Manav

[2015-07-28 15:16] alexflav23 commented on #288
Hi @manavgupta08,

It's possible sure, but instead when the are no elements we just return an empty collection, why do you need the extra wrapper type?

Regards.

[2015-07-29 17:59] Kenzo777 commented on #287
"And" operation part not working also At the new 1.10.1 it's working in 1.8.12 .
All tests not including any - select where query with "and" operation -

CREATE TABLE IF NOT EXISTS timeline(
	tag		text,
	timeIndex timeuuid,
	data         text,
	PRIMARY KEY(tag,timeIndex)
)
WITH CLUSTERING ORDER BY (timeIndex DESC)

if we want to query this table with phantom dsl .

TimelineTable.select
      .wher

[2015-07-29 20:48] alexflav23 commented on #287
Hi @Kenzo777 ,

I think you have a dependency conflict with phantom in your classpath, but unless you post the full stacktrace properly I cannot help you. Consistency level of a per level basis has been removed in Cassandra, not in phantom so it will not work anymore, you have to set it at protocol level instead.

Please post the full stacktrace, I am fairly confident you are experiencing a depend

[2015-07-29 20:49] #290 closed

[2015-07-29 20:51] alexflav23 commented on #256
Hi @nosheenzaza  ,

Currently the consistency level in the latest versions of the CQL protocol is set in a whole new way, in a `use` clause at protocol level. So you would have to execute two queries to effectively set the level of a query:

[code]

This is somewhat misleading and a bit dangerous to do on the client because we would need to automatically batch queries and execute two things at onc

[2015-07-29 21:42] nosheenzaza commented on #256
Hello Flavian,

The following is what I remember on top of my head but I will try to look more into it tomorrow.

Looking at [this issue] (https://issues.apache.org/jira/browse/CASSANDRA-4734) and [examples of using the Java driver](http://docs.datastax.com/en/developer/java-driver/2.1/common/drivers/reference/cqlStatements.html), I understand that clients should still allow setting the consistenc

[2015-07-29 22:31] alexflav23 commented on #256
Hi @nosheenzaza,

That sounds like the perfect plan except I seriously fail to see where the Datastax Java driver sets the CQL internally. The cluster has some query options and we can also use `SimpleStatement` forwarding internally to try and forward the consistency level definitions invisibly.

This should hopefully be fixed with some more iteration done at more reasonable times of the day. Loo

[2015-07-30 15:58] #287 closed

[2015-08-04 04:51] vyshane commented on #255
I second this. I would love to have this resource.

[2015-08-06 21:15] coreyauger commented on #157
Just wanted to check if there are any updates on this.  Thanks.

[2015-08-11 09:09] Alien2150 opened #299 "Maven Repo Version"
Hey guys,

you mention in your Readme that you have the latest stable version in the official maven-repo (1.8.9) but its not there:
http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.websudos%22%20AND%20a%3A%22phantom_2.11%22

It seems like that there is a version-difference between your own (https://dl.bintray.com/websudos/oss-releases/) and the official maven-repository.

Regards,
Thomas

[2015-08-11 10:40] alexflav23 commented on #299
Hi @Alien2150,

The readme also says you should rely on the badges at the top for the latest version because we do not generally update the docs as the same pace as internal releases. The latest version is `1.10.4` and there is also a version on Maven, `1.10.1`. They are of course different, since only larger releases wind up on Maven Central.

Hope this helps!

[2015-08-11 10:40] #299 closed

[2015-08-11 10:40] #294 closed

[2015-08-11 10:41] alexflav23 commented on #157
Hi @coreyauger,

We have an internal version of UDTs but we have yet to put in the effort to stabilise things, mainly as we have a lot of other high priority things on the TODO list. We will update this topic when we have further news.

Regards,
Flavian

[2015-08-12 02:15] bennythomps opened #300 "Unresolved util-testing Dependency"
I'm trying to pull the latest phantom library (1.10.1) and I'm getting unresolved dependencies for util-testing. I have added all the required resolvers and end up with unresolved errors.

Here are my two phantom dependency lines:

[code]

Here are my resolvers

[code]

[2015-08-12 06:10] alexflav23 commented on #300
Hi @bennythomps ,

You have an outdated resolvers list, I'm assuming you are upgrading perhaps. Look [here](https://github.com/websudos/phantom/wiki/Integrating-phantom-in-your-project), our Maven repo is now on Bintray.

Remove "Websudos releases" or replace it's value with our Bintray repo and everything should be fine.

Regards.

[2015-08-12 06:10] #300 closed

[2015-08-12 18:48] bennythomps commented on #300
:+1: thanks!

[2015-08-16 15:50] alexflav23 commented on #256
Hi @nosheenzaza,

I've finally had the time to do something about this and a pull request is now available [here](https://github.com/websudos/phantom/pull/304). Wouldn't mind some feedback on the implementation, which feels slightly hackish in an attempt to avoid having to make backwards incompatible changes.

Right now even though `null` defaults are propagated around, no queries in the tests or

[2015-08-16 18:12] #249 closed

[2015-08-16 18:14] alexflav23 commented on #249
Hi @brianwawok,

We cannot really apply a DSL level fix to this without very major alterations to the existing internals and implicit mechanism and the benefit is rather minimal. All the damage executing that query will do is a runtime error, after which the user can correct the mistake anyway, so it's not something as bad as a limit on a Mongo delete query(limit is ignored and Mongo happily proce

[2015-08-19 23:28] brianwawok commented on #249
@alexflav23 true, but isn't there whole point of having a Cassandra DSL to catch things at compiletime over runtime?  Or we would all just be slinging ruby.

[2015-08-20 07:35] alexflav23 commented on #249
@brianwawok The current model phantom employs makes it somewhat difficult to implement this without potential heavy changes so we just mark it as a reasonable trade-off. This will be addressed later in the future when we solve other high priorities issues.

[2015-08-23 19:25] #288 closed

[2015-08-23 19:27] alexflav23 commented on #256
@nosheenzaza Phantom 1.12.2 is in the process of being synced to Maven Central, we've fixed support for consistency levels in all queries and added per CQL protocol version mechanisms that are backwards compatible with old versions of Cassandra as well. The issue is now fixed and can be closed. The tag is `1.12.2` so the diff is easy to review if need be.

[2015-08-23 19:27] #256 closed

[2015-08-23 19:28] alexflav23 commented on #230
Hi @polymorpher ,

We have reversed batch implementation to use the java driver and a lazy iterator based version instead of keeping a large generation string in memory. This has improved performance a lot. CQL now enforces a much smaller limitation for batch sizes though(Cassandra 2.2.0+) and we seem to be getting "Batch too large" errors even for 1000 queries, something to bear in mind when upgr

[2015-08-23 19:28] #230 closed

[2015-08-24 09:08] nosheenzaza commented on #256
Many many thanks! I did not have the time to have a look yet. Will try to do it over weekend.

[2015-08-25 12:52] alexflav23 commented on #276
Hi @velvia,

I wanted to ask if you think this would still be a requirement. Phantom has evolved quite a lot since the 1.8.x releases and many more months of improvements have been released since. Perhaps our efforts are much better spent improving the speed of upgrading and the documentation for upgrading to the latest version.

I was considering scheduling the upgrade today for the upcoming spri

[2015-08-25 16:35] velvia commented on #276
@alexflav23 nope you guys don't need to backport, thanks for asking though!   However, there are still some issues with the bytebuffer stuff even after the patch.  I haven't had time to dig into it, but will let you guys know.  Perhaps when the prepared statement stuff comes in (is it in already?) will make a bigger effort at upgrading and trying everything out.

Would be happy to link my project

[2015-08-25 16:43] alexflav23 commented on #276
@velvia It's in the making and getting there, but not out yet. Unfortunately non trivial to do type-safe prepared statements and we have prioritised automated migrations first, but they are in prime time. We would love to know where else phantom is being used, please feel free to contribute with that or even tell me here and I will add it to the list with the appropriate credits.

[2015-08-25 20:21] #276 closed

[2015-08-25 21:35] nkijak opened #309 "Multiple orderBy clauses"
Previously you could specify any clauses in the `orderBy` section of a query. Now it only takes one condition and seemingly locks the query to that one column because the `SelectQuery` type becomes `Ordered` and you can only `orderBy` when `Unordered`.

[2015-08-26 08:50] alexflav23 commented on #309
Hi @nkijak,

This is indeed a problem that we are addressing as we speak, a fix should be avaialable as early as today. The `orderBy` method was designed as a varargs method, meaning the right way to use it was:

`Table.select.where(_.a eqs b).orderBy(_.a asc, _.b desc, _.c asc)`. Off the top of my head it's possible this syntax doesn't actually work and you need to provide the full lambda during

[2015-08-31 17:19] rashtapu opened #311 "Can't resolve come.websudos - seems like incompatible versions"
I'm getting errors resolving websudos in following imports:
import com.websudos.phantom.CassandraTable
import com.websudos.phantom.dsl._

Here's the build.sbt

version := "1.0"

scalaVersion := "2.11.7"
val phantomVersion = "1.12.2"

resolvers ++= Seq(
  "Typesafe repository snapshots" at "http://repo.typesafe.com/typesafe/snapshots/",
  "Typesafe repository releases" at "http://repo.typesafe.com/

[2015-08-31 17:45] alexflav23 commented on #311
Hi,

I think you have a broken resolver that we have long deprecated. Also you have an explicit dependency on the Java driver which is pointless and potentially dangerous. Let phantom set the driver version it needs. You also have a lot of dependencies you don't need.

The `build.sbt` file.

[code]

[2015-08-31 19:44] rashtapu commented on #311
Thank you for your response, it worked.

[2015-08-31 19:45] #311 closed

[2015-09-01 15:00] bbirand opened #312 "websudos maven repo not available"
It seems that the websudos Maven repo is not accessible. I'm new to the Scala world, is it common for each project to have its own repository? I have no doubt it will be back up in no time, but what if I had to compile `phantom` during in a deployment script? Is it not possible to host all files on a main repo?

Thanks!

[code]

[2015-09-01 15:42] alexflav23 commented on #312
Hi @bbirand,

That repo has been deprecated for over half a year, please remove it from the build script and everything should return to normal. Read the main readme and add the correct Bintray resolvers.

Regards.

[2015-09-01 15:47] bbirand commented on #312
I see. I was going by the home page:
http://websudos.github.io/phantom/

[2015-09-01 16:06] alexflav23 commented on #312
Thank you for pointing that out, we will update the main readme as well.

[2015-09-02 17:07] evgenyigumnov opened #313 "Cassandra 2.2.1"
Hi do u support this version?

I try to store object but after store it is say ok but cassandra table is empty

I down grade from 2.2.1 to 2.1.7 and store starting work

why?

[2015-09-02 18:08] alexflav23 commented on #313
Hi @evgenyigumnov,

If there was a failure you would get an error. I think in the latest version `1.12.2` we support Cassandra 2.2.0 and upwards, I'm not sure if 2.2.1 is somehow different and requires driver level changes but it doesn't sound like it should be a problem.

Do you see any errors?

[2015-09-02 18:08] #312 closed

[2015-09-03 03:45] evgenyigumnov commented on #313
Unfortunately no errors. Just dont store row in database. With silence.

[2015-09-03 13:49] tyth opened #314 "No error without specified partition key"
Here https://github.com/websudos/phantom/wiki/Indexes it's written that:

But I succesfully ran application and retrieved results, while no key was specified.
Either the documentation is wrong or there is some bug.

PhantomVersion = "1.12.2"

[2015-09-03 14:42] brianwawok commented on #314
You used phantom to query an existing table, or to create a new table?

If so, what did your table look like?  Cassandra won't let you make this table..

[2015-09-03 15:02] alexflav23 commented on #314
@tyth I don't think everything is right, as @brianwawok points out it wouldn't be possible to create such a table in the first place so I don't see how this happens. Could you please post some code here?

[2015-09-03 15:14] tyth commented on #314
I queried existing table. I didn't understand that this note was about schema creation only.

[2015-09-03 15:16] alexflav23 commented on #314
Hi @tyth,

Apologies, we will update the documentation to be more specific. The check is a schema generation check indeed, so after the table is created no checks are ever run outside of the where clauses which will require that you use a partition or primary inside them(or a secondary index at the very least).

[2015-09-03 15:16] #314 closed

[2015-09-03 15:20] tyth opened #315 "Support for TTL in Update query"
In cassandra cql documentation it's said that you can specify ttl in update query:
https://cassandra.apache.org/doc/cql/CQL.html#update

And there is no support for it in DSL (https://github.com/websudos/phantom/wiki/Querying)

Are you planning to add such support? Is there any graceful workaround for now?

[2015-09-03 15:28] alexflav23 commented on #315
Hi @tyth ,

This looks like an oversight, this will be resolved very quickly and should be out in the next incremental release. I will try and release today itself to fix this and keep you posted.

Regards.

[2015-09-04 14:48] Baccata opened #316 "Querying optional columns ?"
Does the current state of Phantom allows querying on optional columns ?

[2015-09-04 14:58] alexflav23 commented on #316
Hi @Baccata,

No, and for a very good reason. Indexes in Cassandra are not nullable or you would break the contract Cassandra uses to nest data and form keys. As a result it doesn't really make sense to allow such queries at DSL level.

In principle you should never query over something that can be `None`. Instead, create a new table where the option you want to query by is no longer an option. Do

[2015-09-04 15:57] brianwawok opened #317 "Diesel engine missing from maven central"
It seems your maven central publishing got out of wack again.

You can go here and find phantom-dsl_2.11-1.12.2

https://repo1.maven.org/maven2/com/websudos/phantom-dsl_2.11/1.12.2/phantom-dsl_2.11-1.12.2.pom

One dependency that is in the pom is "diesel-engine_2.11-0.2.2"

But there is no such thing as diesel-engine in maven central

http://search.maven.org/#search%7Cga%7C1%7Cg%3A%22com.websudos%

[2015-09-04 16:06] alexflav23 commented on #317
Hi @brianwawok,

That's because the engine lives on Bintray.`https://bintray.com/websudos/oss-releases`.

Regards.

[2015-09-04 16:06] #317 closed

[2015-09-04 16:12] jtjeferreira commented on #317
Isn't the source code for this diesel engine available in github/bitbucket?

[2015-09-04 16:21] alexflav23 commented on #317
Hi @jtjeferreira,

None of our code is open source, it's just free to use. You can not re-distribute it,  offer paid support for it or anything like that or you are in breach of license. The code for diesel is not public as of yet and only a very small part of it is available for free wide spread consumption.

[2015-09-04 16:37] jtjeferreira commented on #317
I was just asking because phantom source code is available online for browsing while for diesel I couldn't find anything.

However in https://bintray.com/websudos/oss-releases/phantom-dsl/view it is stated that the license is Apache which makes it OSS right?

Regards

[2015-09-04 17:00] alexflav23 commented on #317
Hi @jtjeferreira,

No it doesn't, the only license under which phantom is available is our proprietary license. We have no plans of releasing any of our trademark products as OSS, they remain however free to use.

Regards.

[2015-09-04 17:05] jtjeferreira commented on #317
Thanks for the clarification

[2015-09-05 16:48] #316 closed

[2015-09-08 19:51] brianwawok commented on #317
@alexflav23 the problem with this approach (Put an artifact in Maven Central put half of it's dependencies in Bintray) is generally super screwy and does not work very well.  You are really much better off going ALL bintray (and moving maven central) or ALL maven central (and removing Bintray). The maven central partial release is adding no value as you still need to go off to bintray to use it...

[2015-09-12 17:54] velvia opened #318 "Use immutable ByteString or ByteVector for blob columns"
Right now, `ByteBuffers` are used for Blob column types.  Having done this with Phantom, though, there are issues: ByteBuffers are mutable and very dangerous to work with.

Ideally we want something which is 1) immutable, and 2) can hashCode correctly and be used as keys in HashMaps, yet still allows 3) random access.

Array[Byte] is mutable, slightly better than ByteBuffer, but does not hashCode.

[2015-09-12 18:12] alexflav23 commented on #318
Hi @velvia,

I certainly understand the concern. We can add adjacent functionality to existing blob columns, release them, and see how they behave in practice.

Regards.

[2015-09-15 12:07] mmatloka opened #321 "Question - shutdown proces"
Hi,
I would like to ask, what is the proper ways to close all sessions and connections phantom is using. I have a small batch app, which after using phantom never ends its execution. So far I have found that after running:
[code]
application is able to end its execution. Is this the proper way to close this, or are there any other API methods for that? :)

[2015-09-16 06:56] mmatloka opened #322 "Frozen collection"
Hi,
Is it possible to model in phantom the:
[code]
?

Additionally frozen collection should be possible to use with primary key.

[2015-09-16 07:33] alexflav23 commented on #322
Hi @mmatloka,

Not at this time. We will add a feature request to be included in the roadmap, I think it's already there. Right now our focus is on prepared statements which are close to being done.

Regards.

[2015-09-16 07:34] alexflav23 commented on #321
Hi @mmatloka,

This is the way to close down yes, the phantom manager shuts down whatever phantom uses internally and the session should close whatever the Datastax bit handles.

Regards.

[2015-09-16 07:34] #321 closed

[2015-09-17 13:27] psycho-ir commented on #322
Hi @alexflav23

I am going to contribute on UDT and frozen stuffs.
As far as I understood from other issue comments you internally are working on UDT support (Please correct me if I am wrong).

Is it possible to work on it in a public github branch? then I will have opportunity to contribute on it.

[2015-09-17 15:39] alexflav23 commented on #322
Hi @psycho-ir,

What we have on UDTs is already in. Perhaps we will share the end DSL we are trying to achieve and we can start from there, see if you have better ideas about what DSL we can offer. Some minimal version of UDTs is already working, but our effort has been primarily targeting prepared statements and other efforts, so there has been a lot of work around that.

Regards.

[2015-09-26 08:20] futurechimp opened #324 "Bintray repo always needed?"
Hi there,

When using Phantom 1.12.2 from `search.maven.org`, I kept getting a 404 on the `util-testing` depdendency:

[code]

This was a little confusing, especially late at night. But I slept on it, then in the morning added this to my resolvers:

[code]

That worked.

Do you want a pull request against your docs to try and make this a bit more clear? I read the docs to mean that the stable arte

[2015-09-26 11:42] alexflav23 commented on #324
Hi @futurechimp,

Thank you for your proposal, but this is already specified in the default guide:

`https://github.com/websudos/phantom/wiki/Integrating-phantom-in-your-project`.

Regards.

[2015-09-26 11:42] #324 closed

[2015-09-30 01:48] jknight12882 commented on #123
Any word on when this will be available?

[2015-09-30 09:29] alexflav23 commented on #123
Hi @jknight12882,

The implementation is complete, we are in the final stages of releasing prepared statements and a pull request is already available for them. I think a maximum of 2 weeks and we should see phantom 2.0 out at last.

Regards.

[2015-09-30 09:40] alexflav23 commented on #318
@velvia Fixed in `0.12.3`, release just went out to Bintray yesterday. You can use `ByteStringColumn` which will return a `ByteString`. Hope this helps, please let me know if you can make any improvements to the current implementation of parsing from and to a `ByteString`.

[2015-09-30 09:40] #318 closed

[2015-09-30 14:23] gzoller opened #329 "diesel-engine?"
What is diesel-engine?  It's now a dependency and while there are a few binaries floating around, I don't see it on github.  Is it part of another project?

[2015-09-30 14:30] alexflav23 commented on #329
Hi @gzoller,

Although this is not specifically an issue, Diesel is the engine for query operations. We do not use GitHub internally and we do not intend to publish the engine independently here.  Hope this answers your question.

Regards.

[2015-09-30 14:30] #329 closed

[2015-09-30 16:28] velvia commented on #318
Thanks guys.  Bummer, I decided to use ByteVector in my project.  ByteString is good too though, thanks.

[2015-10-01 00:09] velvia opened #330 "Proper support for CQL TOKEN(partkey1, partkey2)"
Hi guys,

I need support for CQL queries of the type

SELECT col1, col2 FROM table WHERE TOKEN(partkey1, partkey2) > tokenNum;

ie support of token scans when a table defines multiple partition keys.  Currently looking at the code this does not seem to be supported.

1. Is there any workaround, like I can manually pass the CQL query string to Phantom?
2. I'm willing to work on a PR if you guys sho

[2015-10-01 14:40] alexflav23 commented on #313
Hi @evgenyigumnov,

Cassandra 2.2.1 is now on the roadmap and support should be available in the coming weeks. So far we never officially supported it and it's somewhat strange there's such a big obvious problem in spite of having a successful connection. I think there may well be other factors at play, but we will see when support is enabled.

[2015-10-13 08:00] ChetanBhasin opened #332 "Proper pagination wouldn't work with Async Iteratees"
When the fetch sizes are large while using Play framework's async Iteratees, it crashes Cassandra.

I made a [SO question](http://stackoverflow.com/questions/33075119/apache-cassandra-crashes-under-heavy-read-load/33090252#33090252) with logs only to find this out.

There is [another question](http://stackoverflow.com/questions/28967030/value-slice-is-not-a-member-of-play-api-libs-iteratee-enumera

[2015-10-13 08:47] alexflav23 commented on #332
Hi @ChetanBhasin,

I would have serious doubts the problem is Phantom specific given we do have long winded tests for such scenarios which greatly exceed the capacity I think you are mentioning:

- Increasing the read timeout on a cluster builder is done easily from the `ContactPoint` definition.
- You have provided very little context as to what specifically you are doing. If you post a full exam

[2015-10-13 12:36] ChetanBhasin commented on #332
Hi @alexflav23,

Thanks for the reply. I'll try to describe the problem as much as I understand it myself. It's not about how Phantom behaves in a production cluster.

Increasing the timeout helps when we have a timeout problem. In this case, however, I believe that it's because Cassandra is running out of memory in JVM.
In cases when the size of the data being querried from Cassandra (in all the

[2015-10-13 12:47] alexflav23 commented on #332
Hi @ChetanBhasin,

Phantom also uses the native paging of the Datastax Java driver underneath, our async iterators are just a nicer way to use the underlying Java Driver. To reduce paging, you should use `setFetchSize()`. However, it sounds like the size of your requirements would mandate something like Spark running the show, and Datastax offer a connector for that, which distributes table reads

[2015-10-14 10:06] ChetanBhasin commented on #332
Thanks @alexflav23,

My application is supposed to stream the data in Cassandra so I doubt if Spark is needed for this case. Which is why I was looking for the concept of paging.

Nontheless, is there a way in Phantom to directly change fetch size without working on the Java driver it is built over?

[2015-10-14 10:09] alexflav23 commented on #332
Hi @ChetanBhasin ,

Have a look [here](https://github.com/websudos/phantom/blob/develop/phantom-dsl/src/test/scala/com/websudos/phantom/builder/query/db/iteratee/IterateeInsertPerformanceTest.scala) for some ideas of how we've done that in the past.

Hope some of that will help.

Regards.

[2015-10-14 19:50] jknight12882 opened #335 "Twitter dependencies"
Is it possible to separate out all the twitter dependencies into a separate project? Currently there's a lot of overhead requiring them as a dependency for those projects who don't rely on twitter futures/durations/etc

[2015-10-14 21:46] alexflav23 commented on #335
Hi @jknight12882,

We are very heavy users of Finagle internally and many of our products are built entirely on the Twitter stack. As a result, Scala concurrency support was added as a complementary choice to Twitter. We have yet to find a way in which support can be as painless and you are among the first to report the overhead, quite frankly the runtime overhead is 0, all you get is 15 more seco

[2015-10-14 21:46] #335 closed

[2015-10-14 22:09] jknight12882 commented on #335
@alexflav23 thanks for the quick response. The overhead is in distribution and developer convenience.

For example, we use sbt-native-packager to distribute our app. As part of this, all dependencies are included as a "fat jar", so we are taking the overhead of having to include all those Twitter classes that are unused.

As for developer convenience, we are heavy users of the standard Scala Futur

[2015-10-20 06:05] pjan opened #336 "Cassandra 3.0.0 support"
With Cassandra having released an RC2 for 3.0.0, the final is getting close. What are the plans for supporting this? Any assessment done on the impact, as well as expectations for when it would land?

Currently assessing to use phantom for our production, hence the question.

[2015-10-20 08:02] alexflav23 commented on #336
Hi @pjan,

Cassandra 3.0.0 will definitely be supported but it's not on the roadmap as of yet until the Java Driver also hits a good milestone release. As adopting the very bleeding edge of Cassandra is highly unlikely to be high priority for any large consumer, it will take perhaps weeks to see this through.

Hope this answers your question!

Regards.

[2015-10-20 08:02] #336 closed

[2015-10-21 19:24] richbolen opened #337 "Any thoughts of supporting the JSON CQL clause?"
I would like to use phantom with the JSON CQL clause added in V2.2 of Cassandra.

i.e.:   INSERT INTO some_keyspace.some_table JSON '{some json string}'

Is this possible?  If not do you know how I could extend phantom to add that capability?

[2015-10-22 07:26] alexflav23 commented on #337
Hi @richbolen ,

We don't yet support the native Cassandra functionality for JSON columns, but phantom had support for `JsonColumn` for a very long time, which is essentially the same thing but you have to provide serialization/de-serialization.

Have a look [here](https://github.com/websudos/phantom/blob/develop/phantom-dsl/src/test/scala/com/websudos/phantom/tables/JsonTable.scala).

That being

[2015-10-22 12:00] richbolen commented on #337
Thanks for the prompt reply Alex!

We have dozens of model classes, some with hundreds of fields, so I'd like to avoid creating a CassandraTable per model class.  Supporting the JSON clause is one way to get around it.

[2015-10-22 13:18] raam86 commented on #224
nice, should be somewhere on the wiki

[2015-10-22 15:38] sjohnc commented on #255
Has any progress been made on releasing this documentation?

[2015-10-23 09:00] mmoulou opened #339 "how to use maxTimeuuid function on phantom"
Hello,

I didn't find a way to use maxTimeuuid function with phantom Dsl on timeuuid column
I'm wondering whether this functionality exists or not

tks

[2015-10-23 09:06] benjumanji commented on #332
Hi @ChetanBhasin,

Just to reiterate what @alexflav23 is saying, there is no way that _phantom_ is the problem here. The code for generating the enumerator is found [here](https://github.com/websudos/phantom/blob/develop/phantom-dsl/src/main/scala/com/websudos/phantom/iteratee/Enumerator.scala). It is not complicated. We simply loop through the result set as supplied by datastax. The default fetch

[2015-10-23 10:39] ChetanBhasin commented on #332
@benjumanji Thanks for the reply.

I did figure out the problem. You're right, it's bad configuration and big maps in Cassandra which are causing this problem.
I'll close this issue.

Thanks for the heplp you people. And I'm sorry for dragging it longer than it should have been in first place.

[2015-10-23 10:39] #332 closed

[2015-10-25 11:28] burann commented on #255
I second this, the API is probably good, but the amount time you have to waste to figure out simple thing is just mind boggling. I can appreciate the fact you want to build a consulting company on this, but if I cant effective evaluate the API, I wont get to a point where I will hire you either.

[2015-10-26 19:06] alexflav23 commented on #255
Hi @burann ,

We would appreciate some feedback on what people waste time on. The reason why this hasn't really been a focus is because the DSL is internally very complex, but very little of that complexity is exposed. So we will end up with a documentation that's far more bloated than what it should be, or at the very least that is the theory.

Phantom is designed to be discoverable via auto-comp

[2015-10-30 15:33] jfklingler commented on #256
Hello @alexflav23,

I'm still seeing this problem with phantom 1.12.2 and 1.12.3 on Cassandra 2.0.12.274/DSE 4.6.2 (CQL spec 3.1.1). Is there a flag I need to set somewhere to enable the correct behavior? (I admit I haven't looked at tag diffs for 1.12.2 or 1.12.3)

When I execute the query
[code]
I get the following exception
[code]

Thanks,
JFK

[2015-10-30 20:29] jfklingler commented on #256
If it helps any, the query string that is generated by phantom is
[code]

[2015-11-02 08:05] alexflav23 commented on #339
Hi @mmoulou ,

I think we are missing some of the operator functionality but that shouldn't be too hard to add. With apologies for the late reply on our behalf, we will add this to the roadmap and work on it the coming week, it should surface sometimes towards the end of it.

Regards.

[2015-11-02 15:01] jfklingler commented on #256
So I tried another version of DSE (Cassandra 2.1.11.872 | DSE 4.7.4 | CQL spec 3.2.1) and it seems to work now. Not sure what the issue was with the other version.

[2015-11-02 15:11] alexflav23 commented on #339
Hi @mmoulou ,

This has now been addressed as of phantom `1.13.0`. Examples [here](https://github.com/websudos/phantom/blob/develop/phantom-dsl/src/test/scala/com/websudos/phantom/builder/serializers/SelectQuerySerialisationTest.scala#L31).

Regards.

[2015-11-02 15:11] #339 closed

[2015-11-02 15:13] alexflav23 commented on #309
Hi @nkijak,

This has now been fixed as of phantom `1.13.0`. You can now use multiple `orderBy` clauses in the same statement just as I've described above.

Regards.

[2015-11-02 15:13] #309 closed

[2015-11-02 15:15] alexflav23 commented on #315
Hi @tyth ,

This should now be available in Phantom `1.13.0`.

Regards.

[2015-11-02 15:15] #315 closed

[2015-11-02 15:25] mmoulou commented on #339
Very nice, thanks for your prompt feedback!

[2015-11-02 15:33] nkijak commented on #309
@alexflav23 Thanks. Will check it out.

[2015-11-03 16:53] alexflav23 commented on #330
Hi @velvia ,

With apologies for a long overdue reply, this wouldn't be impossible. We already have something called `Operators` which operate in flight, meaning you simply "drop" them in the middle of the `where` clause.

This could be done with a `Token` object that has a varags apply method accepting partition columns that creates another type, say `TokenOp`, which has comparisons defined for i

[2015-11-03 19:51] velvia commented on #330
Awesome thanks!

[2015-11-04 10:55] alexflav23 commented on #330
Hi @velvia ,

Most of this is already underway, but it would be useful to understand what the expect values are on the righthand side of the comparison.

Assuming we have this:

[code]
What should some value be in that case? What phantom does when you provide a value inside the `gtToken` clause is to apply a token call to both sides, so you would end up with something like:

[code]

I've copy past

[2015-11-04 17:21] velvia commented on #330
I think when one works with tokens, they are likely manipulating token ranges as returned by the Cassandra topology….. so basically if we can pass in the Token class from the CQL java driver that would be perfect.

Thanks!

[2015-11-07 19:16] alexflav23 commented on #123
HI @jknight12882 , @graph1zzlle ,@raam86, @velvia ,

Prepared statements are now live as of phantom `1.14.1`. You can use them with the complementary methods `p_where` and `p_and` or `p_value` inside inserts. Examples are available [here](https://github.com/websudos/phantom/blob/develop/phantom-dsl/src/test/scala/com/websudos/phantom/builder/query/prepared/PreparedInsertQueryTest.scala) and [here]

[2015-11-08 13:08] raam86 commented on #123
@alexflav23 nice addon. Will update

[2015-11-08 18:58] alexflav23 commented on #123
Hi @raam86,

Please open separate issues if need be, I'd like to close this one as it will be easier to manage things individually.

[2015-11-08 18:58] #123 closed

[2015-11-08 22:02] alexflav23 commented on #337
@richbolen This is now available in phantom 1.14.2. We haven't added support for `UPDATE` clauses and the `fromJson` and `toJson` CQL clauses yet but it will come in a future release. Inserts are however available and working.

[2015-11-08 22:02] #337 closed

[2015-11-09 10:35] richbolen commented on #337
Thanks!  That was a quick turn-around.  I wasn't expecting it to be so quick so I went ahead and modified your code to add both insert and select JSON support.  I was going to submit it back to you.

Funny, I went back and forth between creating a new query type and extending the existing query types.  I ended up extending the existing types but it looks adding a new query type is cleaner.  A few

[2015-11-09 15:24] mmatloka opened #347 "Prepared statement "Codec not found for requested operation""
Hi,
I am testing phantom `0.14.2` and I have some problem with a prepared statement. I've got a statement where one comparision is a string and a second is an enum:
[code]
result is:
[code]

[2015-11-09 15:26] alexflav23 commented on #347
Hi @mmatloka ,

This is well expected given the novelty of prepared statements, there is no codec inside the Java driver itself for Scala enums. Anyway, thank you for reporting this, we will fix it shortly.

Regards.

[2015-11-10 03:54] timcharper commented on #313
This is good to know; would be nice to have been advised of this earlier :) I got all the way down to realize that my consistency level queries weren't working.

Nice work on the library.

[2015-11-11 10:15] alexflav23 commented on #347
Hi @mmatloka,

This should now be fixed as of phantom `1.15.0` that was just published to Bintray alongside the new support for Reactive Streams.

Regards.

[2015-11-12 09:06] mmatloka commented on #347
Hi @alexflav23 , are you sure its fixed? :) For me still occurs and I see in github history only commit related to Reactive Streams.

[2015-11-12 10:08] alexflav23 commented on #347
Hi @mmatloka,

You are correct, my apologies. It seems the one liner that fixes this wasn't checked in on the reactive streams branch. This should be fixed in the next incremental release.

Regards.

[2015-11-13 12:30] mmatloka opened #349 "Cassandra 2.2.x - aggregates support, min, max etc"
Since Cassandra 2.2.x is already stable, do Phantom supports `min`, `max` etc functions ? :)
http://christopher-batey.blogspot.com/2015/05/cassandra-aggregates-min-max-avg-group.html

[2015-11-13 13:29] alexflav23 commented on #349
Hi @mmatloka ,

We are in the process of releasing extensive support for all the fun features upcoming in Cassandra, including aggregates combined with extensive support for Spark. They will however only be available in the licensed version of phantom which we plan to release in Q1 2016.

It also bundles things like:
- automated schema resolutions
- automated SQL DB to Cassandra transitions

It wi

[2015-11-13 15:03] juanjovazquez opened #350 "Reactive Cassandra (with Phantom DSL)"
@alexflav23 We've noticed that you've [copied](https://github.com/websudos/phantom/pull/348/files) the [reactive-cassandra-phantom](https://github.com/Tecsisa/reactive-cassandra-phantom) code in your develop branch . This is perfectly ok as we licensed the software under the Apache 2.0 terms. This means that you liked the code so we're really happy about it!.

We really appreciate your effort in p

[2015-11-13 16:31] alexflav23 commented on #350
Hi @juanjovazquez ,

Many thanks for reaching out, indeed we have, we took the implementation and cleaned up some of the duplication and added a publisher on top of the existing subscriber implementation. The code is somewhat different, but we felt more widespread adoption of reactive streams might be beneficial and our friends at Typesafe also thought it might be a good idea to add native support

[2015-11-13 16:31] #350 closed

[2015-11-14 19:09] rkuhn opened #351 "RS: BatchActor over-subscribes if flushInterval is used"
Using the flushInterval will lead to less than batchSize elements being written in a batch, but when processing the ResultSet a full batchSize is requested from upstream, leading to unbounded growth of outstanding work (by violating the concurrentRequests limit).

[2015-11-14 19:11] rkuhn opened #352 "RS: BatchSubscriber should allow a stream of Throwables to be persisted"
Currently stream failures are sent to the BatchActor without wrapping them. If a data element (of type T) happens to be derived from Throwable then this will be mistaken as a stream failure instead of being written to Cassandra.

[2015-11-14 19:27] rkuhn opened #353 "RS: BatchSubscriber should check for overflow"
Requesting `batchSize * concurrentRequests` elements may overflow, in which case `Long.MaxValue` should be used to signal “infinite” demand (well, the reasonable thing to do would be to have a long educational chat with the developer in question, but a library cannot do that, so we should at least be RS compliant).

[2015-11-14 19:30] alexflav23 commented on #352
Hi Roland,

I hope you made it home ok and thanks for taking the time to provide feedback. Dully noted, we will add a wrapper class to avoid the potential culprit. I will update you as soon as that's patched, please feel free to provide any more feedback. At this point in time, extensive tests are also missing for the publisher so that's already on our TODO list.

Regards.

[2015-11-16 10:14] razvan- opened #354 "BigIntColumn seems to be processed as varint"
When:
object some_big_num extends BigIntColumn(this)

I get:
Value some_big_num is of type bigint, not varint

Maybe because of:
https://github.com/websudos/phantom/blob/develop/phantom-dsl/src/main/scala/com/websudos/phantom/builder/primitives/Primitive.scala#L326-L328

[2015-11-16 10:25] alexflav23 commented on #354
Hi Razvan,

Thank you for getting in touch, however Cassandra doesn't have a `BigInt` type in its predefined type list, instead it defines `varint` as a variable length integer, or in other words a `BigInt` equivalent. We obviously have tests covering the definition, compilation, storage and retrieval of `BigInt` primitives without error and all I can suggest is that you take a look at the similar

[2015-11-16 10:31] razvan- commented on #354
Hmm. I just started using c* a couple of weeks ago so may be that it got added recently: http://docs.datastax.com/en/cql/3.1/cql/cql_reference/cql_data_types_c.html

[2015-11-16 10:32] alexflav23 commented on #354
Hi,

That seems to be the case, the current version of the Java Driver doesn't even have any support for extracting a `BigInt`, at least not in the version currently behind phantom. I'll chat with someone on their side about this, I'm sure if they released it there's an update in their driver somewhere too.

Thank you for pointing this out.

Regards.

[2015-11-16 11:02] razvan- commented on #354
Awesome (y)

[2015-11-16 12:37] razvan- commented on #354
fyi: Seems it matches java's long:
http://docs.datastax.com/en/developer/java-driver/1.0/java-driver/reference/javaClass2Cql3Datatypes_r.html

scala> r
res18: com.datastax.driver.core.Row = Row[s-blahblah, 1, woop]

scala> r.getLong("customer_id")
res17: Long = 1

[2015-11-17 08:44] rkuhn commented on #352
Thanks, Flavian!

[2015-11-17 10:11] alexflav23 commented on #354
Hi @razvan-,

So the `varint` is actually the correct type to use. The thing is the Java Driver internally, which extracts the `Row` from the Cassandra response will automatically match the requested extraction against the metadata of the table, so the call to `getVarint` would actually fail should the Cassandra column be something else.

As you don't really want a `BigInt` in the first place from

[2015-11-17 10:32] alexflav23 commented on #353
Hi @rkuhn,

We could enforce a `Math.multiplyExact` for Java 8 although this would imply a strong limitation on the entire library to depend on Java 8 for a small clause, maybe in a few years when version 7 is forgotten if ever.

For now I just copied the implementation of `Math.multiplyExact` and we can actively enforce the limitation at library level via:

[code]

Regards,
Flavian

[2015-11-17 15:33] rkuhn commented on #353
Looks good, but when inlining the code anyway I’d refrain from using exceptions for flow control—creating that ArithmeticException takes an insane amount of cycles. What about renaming to multiplyCapped or similar and just returning `Long.MaxValue` upon overflow?

[2015-11-17 15:37] alexflav23 commented on #353
Excellent suggestion, will update.

[2015-11-18 10:59] alexflav23 commented on #353
I think this can be closed now, the final result is [here](https://github.com/websudos/phantom/blob/feature/streams_improvement/phantom-reactivestreams/src/main/scala/com/websudos/phantom/reactivestreams/ReactiveCassandra.scala#L81).

[2015-11-18 11:05] rkuhn commented on #353
Yes, thanks!

[2015-11-18 11:05] #353 closed

[2015-11-18 11:08] alexflav23 commented on #352
We are now using a `WrappedRequest` to send elements regardless of their root type so there won't be any danger of running into the described issue. The workaround is [here](https://github.com/websudos/phantom/blob/feature/streams_improvement/phantom-reactivestreams/src/main/scala/com/websudos/phantom/reactivestreams/ReactiveCassandra.scala#L114) and the overheard/boilerplate should be minimal.

[2015-11-18 11:10] alexflav23 commented on #352
@rkuhn I also noticed on your patch branch on your fork of phantom(no PR yet from there as one of your comments suggested) that using `null` directly is preferred. I can certainly revert back to that inside the actor for retrieving the `ActorRef`.

[2015-11-18 11:14] rkuhn commented on #352
Wouldn’t it be more efficient to just wrap the Throwables and let the elements be sent without wrapping?

[2015-11-18 11:19] alexflav23 commented on #352
A great point as always, will update.

[2015-11-18 15:49] raam86 commented on #317
@alexflav23  at the very least you should point this out in the README. You didn't even update it here https://github.com/websudos/phantom-activator-template

[2015-11-18 16:36] raam86 commented on #296
I am facing the same issue with 1.12.2 and included the import

[2015-11-18 17:43] raam86 commented on #296
[code]
works while
[code]
Doesn't work. what gives?

[2015-11-18 18:09] raam86 opened #355 "select will not materialize to SelectQuery"
writing
[code]
return

`ROOTSELECTBLOCK` that doesn't have a where definition
while distinct and count returns SelectQuery which does have a where method.

Seems like I am missing something but what? This worked fine on 1.5.0

[2015-11-18 18:50] alexflav23 commented on #355
Hi @raam86 ,

You are missing one of the following:

- The `import com.websudos.phantom.dsl._` import at the top, which has an implicit conversion from `RootSelectBlock` to `SelectQuery.`
- An implicit `keySpace` definition in the scope where you are trying to compose the query.
- An implicit `session` definition in the scope where you are running the query.

The former 2 are fixed by using connec

[2015-11-18 18:50] alexflav23 commented on #354
Sounds like this issue is no longer a problem, I will close it for now, please let me know if you need further help!

[2015-11-18 18:50] #354 closed

[2015-11-18 18:52] alexflav23 commented on #352
@rkuhn This has now been fixed and ready to be closed, which just leaves us with the `flushInterval` problem. Being not super familiar with the reactive streams rules, I'm not sure how best to address this issue, although I do see how forcing execution could lead to more problems.

[2015-11-18 19:03] raam86 commented on #355
@alexflav23 Thank you for your help.

I actually tried running with distinct and got the keySpace error. after running with distinct I was able to use the dsl as usual.

Maybe it was the keySpace but it failed too early?

Anyways,
Cheers,

[2015-11-18 19:22] rkuhn commented on #352
Yes, looking good on the feature branch.

[2015-11-18 19:22] #352 closed

[2015-11-18 19:23] rkuhn commented on #351
The BatchActor will have to keep track of the size of each write batch and then only request that number of new elements when the database result comes back.

[2015-11-18 23:42] alexflav23 commented on #355
Hi @raam86,

I think you have successfully circumvented all written documentation on phantom, which I believe may be the root cause of this. The approach you are taking is dangerous as you are introducing blocking behaviour to a Netty channel.

`val connector = ContactPoints(hosts).keySpace("test")`

That will just give you the inner trait `connector.Connector` that you can mix in anywhere you nee

[2015-11-18 23:42] #355 closed

[2015-11-19 10:22] mmoulou commented on #339
i've the same issue with Token function, i don't know how tu use token function on phantom

[2015-11-19 15:48] alexflav23 commented on #347
Hi @mmatloka,

This is now fixed, it will be available in 1.16.0 to be released later today.

Regards.

[2015-11-19 15:48] #347 closed

[2015-11-20 12:36] mmatloka commented on #347
Thx!

[2015-11-20 12:46] mmatloka opened #358 "Prepared statement "Type mismatch, required V1""
Hi,
I have updated to phantom 1.16.0, and I have next issue with prepared statements :)

[code]

results in compilation errors:
[code]

[2015-11-20 12:54] alexflav23 commented on #358
You have to tuple single argument binds for reasons too complex to cover. Simply do:

[code]

[2015-11-20 14:48] mmatloka commented on #358
thx, works :)

:D

[2015-11-20 14:48] #358 closed

[2015-11-20 16:42] mmatloka opened #359 "Prepared statement - Codec not found for requested operation: [decimal <-> scala.math.BigDecimal]"
Like in the title :)

[2015-11-20 16:53] alexflav23 commented on #359
@mmatloka Would've probably been a good idea on our end to pre-sample this for all primitive types, but for reasons unknown it has yet to be done.

[2015-11-24 12:23] mmatloka opened #360 "Warning re-preparing prepared statement although created only once"
Hello again :)

I was trying to leverage prepared statements when I got:
```2015-11-24 13:09:08,925 [cluster1-nio-worker-1] WARN  com.datastax.driver.core.Cluster:2077 - Re-preparing already prepared query INSERT INTO .... Please note that preparing the same query more than once is generally an anti-pattern and will likely affect performance. Consider preparing the statement only once. ``` althoug

[2015-11-24 13:11] alexflav23 commented on #359
Hi @mmatloka,

This will be available in 1.17.0.

Regards.

[2015-11-24 13:11] #359 closed

[2015-11-24 13:12] mmatloka commented on #359
Thx

[2015-11-25 17:47] alexflav23 commented on #360
Hi @mmatloka,

This is now fixed in the upcoming `1.17.0`, it should be ready to go today.

Regards,
Flavian

[2015-11-26 01:38] #360 closed

[2015-11-26 11:22] mmatloka commented on #359
https://github.com/websudos/phantom/commit/372e73f1271f88fecef9a91d16dc310322751a06#commitcomment-14633460 to be reopened :)

[2015-11-30 14:33] alexflav23 commented on #330
Hi @velvia,

Version `1.17.3` now includes a token operator that supports token queries of any arity. There are some strange compiler bugs strill preventing full type-safety, which is to do with a limitation in shapeless `Generic` or the compiler itself.

You can write queries like the following, or the other way around with values first.

[code]
Regards.

[2015-11-30 14:33] #330 closed

[2015-11-30 21:23] velvia commented on #330
Is it possible to do queries of the form token(table.col1, table.col2) > myToken where myToken comes directly from the CQL driver Token class?   That’s what I really need.

[2015-12-06 10:57] raam86 commented on #355
Thanks alex I would love a link ContactPoints docs.

[2015-12-06 13:09] alexflav23 commented on #355
HI @raam86,

The blog post in question is [here](http://blog.websudos.com/2015/04/04/a-series-on-phantom-part-1-getting-started-with-phantom/).

Regards.

[2015-12-07 21:04] alexflav23 commented on #255
Docs are now published [here](http://phantom-docs.s3-website-eu-west-1.amazonaws.com/#package).

[2015-12-07 21:04] #255 closed

[2015-12-08 18:05] shayangz commented on #157
any update on this front?

[2015-12-09 04:13] andyzeli commented on #157
Kudos to Websudos on this phenomenal driver. however we really are in need of UDT support too...

[2015-12-10 12:16] alexflav23 commented on #313
Hi @timcharper ,

I think consistency level queries will be restored to good working order. There was a small version comparison issue inside phantom that was fixed and will be available in the next incremental release.

Regards.

[2015-12-10 12:16] #313 closed

[2015-12-10 19:19] shayangz opened #371 "syntax error in UPDATE statements using TTL"
When using an UPDATE statement with a TTL option, we are generating queries like this

[code]

instead of the correct syntax

[code]

This is resulting in a `com.datastax.driver.core.exceptions.SyntaxError` in 1.17.5.

This issue doesn't exist in 1.12.2.

[2015-12-10 19:22] alexflav23 commented on #371
Hi @shayangz,

Thank you for reporting this, it will be fixed very shortly.

Regards.

[2015-12-10 23:23] alexflav23 commented on #371
This is now fixed in `1.17.7`.

[2015-12-10 23:23] #371 closed

[2015-12-10 23:24] #349 closed

[2015-12-10 23:24] alexflav23 commented on #349
Hi @mmatloka,

I'm going to close this as it's not really a relevant issue for the OSS project. We will keep everyone up-to-date on the developments of the enterprise version.

Regards.

[2015-12-11 00:04] shayangz commented on #371
Thanks for jumping on this.

But I just tested again with 1.17.7 and I still see the issue. It doesn't look like the changes actually made it into the build for some reason.

[2015-12-11 00:11] alexflav23 commented on #371
Hi @shayangz,

I've added tests to the build so I'd say reload sbt or something just to be sure. If you could please double check and I'll do the same.

Regards.

[2015-12-11 20:38] shayangz commented on #371
Hi @alexflav23,

I tried again today deleting all cached older versions of phantom. I still hits that issue. Were you able to look on your side?

[code]

Thanks

[2015-12-15 17:01] coreyauger opened #377 "Inserting NULL values."
I am getting an issue where there are sometimes conditions in the system that are allowing for NULL values to be inserted.

Here is an example mapping
[code]

With a simple insert ...

[code]

I am seeing `organization` as null in some cases.  Not sure how this is possible since an exception should be thrown?

The only other update to this col happens with this call here.

[code]

I know I must be

[2015-12-15 17:38] crispywalrus opened #378 "Query builder doesn't place USING section last on INSERT"
The query here:

[code]

produces the cql ````INSERT INTO phantom.Recipes (url, ingredients) VALUES('test', ['test']) USING TTL 1000 IF NOT EXISTS```` This statement generates a syntax error on execution. The CQL should be ````INSERT INTO phantom.Recipes (url, ingredients) VALUES('test', ['test']) IF NOT EXISTS USING TTL 1000```` This seems to be due to a deliberate change to order the lightweight

[2015-12-15 17:44] crispywalrus commented on #378
To be clear, this is the documented syntax in all versions of CQL that support lightweight transactions. See here https://cassandra.apache.org/doc/cql3/CQL.html#insertStmt

[2015-12-15 17:49] coreyauger commented on #377
After digging around it appears this has to be caused from my update.  Sorry for the trouble.

[2015-12-15 17:49] #377 closed

[2015-12-15 19:05] crispywalrus commented on #378
Fixed with #379

[2015-12-15 19:05] #378 closed

[2015-12-15 22:08] crispywalrus opened #380 "adding consistencyLevel_ to a select causes a double where clause"
select.where(...).consistencyLevel_=(...) ends up generating the cql "SELECT ... WHERE ... WHERE ...;"

[2015-12-16 14:42] alexflav23 commented on #380
@crispywalrus This is now fixed and will be available in `1.18.0`.

[2015-12-16 14:42] #380 closed

[2015-12-16 17:22] crispywalrus commented on #380
That's quick! you got this before I'd even figured out where the problem was, thanks a lot.

[2015-12-16 18:15] shayangz commented on #371
Ok, I did some more digging. This works properly if my query is constructed as

[code]

but if you do

[code]

it will generate the wrong syntax.

So, I have a workaround for this now, but I think it would be best to fix this part of the issue too.

[2015-12-18 19:51] lahirug opened #386 "Cannot use prepare statement - Cannot prove that VL1 =:= Reversed."
First I am not sure this is my user error or not. I have a very simple code for preparestatement and I get following error in bind line.

TimeSeriesBySessionUuidAndKey.scala:110: Cannot prove that VL1 =:= Reversed.

This is my code:
  def prepareInsert(timeSeries: TimeSeriesValue): Future[ResultSet] = {
    val query = insert
      .p_value(_.sessionId, ?)
      .p_value(_.key, ?)
      .p_value(_

[2015-12-18 22:59] lahirug commented on #386
This weired error comes when simply follow the phantom prepare statement sample. This is because of scala not picking the tuple for the bind statement. I think its a good idea to fix the sample with paranthesis for the tuple.

query.bind(
(timeSeries.sessionId,
  timeSeries.key,
  timeSeries.time,
  timeSeries.value
)).future()

[2015-12-19 09:27] alexflav23 commented on #386
HI @lahirug ,

Yes, this is an error on your end, but it's a simple one to fix. Basically, you need to make you provide bind arguments that exactly match the bind order, which is something you are already doing.

Now, the type of one of your arguments `timeSeries.sessionId`, `timeSeries.key`, `timeSeries.time`, `timeSeries.value` is not matching the type phantom expects for that kind of column. A

[2015-12-22 17:47] raam86 commented on #355
Thanks. That was helpful

[2015-12-24 00:33] #386 closed

[2015-12-29 00:30] skuppa opened #387 "Duplicate repository definition"
I am using the `phandom-dsl_2.11:1.18.1` in my project.  The project is a multi module gradle project and one of the module is a cassandra module which uses the phandom library.  While compiling, I get the following error.
[code]

Looking at the pom (https://dl.bintray.com/websudos/oss-releases/com/websudos/phantom-dsl_2.11/1.18.1/:phantom-dsl_2.11-1.18.1.pom), it is clear that pom has duplicate r

[2015-12-29 13:47] alexflav23 commented on #387
Hi @skuppa,

You are free to check the build definition yourself inside SBT, I don't see any duplicates. Obviously the `.pom` is generated on the fly and I'm not sure which part of the pipeline deals with that, I would assume SBT. We don't have any man power to spend on this at present times.

Regards.

[2016-01-11 12:24] mmoulou opened #396 "Prepared Statement using DSL"
Hello,
I have updated "the version" to phantom 1.20.0, i'm trying to use PreparedStatements with phantom Dsl and i'm facing some issues with insert queries using TTL & with SELECT and UPDATE queries,

i've the query below:

insert
      .value(_.accountId, viewByAccount.accountId)
      .value(_.contentId, viewByAccount.contentId)
      .value(_.viewId, viewByAccount.viewId)
      .ttl(ttl)

that

[2016-01-11 15:36] GoldenZero opened #397 "java.lang.NoSuchMethodError: com.google.common.reflect.TypeToken.isPrimitive"
Hi,
I'm trying to update phantom-dsl from 1.10.1 to any >1.18.0 but I'm getting this error:

java.lang.NoSuchMethodError: com.google.common.reflect.TypeToken.isPrimitive()Z
	at com.datastax.driver.core.TypeCodec.<init>(TypeCodec.java:406)
	at com.datastax.driver.core.TypeCodec.<init>(TypeCodec.java:400)
	at com.datastax.driver.core.TypeCodec$BlobCodec.<init>(TypeCodec.java:947)
	at com.datastax.dr

[2016-01-11 15:53] alexflav23 commented on #397
Hi @GoldenZero ,

You are obviously getting a version conflict because you have a previous version of Guava in the classpath(or possibly a newer one than the one phantom uses). Try removing any direct references to Guava from your build or find out which is the offending dependency.

Regards.

[2016-01-11 16:51] GoldenZero commented on #397
Hi @alexflav23

My application depends only on guava 16.0.1 which's the same version used by phantom

[code]

[code]

[2016-01-11 16:54] alexflav23 commented on #397
hi @GoldenZero ,

You should double check that or remove your Guava deps altogether, let phantom set it's own course. There's nothing we can do to help anyway since this is a local conflict issue.

Try removing your stuff and try again, at least you will isolate the problem.

Regards.

[2016-01-11 17:27] GoldenZero commented on #397
Thank you @alexflav23
The issue is solved now, the problem was conflict with guava jdk5, and it was solved by updating the google-api-java-client
more details: https://github.com/google/google-api-java-client/issues/903

Cheers,

[2016-01-11 17:27] #397 closed

[2016-01-12 15:42] kim-liedtke-rocket opened #399 "Impossible to get writetime"
Hi,
It seems to be impossible to retrieve the writetime for a field using phantom.
Am I missing something or is this true?

[2016-01-12 17:25] alexflav23 commented on #396
Hi @mmoulou ,

Seems there has been a merge regression that we will address very shortly, many thanks for pointing that out. TTL methods don't yet have a prepared version but that will be added in a future incremental release as well.

Regards,
Flavian

[2016-01-12 17:34] alexflav23 commented on #396
Hi @mmoulou,

It's also worth noting the DSL for prepared statements has slightly changed, and for a very good reason. Have a look (here)[https://github.com/websudos/phantom/blob/develop/phantom-dsl/src/test/scala/com/websudos/phantom/builder/query/prepared/PreparedSelectQueryTest.scala] for examples.

[2016-01-15 14:29] alexflav23 commented on #396
Hi @mmoulou,

This has all been fixed in `1.21.0`, conditional update queries are still not preparable in a typesafe way but we will add that in the next incremental release. This should be live and on Maven Central later today.

Regards,
Flavian

[2016-01-17 22:07] alexflav23 commented on #399
@kim-liedtke-rocket,

Phantom `1.21.0` fixes this with: `db.table.select.function(t => writetime(t.column)).where(_.bla eqs bla)`

[2016-01-17 22:07] #399 closed

[2016-01-17 22:08] alexflav23 commented on #396
Hi @mmoulou ,

`1.21.0` is now live, prepared TTL binds are not supported though, Cassandra throws an error.

[2016-01-17 22:08] #396 closed

[2016-01-18 19:47] dbakarcic opened #402 "Not able to configure LeveledCompactionStrategy subproperties"
Hi there,
 I wanted to configure some specific subproperties for the `LeveledCompactionStrategy` (LCS) at table creation time, but looking at the docs or the source code I didn't find a way to do so. The only options I found are for the `SizeTieredCompactionStrategy` (STCS), and the implementation is the following:

[code]

The first thing that comes to my mind is offering a similar implementation

[2016-01-19 11:31] alexflav23 commented on #402
Hi @dbakarcic,

All fixed in `1.21.2`, should be on Bintray in the next hour, just waiting for CI to finish.

Regards.

[2016-01-19 11:31] #402 closed

[2016-01-24 10:17] zouzias opened #405 "Sbt assembly issue"
Following the example of phantom-dsl in

http://blog.websudos.com/2015/04/04/a-series-on-phantom-part-1-getting-started-with-phantom/

I created the following project: https://github.com/zouzias/cassandra-phantom-example . I think there is an issue with phantom-dsl version `1.21.0` when using `sbt assembly`. More precisely, having this sbt configuration

[code]

You get the following error

[code]

[2016-01-24 10:22] alexflav23 commented on #405
Hi @zouzias,

`phantom-testkit` is now deprecated so I'm not sure how your build even resolves with `1.12.2`. About this problem in particular, it's relatively outside of our control, since it's brought in by our indirect dependency on Netty.

Anyway, something like this should do the trick:

[code]
I'm not 100% sure if this file is needed at runtime, because if it isn't you can also use `MergeStr

[2016-01-24 19:21] zouzias commented on #405
Hi @alexflav23 ,

Thank you for the prompt reply.

Didn't know that `phantom-testkit` is deprecated.

I think it might be a good idea to document the above merge strategy for those using `sbt assembly`. We also resolved the problem with the same mergeStrategy, see https://github.com/zouzias/cassandra-phantom-example/blob/master/build.sbt

[2016-01-24 19:21] #405 closed

[2016-01-25 16:25] gvolpe opened #406 "Creation of keyspace permission problems"
Hi, I'm actually having problems to get a connection when the [DefaultSessionProvider](https://github.com/websudos/phantom/blob/develop/phantom-connectors/src/main/scala/com/websudos/phantom/connectors/DefaultSessionProvider.scala#L40) tries to create a keyspace if not exists. I think this action should be configurable.

This is the exception:
[code]

The problem is the user "test" does not have p

[2016-01-28 03:19] lahirug commented on #123
Can you please support prepare insert for a Seq, if I have large number of rows to insert I have to bind them for each tuple (Please correct me if I am wrong), and gather each future return from bind. Is there a better way to do bulk insert ?

[2016-01-28 08:17] alexflav23 commented on #123
HI @lahirug,

There is a way to do batch inserts, however it is not currently possible to bind from collections. We may address that in the future. One of the best parts of phantom binds is typesafety, so we need to make sure that will be unharmed by introducing a container type.

I'll add a ticket for this internally and keep you posted, meanwhile `Future.sequence` will always be faster performan

[2016-01-28 08:25] alexflav23 commented on #123
Also, this doesn't look very difficult.

`val insertions = Future.sequence(seq.map (item => query.bind(item).future()))`. I'm assuming here inside the sequence all the elements already have the correct tuple type expected by the bind. Otherwise, very much a one liner anyway.

This is all off the top of my head, so please let me know if I am missing anything at all.

Regards,
Flavian

[2016-01-28 16:34] sbrnunes opened #407 "Cannot add multiple Where clauses when creating a PreparedStatement"
Hi,

I'm getting the error bellow when trying to create a prepared statement with multiple where clauses, using Phantom:
[code]

The error:
[code]

I suspect the problem is in the implicit declared in the `p_and` method, in the `UpdateQuery` class:
[code]

Shoul it be `=:= Chained` instead of `=:= Unchained` ?

[2016-01-28 17:24] alexflav23 commented on #407
@sbrnunes,

Indeed, you have indicated the correct error. Any chance you could submit a PR for this and I'll do a release for you?

Regards.

[2016-01-28 17:28] sbrnunes commented on #407
Ok, I'll probably need a couple of hours to set-up the project, make the fix and ensure I don't break any tests. I'll keep you posted.
Thanks.

[2016-01-28 17:44] alexflav23 commented on #407
Hi @sbrnunes, I've already done it, many thanks though. I had a spare 2 minutes and took advantage of it.

[2016-01-28 17:52] sbrnunes commented on #407
Ok, thanks a lot for that. Appreciated. :)

[2016-01-28 18:09] alexflav23 commented on #407
Hi @sbrnunes , `1.21.3` is already on Bintray. Happy to hear phantom made its way to Zendesk.(if that's the case).

[2016-01-28 18:09] #407 closed

[2016-01-28 18:11] alexflav23 commented on #406
Hi @gvolpe,

We will look into this, happy to see phantom rocking the boat at Paddy. Should hopefully be a quick fix and release, I will keep you posted.

Regards.

[2016-01-28 20:07] lahirug commented on #123
@alexflav23 Thanks for the response, that sounds reasonable to have one future for the set.

[2016-01-28 20:15] gvolpe commented on #406
Thanks Alex! At the moment I'm using it with this workaround: https://github.com/gvolpe/phantom-ssl-extension

[2016-01-29 00:15] lahirug commented on #123
I have my own column type defined and looks like bind is failing for those. Can you please advice on how should I deal with it.

[2016-01-29 00:34] lahirug opened #409 "prepare statement bind is failing with custom types"
I have introduced new type and tried to insert it with a prepare statement and it failed with this error,

com.datastax.driver.core.exceptions.CodecNotFoundException: Codec not found for requested operation: [timestamp <-> java.time.OffsetDateTime]

But when I just do an insert it worked without prepare-statement. I wonder what am I missing.

[2016-01-29 01:34] alexflav23 commented on #409
You need to add a new codec in the `CodecRegistry`. This is to do with how the Java driver prepares statements, not much to do with phantom unfortunately. I will look for an example somewhere, but just look at the registry and you should be able to infer what needs to be done.

[2016-01-30 02:08] lahirug commented on #409
Looks like I have to write java code to get this working ? Or is there a way to deal with this by writing the codec in Scala but I don't find any useful docs on that topic.

[2016-01-30 03:23] lahirug commented on #409
I wrote the Codec and I have the custom type defined as below,
  /** OffsetDateTime in Cassandra (in the configured timezone), consider also storing the timezone offset */
  implicit object OffsetDateTimePrimitive extends Primitive[OffsetDateTime] {
    override type PrimitiveType = Date
    val cassandraType = CQLSyntax.Types.Timestamp
    def fromRow(row: Row, name: String): Option[OffsetDateTim